@import "compass";



/*-------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------*/
@mixin pseudo-block($width: auto, $height: auto, $content: " ") {
	display: block;
	position: absolute;
	content: $content;
	width: $width;
	height: $height;
}

/* font smoothing */
@mixin font-smoothing($value: on) {
    @if $value == 'on' {
        -webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-ms-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
	}
}

/* rem fontsize with pixel fallback */
@mixin font-size($val) {
    font-size: ($val * 20) + px;
    font-size: $val + rem;
}


/*------------------------------------------------------------------------------
  ICONS
------------------------------------------------------------------------------*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?53450175#icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-food:before { content: '\21'; } /* '!' */
.icon-box:before { content: '\e800'; } /* 'Ó†Ä' */
.icon-search:before { content: '\e801'; } /* 'Ó†Å' */
.icon-left-open-mini:before { content: '\e802'; } /* 'Ó†Ç' */
.icon-right-open-mini:before { content: '\e803'; } /* 'Ó†É' */
.icon-up-open-mini:before { content: '\e804'; } /* 'Ó†Ñ' */
.icon-down-open-big:before { content: '\e805'; } /* 'Ó†Ö' */
.icon-left-open-big:before { content: '\e806'; } /* 'Ó†Ü' */
.icon-right-open-big:before { content: '\e807'; } /* 'Ó†á' */
.icon-up-open-big:before { content: '\e808'; } /* 'Ó†à' */
.icon-pencil:before { content: '\e809'; } /* 'Ó†â' */
.icon-home:before { content: '\e80a'; } /* 'Ó†ä' */
.icon-info-circled:before { content: '\e80b'; } /* 'Ó†ã' */
.icon-star:before { content: '\e80c'; } /* 'Ó†å' */
.icon-star-empty:before { content: '\e80d'; } /* 'Ó†ç' */
.icon-book-open:before { content: '\e80e'; } /* 'Ó†é' */
.icon-camera:before { content: '\e80f'; } /* 'Ó†è' */
.icon-picture:before { content: '\e810'; } /* 'Ó†ê' */
.icon-layout:before { content: '\e811'; } /* 'Ó†ë' */
.icon-menu:before { content: '\e812'; } /* 'Ó†í' */
.icon-check:before { content: '\e813'; } /* 'Ó†ì' */
.icon-cancel:before { content: '\e814'; } /* 'Ó†î' */
.icon-plus:before { content: '\e815'; } /* 'Ó†ï' */
.icon-minus:before { content: '\e816'; } /* 'Ó†ñ' */
.icon-help:before { content: '\e817'; } /* 'Ó†ó' */
.icon-link:before { content: '\e818'; } /* 'Ó†ò' */
.icon-export:before { content: '\e819'; } /* 'Ó†ô' */
.icon-print:before { content: '\e81a'; } /* 'Ó†ö' */
.icon-comment:before { content: '\e81b'; } /* 'Ó†õ' */
.icon-chat:before { content: '\e81c'; } /* 'Ó†ú' */
.icon-bell:before { content: '\e81d'; } /* 'Ó†ù' */
.icon-location:before { content: '\e81e'; } /* 'Ó†û' */
.icon-direction:before { content: '\e81f'; } /* 'Ó†ü' */
.icon-compass:before { content: '\e820'; } /* 'Ó††' */
.icon-doc:before { content: '\e821'; } /* 'Ó†°' */
.icon-phone:before { content: '\e822'; } /* 'Ó†¢' */
.icon-cog:before { content: '\e823'; } /* 'Ó†£' */
.icon-tools:before { content: '\e824'; } /* 'Ó†§' */
.icon-share:before { content: '\e825'; } /* 'Ó†•' */
.icon-calendar:before { content: '\e826'; } /* 'Ó†¶' */
.icon-mic:before { content: '\e827'; } /* 'Ó†ß' */
.icon-clock:before { content: '\e828'; } /* 'Ó†®' */
.icon-doc-landscape:before { content: '\e829'; } /* 'Ó†©' */
.icon-ccw:before { content: '\e82a'; } /* 'Ó†™' */
.icon-arrows-ccw:before { content: '\e82b'; } /* 'Ó†´' */
.icon-target:before { content: '\e82c'; } /* 'Ó†¨' */
.icon-bulletlist:before { content: '\e82d'; } /* 'Ó†≠' */
.icon-monitor:before { content: '\e82e'; } /* 'Ó†Æ' */
.icon-mobile:before { content: '\e82f'; } /* 'Ó†Ø' */
.icon-chart-line:before { content: '\e830'; } /* 'Ó†∞' */
.icon-chart-pie:before { content: '\e831'; } /* 'Ó†±' */
.icon-chart-bar:before { content: '\e832'; } /* 'Ó†≤' */
.icon-megaphone:before { content: '\e833'; } /* 'Ó†≥' */
.icon-database:before { content: '\e834'; } /* 'Ó†¥' */
.icon-flow-tree:before { content: '\e835'; } /* 'Ó†µ' */
.icon-basket:before { content: '\e836'; } /* 'Ó†∂' */
.icon-attach:before { content: '\e837'; } /* 'Ó†∑' */
.icon-eye:before { content: '\e838'; } /* 'Ó†∏' */
.icon-lock-open:before { content: '\e839'; } /* 'Ó†π' */
.icon-lock:before { content: '\e83a'; } /* 'Ó†∫' */
.icon-dot-3:before { content: '\e83b'; } /* 'Ó†ª' */
.icon-globe:before { content: '\e83c'; } /* 'Ó†º' */
.icon-user:before { content: '\e83d'; } /* 'Ó†Ω' */
.icon-users:before { content: '\e83e'; } /* 'Ó†æ' */
.icon-back:before { content: '\e83f'; } /* 'Ó†ø' */
.icon-bookmark:before { content: '\e840'; } /* 'Ó°Ä' */
.icon-block:before { content: '\e841'; } /* 'Ó°Å' */
.icon-info:before { content: '\e842'; } /* 'Ó°Ç' */
.icon-flag:before { content: '\e843'; } /* 'Ó°É' */
.icon-attention:before { content: '\e844'; } /* 'Ó°Ñ' */
.icon-help-circled:before { content: '\e845'; } /* 'Ó°Ö' */
.icon-kochtopf:before { content: '\e846'; } /* 'Ó°Ü' */

/*------------------------------------------------------------------------------
  ICONS DISHLABELS
------------------------------------------------------------------------------*/
[class*="dishlabel-icon"] {
	font-family: 'icon-dishlabels';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	@include font-smoothing(on);
}

[class*="dishlabel-icon"]:before {
	display: block;
	width: 1em;
	height: 1em;
}

/* vegetarisch */
.dishlabel-icon-76:before {
	content: "\76";
}
/* vegan */
.dishlabel-icon-56:before {
	content: "\56";
}
/* tagesmenue */
.dishlabel-icon-74:before {
	content: "\74";
}
/* schwein */
.dishlabel-icon-73:before {
	content: "\73";
}
/* rind */
.dishlabel-icon-72:before {
	content: "\72";
}
/* fisch */
.dishlabel-icon-66:before {
	content: "\66";
}
/* chili */
.dishlabel-icon-63:before {
	content: "\63";
}
/* knoblauch */
.dishlabel-icon-6b:before {
	content: "\6b";
}
/* zwiebel */
.dishlabel-icon-7a:before {
	content: "\7a";
}
/* Bio Siegel */
.dishlabel-icon-62:before {
	content: "\62";
}
/* laktosefrei */
.dishlabel-icon-6c:before {
	content: "\6c";
}
/* huhn */
.dishlabel-icon-68:before {
	content: "\68";
}
/* vebu */
.dishlabel-icon-31:before {
	content: "\31";
}
/* roter punkt */
.dishlabel-icon-70:before {
	content: "\70";
}
/* lamm */
.dishlabel-icon-6d:before {
	content: "\6d";
}

/*-------------------------------------------------------------------
  COLORS
-------------------------------------------------------------------*/
$black:					#000;
$white:					#fff;

/* COLORS */
$dark-grey:				#292424;
$red:					#bd0f1f;
$purple:				#a2709a;
$blue:					#5680a2;
$light-blue:			#6da3ae;
$green:					#6b9480;
$orange:				#dc9244;
$dark-orange:			#b84d1b;
$beige:					#977c6b;
$rose:					#d57575;
$green:					#93ae40;


$body-background-color: $dark-grey;
$text-color: #eee;
$heading-color: $white;

$link-color: $red;

$message-background-color: #FFFFE0;
$message-border-color: #E6DB55;
$message-color: #CC9F3B;

$error-background-color: #FFE6E6;
$error-border-color: #F27070;
$error-color: #DD6666;

$success-background-color: #EFF8E6;
$success-border-color: #D6EEBD;
$success-color: #89A270;


/*-------------------------------------------------------------------
  COLORS WEB APP
-------------------------------------------------------------------*/
/* HEADER */
$header-background-color: $black;
$header-text-color: $white;

/* VIEW */
$view-background-color: $dark-grey;

/* PAGE */
$page-inner-background-color: $white;
$page-inner-text-color: #565656;

/* FOOTER */
$footer-background-color: $black;
$footer-text-color: $white;

/*-------------------------------------------------------------------
  TYPOGRAPHY
-------------------------------------------------------------------*/
$text-font: 'RotisSansSerifStd-Light', Helvetica, Arial, sans-serif;
$text-font-size: 15px;
$text-line-height: 1.4;
$text-margin-top: 20px;

@mixin text-font {
	font-family: $text-font;
	font-size: $text-font-size;
	line-height: $text-line-height;
}

$heading-font: 'RotisSansSerifStd-Bold', Helvetica, Arial, sans-serif;
$heading-font-size: 100px;
$heading-letter-spacing: 0.02em;
$heading-line-height: 0.8;

@mixin heading-font {
	font-family: $heading-font;
	font-size: $heading-font-size;
	line-height: $heading-line-height;
}

$title-font: $heading-font; // only to prevent errors during development


/*-------------------------------------------------------------------
  VARS SCREEN COUNTER
-------------------------------------------------------------------*/
$screen-counter-width: 1920px;
$screen-counter-height: 1078px; /* 1080px - 2px overflow for kiosk mode */

$screen-counter-margin-left: 60px;

$screen-content-width: 1525px;

$screen-counter-title-font-size: 305px;
$screen-counter-title-line-height: 1;

$screen-counter-dish-font-size: 55px;
$screen-counter-dish-line-height: 1.125;
$screen-counter-dish-margin-top: .5em;
$screen-counter-dish-en-us-font-size: 40px;
$screen-counter-dish-en-us-margin-top: 0;


$screen-counter-price-font-size: $screen-counter-dish-font-size;
$screen-counter-price-small-font-size: 24px;

$screen-counter-dish-label-font-size: 45px;
$screen-counter-side-dish-label-font-size: 35px;

$screen-counter-categories-margin-top: 10px;

$screen-counter-category-container-padding-top: 30px;
$screen-counter-category-container-padding-right: 50px;

$screen-counter-footnote-font-size: 18px;
$screen-counter-footnote-margin-bottom: 20px;

$screen-counter-nutrition-legend-height: 310px;
$screen-counter-nutrition-legend-item-offset: 30px;
$screen-counter-nutrition-legend-item-width: 75px;
$screen-counter-nutrition-legend-font-size: 36px;
$screen-counter-nutrition-item-font-size: 30px;
$screen-counter-nutrition-item-offset: -8px;


/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU
-------------------------------------------------------------------*/
$screen-daily-menu-width: $screen-counter-width;
$screen-daily-menu-height: $screen-counter-height;

$screen-daily-menu-margin-left: $screen-counter-margin-left;
$screen-daily-menu-margin-right: 40px;
$screen-daily-menu-left-col-width: 1200px;
$screen-daily-menu-right-col-width: 655px;

$screen-daily-menu-title-font-size: 85px;
$screen-daily-menu-title-line-height: 72px;

$screen-daily-menu-dish-font-size: 30px;
$screen-daily-menu-dish-line-height: 1.125;
$screen-daily-menu-dish-margin-top: 15px;
$screen-daily-menu-dish-en-us-font-size: 24px;
$screen-daily-menu-dish-en-us-margin-top: .1em;

$screen-daily-menu-price-font-size: 36px;

$screen-daily-menu-dish-label-font-size: 30px;

$screen-daily-menu-categories-margin-top: 5px;

$screen-daily-menu-category-container-padding-top: 15px;
$screen-daily-menu-category-container-padding-right: 15px;

$screen-daily-menu-side-title-font-size: 60px;
$screen-daily-menu-side-title-line-height: 50px;
$screen-daily-menu-side-dish-font-size: 26px;
$screen-daily-menu-side-dish-line-height: 1;
$screen-daily-menu-side-dish-margin-top: 10px;
$screen-daily-menu-side-dish-en-us-font-size: $screen-daily-menu-side-dish-font-size;
$screen-daily-menu-side-dish-en-us-margin-top: .1em;
$screen-daily-menu-side-price-font-size: $screen-daily-menu-side-dish-font-size;
$screen-daily-menu-side-categories-margin-top: 40px;

$screen-daily-menu-footnote-font-size: 18px;



/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU PHOTO LANDSCAPE
-------------------------------------------------------------------*/
$screen-daily-menu-photo-landscape-width: 1920px;
$screen-daily-menu-photo-landscape-height: 1079px;

$screen-daily-menu-photo-landscape-margin-left: 70px;
$screen-daily-menu-photo-landscape-margin-bottom: 50px;

$screen-daily-menu-photo-landscape-side-content-width: 500px;

$screen-daily-menu-photo-landscape-title-font-size: 54px;

$screen-daily-menu-photo-landscape-dish-font-size: 31px;

$screen-daily-menu-photo-landscape-category-container-padding-top: 20px;

$screen-daily-menu-photo-landscape-footnote-font-size: 11px;




/*-------------------------------------------------------------------
  VARS SCREEN INFO MESSAGE
-------------------------------------------------------------------*/
$screen-info-message-font-size: 35px;
$screen-info-message-line-height: 1.125;
$screen-info-message-margin-top: 30px;


/*-------------------------------------------------------------------
  VARS MOBILE WEEKLY MENU
-------------------------------------------------------------------*/
$mobile-weekly-menu-margin-top: 85px;
$mobile-weekly-menu-margin-left: 10px;
$mobile-weekly-menu-margin-right: 20px;

$mobile-weekly-menu-padding: 10px;

$mobile-weekly-menu-header-font-size: 26px;
$mobile-weekly-menu-subtitle-font-size: 20px;

$mobile-weekly-menu-text-font-size: 15px;
$mobile-weekly-menu-text-line-height: 1.4;

$mobile-weekly-menu-foodcategory-font-size: 34px;

$mobile-weekly-menu-page-link-font-size: 22px;

$mobile-weekly-menu-dish-font-size: 15px;
$mobile-weekly-menu-dish-line-height: 1.2;

$mobile-weekly-menu-price-font-size: 15px;
$mobile-weekly-menu-price-small-font-size: 12px;

$mobile-weekly-menu-dish-label-font-size: 17px;

$mobile-weekly-menu-dish-voting-font-size: 17px;



/*-------------------------------------------------------------------
  MEDIA QUERIES
-------------------------------------------------------------------*/
$break-large: 960px; /* min-width for large display styles */

/*-------------------------------------------------------------------
  TRANSITIONS
-------------------------------------------------------------------*/
$default-transition-duration: 0.3s;

