/*-------------------------------------------------------------------
  DISPLAY TEMPLATE PAGE
-------------------------------------------------------------------*/
.DisplayTemplatePageLandscape {
	cursor: default;
	background-color: $white;
	color: $black;
	font-family: $text-font;
	/* Better Font Rendering */
	@include font-smoothing(on);
}

.DisplayTemplatePageLandscape #container,
.DisplayTemplatePageLandscape #container .inner-article {
	background-color: $white;
	color: $black;
	overflow: hidden;
	width: $screen-daily-menu-width;
	height: $screen-daily-menu-height;
}

.DisplayTemplatePageLandscape #container .inner-article {
	position: relative;
}

/* Bildschirmausgabe um 90° gegen den Uhrzeigersinn gedreht */
.DisplayTemplatePageLandscape.rotated {
	overflow: hidden;
	position: absolute;
	@include transform(rotate(-90deg), translate3d(0, 0, 0));
	@include transform-origin(0.5 * $screen-daily-menu-width, 0.5 * $screen-daily-menu-width); /* half width of screen > rotate around center */
	@include font-smoothing(on);
}

/* Bildschirmausgabe um 90° im Uhrzeigersinn gedreht */
.DisplayTemplatePageLandscape.rotated__clockwise {
	@extend .DisplayTemplatePageLandscape.rotated;
	@include transform(rotate(90deg));
	@include transform-origin(0.5 * $screen-daily-menu-height, 0.5 * $screen-daily-menu-height); /* half height of screen > rotate around center */
}
