

/*-------------------------------------------------------------------
  TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.adresse-eingerueckt,
.adresse-eingerueckt-lang {
	float: left;
	width: 45px;
}

.adresse-eingerueckt-lang {
	width: 80px;
}

/* SYSTEM MESSAGES */
.message,
form label.required {
	display: block;
	padding: 10px;
	background-color: #fdda69;
	color: #fff;
}

.message.required,
.message.validation,
.message.bad,
form label.required {
	background-color: #FE0000;
}

.message.required,
.message.validation,
form label.required {
	margin-top: 5px;
}

.message.success {
	border-color: #137f00;
	background-color: #d6ffcf;
	color: #137f00;
}


/* SEARCH RESULTS */
#SearchResults li {
	background: none;
	padding-left: 0;
	margin: 0;
}

#SearchResults h3 a {
	padding: 0;
	background-color: transparent;
	text-shadow: none;
}

#SearchResults h3 a:hover,
#SearchResults h3 a:active,
#SearchResults h3 a:focus {
	color: #cf0601;
}

.highlight {
	font-weight: bold;
}

/* PAGE NUMBERS */
#PageNumbers {
	margin-top: 36px;
}

#PageNumbers li {
	float: left;
	padding: 0;
	margin: 0 2px;
}

#PageNumbers a,
#PageNumbers .current {
	background-color: #ad0501;
	color: #fff;
	display: block;
	padding: 5px 10px;
}

#PageNumbers a:hover,
#PageNumbers a:active,
#PageNumbers a:focus {
	background-color: #cf0601;
}

#PageNumbers .current {
	font-weight: bold;
	color: #303134;
	background-color: #e1e2e4;
}


/*-------------------------------------------------------------------
IMAGES
-------------------------------------------------------------------*/
img {
	line-height: 0;
	color: #000;	/* set color so that it has enaough contrast to background-color */
}


/*-------------------------------------------------------------------
LINKS
-------------------------------------------------------------------*/

/* link to external website that is opened in a new window */
a.externer_link {
}

/* link that open popup window (fancybox required) */
a.popup {
}


/*-------------------------------------------------------------------
  FORMS 
-------------------------------------------------------------------*/
fieldset legend {
	display: none;
}

label {
	display: block;	
}

.checkbox label {
	display: inline;
}

.text,
.textarea,
.password,
.checkbox,
.email,
.select,
.Actions {
	margin-top: 20px;
}

.text input,
.textarea input,
.password input,
.email input,
textarea,
select,
input.action {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.text input,
.password input,
.email input,
textarea {
	@include box-sizing(border-box);
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border: none;
	color: #999;
	font-size: 24px;
	line-height: 30px;
	@include single-box-shadow(1px, 1px, 2px, 0, rgba(0,0,0,0.8), inset);
}

.text input:focus,
.password input:focus,
textarea:focus {
	color: #000;
}

textarea {
	font-size: 100%;
}

.text input.short {
	width: 100px !important;	
}

/* BUTTON */
.button,
input.action {
	border: solid 0 #fff;
	margin: 0 15px 0 0;
	display: -moz-inline-stack;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	color: #fff; 
	background-color: #06e;
	text-shadow: -1px -1px 0 rgba(0,0,0,.4);
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	
	-webkit-transition: background-color 150ms ease-in-out;
	-moz-transition: background-color 150ms ease-in-out;
	-ms-transition: background-color 150ms ease-in-out;
	-o-transition: background-color 150ms ease-in-out;
	transition: background-color 150ms ease-in-out;
}

input.action:hover,
input.action:focus {
	background-color: #2281ff;
}

/* mark required fields */
.requiredField label:after {
	content: ' *';
	color: #b11717;
}

/* no content for error messages in form */
form label.required:after {
	content: '';
}

/*-------------------------------------------------------------------
  PAGE (body.screen)
-------------------------------------------------------------------*/
body.screen  {
	background-color: $body-background-color;
	text-align: center;
}

.screen #container {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
	padding: 5%;
	background-color: #fff;
	text-align: left;
	@include box-shadow(0, 0, 10px, 0, rgba(0, 0, 0, .2));
	position: relative;
}

.screen .title-container {
	margin-bottom: 30px;
}

.screen .has-restaurant-logo {
	height: 80px;
}

.screen .has-restaurant-logo .restaurant-logo {
	position: absolute;
	right: 5%;
	top: 0;
}

.screen img {
	max-width: 100%;
	height: auto;
}


/* BIO SEAL ITEMS */
.bioSealItems {
		
	margin-bottom: 10px;
		
	.bioSealImage {
		float: left;
		margin-right: 0.4em;
		margin-top: -0.3em
	}
		
	.bioSealText,
	.bioSealCode {
		display: block;
	}
		
	.bioSealCode {
		margin-top: 0.2em;
		@include opacity(0.6);
	}
}




/*-------------------------------------------------------------------
  SCREEN INFO MESSAGES
-------------------------------------------------------------------*/
/* TYPOGRAPHY */
.InfoMessage h1, .InfoMessage h2, .InfoMessage h3, .InfoMessage h4, .InfoMessage h5, .InfoMessage h6 {
	font-weight: normal;
	font-family: $heading-font;
	margin: 0;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
}

.InfoMessage h1,
.InfoMessage h2,
.InfoMessage h3,
.InfoMessage h4 {
	color: $white;
	font-size: $heading-font-size;
}

/* font-family and font-size */
.InfoMessage p, .InfoMessage ol, .InfoMessage ul, .InfoMessage dl, .InfoMessage th, .InfoMessage td, .InfoMessage label, .InfoMessage textarea {
	font-family: $text-font;
	font-size: $screen-info-message-font-size;
	color: $white;
}

/* margins and line-height */
.InfoMessage p, .InfoMessage ol, .InfoMessage ul, .InfoMessage dl, .InfoMessage form {
	margin: $screen-info-message-margin-top 0 0 0;
	line-height: $screen-info-message-line-height;
}


.InfoMessage h2 {
	margin-top: 1em;
	font-size: 0.666 * $heading-font-size;
}

.InfoMessage h3 {
	margin-top: 1em;
	font-size: 0.444 * $heading-font-size;
}

.InfoMessage h4 {
	margin-top: 1em;
	font-size: 0.3 * $heading-font-size;
}

/* Casino Logo on InfoMessages of Screen_DailyMenu */
.Screen_DailyMenu .InfoMessage:before {
	@include pseudo-block(206px, 236px);
	position: absolute;
	right: $screen-daily-menu-margin-right;
	top: 0;
	background: url('../images/logo-casino-screen-dailymenu.gif') left bottom no-repeat;
	overflow: hidden;
	z-index: 10;
}

.InfoMessage .info-message-image {
	width: $screen-daily-menu-right-col-width;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	bottom: $screen-counter-margin-left;
	text-align: right;
}

.InfoMessage .info-message-image img {
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 100%;
}

#container .InfoMessage.FullScreenImage .inner-article {
	background-color: $black;
	text-align: center;
}

.InfoMessage.FullScreenImage img {
	position: relative;
	top: 50%;
	@include translateY(-50%);
	margin: 0 auto;
}

.InfoMessage .content {
	position: absolute;
	left: $screen-counter-margin-left;
	bottom: $screen-counter-margin-left;
	top: $screen-counter-margin-left;
	width: $screen-daily-menu-left-col-width - $screen-counter-margin-left;
}

.InfoMessage .content .inner-content {
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.InfoMessage .title-container {
	height: auto !important;
	margin-bottom: $screen-counter-margin-left;
}

.InfoMessage .lang-en-US,
.InfoMessage .lang-en-US * {
	font-size: 0.8 * $screen-info-message-font-size;
	opacity: 0.8;
}

.InfoMessage .title-container .lang-en-US {
	font-size: 70%;
}


/*-------------------------------------------------------------------
  GLOBAL STYLE DEFINITIONS
-------------------------------------------------------------------*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } 
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	
	/*-------------------------------------------------------------------
	HIDDEN ELEMENTS THAT ARENT PRINTED
	-------------------------------------------------------------------*/
	#skipnav,
	nav,
	footer,
	.invisible,
	.visuallyhidden,
	.dont_print {
		display: none;
	}
}
