@import "partials/base";
@import "partials/normalize";

/*-------------------------------------------------------------------
  GLOBAL SETUP PRINTTEMPLATEPAGE
-------------------------------------------------------------------*/
@page { 
	margin: 0;
	page-break-inside: avoid;
	page-break-after: avoid;
	page-break-before: avoid;
}

.PrintHtmlTemplatePage {
	background: #fff;
	margin: 0;
}

#container {
	margin: 0;
	font-family: $text-font;
}