
/*-------------------------------------------------------------------
  SCREEN COUNTER (Screen_Counter)
-------------------------------------------------------------------*/
/* TYPOGRAPHY */
.Screen_Counter h1, .Screen_Counter h2, .Screen_Counter h3, .Screen_Counter h4, .Screen_Counter h5, .Screen_Counter h6 {
	font-weight: normal;
	font-family: $heading-font;
	margin: 0;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
}

.Screen_Counter h1,
.Screen_Counter h2,
.Screen_Counter h3,
.Screen_Counter h4 {
	color: $white;
	font-size: $heading-font-size;
}

/* font-family and font-size */
.Screen_Counter p, .Screen_Counter ol, .Screen_Counter ul, .Screen_Counter dl, .Screen_Counter th, .Screen_Counter td, .Screen_Counter label, .Screen_Counter textarea {
	font-family: $text-font;
	font-size: $screen-info-message-font-size;
	color: $white;
}

/* margins and line-height */
.Screen_Counter p, .Screen_Counter ol, .Screen_Counter ul, .Screen_Counter dl, .Screen_Counter form {
	margin: $screen-info-message-margin-top 0 0 0;
	line-height: $screen-info-message-line-height;
}


.Screen_Counter .content {
	width: $screen-content-width;	
}

.Screen_Counter .FoodCategoryTitle {
	font-family: $title-font;
	font-size: $screen-counter-title-font-size;
	line-height: $screen-counter-title-line-height;
	padding: 50px 250px 0 $screen-counter-margin-left;
	letter-spacing: 0;
}

.Screen_Counter .FoodCategoryImage {
	position: absolute;
	top: 0;
	right: 0;
}

.Screen_Counter .dishes,
.Screen_Counter .nutrition-legend {
	margin: 0;
	padding: 0;
}

.Screen_Counter .dishes li,
.Screen_Counter .nutrition-legend li {
	list-style-type: none;
	margin-top: 0;
}

.Screen_Counter .dishes,
.Screen_Counter .inner-content {
	margin: 0 ($screen-counter-margin-left) 0 $screen-counter-margin-left;
}

.Screen_Counter .dishes > li {
	position: relative;
	margin-top: $screen-counter-dish-margin-top;
}

.Screen_Counter .dishes > li:first-child {
	margin-top: 0;
}

.Screen_Counter .lang-en-US,
.Screen_Counter .lang-en-US * {
	opacity: 0.6;
	font-weight: normal;
	font-size: $screen-counter-dish-en-us-font-size;
}

.Screen_Counter .dishDescription {
	float: left;
	width: 80%;
	line-height: 1;
}

.Screen_Counter .dishDescriptionText {
	font-size: $screen-counter-dish-font-size;
	line-height: $screen-counter-dish-line-height;
}

.Screen_Counter .dishDescriptionEnUS {
	display: block;
	margin-top: $screen-counter-dish-en-us-margin-top;
	line-height: $screen-counter-dish-line-height;
}

.Screen_Counter .dishInfoRight {
	float: right;
	width: 17%;
	text-align: right;
}

.Screen_Counter .dishPrice span {
	display: block;
}

.Screen_Counter .dishPriceInner {
	font-size: $screen-counter-price-font-size;
}

.Screen_Counter .dishPriceSmallInner {
	margin: 0.1em 0;
	font-size: $screen-counter-price-small-font-size;
	line-height: 1;
}

.Screen_Counter .dishes .additives {
	font-family: $text-font;
	font-size: 0.45 * $screen-counter-dish-font-size;
	line-height: 1;
	display: inline-block;
}

.Screen_Counter .message {
	padding: 0;
	background-color: transparent;
}

/* DishLabels */
.Screen_Counter .dishLabels {
	margin-top: 0;
	padding: 0;
	float: right;
}

.Screen_Counter .dishLabels li {
	margin-top: 0 !important;
	float: right;
}

.Screen_Counter .dishLabelTitle {
	display: none;
}

.Screen_Counter .dishLabelIcon {
	display: block;
	width: 1em;
	height: 1em;
	font-size: $screen-counter-dish-label-font-size;
}

/* Nutrition Legend */
.Screen_Counter .nutrition-container {
	position: absolute;
	width: $screen-counter-width - $screen-content-width;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.2);
}

.Screen_Counter .nutrition-legend {
	width: $screen-counter-width - $screen-content-width;
	height: $screen-counter-nutrition-legend-height;
	position: relative;
}

.Screen_Counter .nutrition-legend li {
	display: block;
	width: $screen-counter-nutrition-legend-height;
	height: $screen-counter-nutrition-legend-item-width;
	position: absolute;
	font-size: $screen-counter-nutrition-legend-font-size;
	@include transform(rotate(-90deg), translate3d(0, 0, 0));
	@include transform-origin(0.5 * $screen-counter-nutrition-legend-height, 0.5 * $screen-counter-nutrition-legend-height); /* half width of screen > rotate around center */
	
}

.Screen_Counter .nutrition-legend .fat {
	left: $screen-counter-nutrition-legend-item-offset;
}

.Screen_Counter .nutrition-legend .calories {
	left: $screen-counter-nutrition-legend-item-offset + $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-legend .protein {
	left: $screen-counter-nutrition-legend-item-offset + 2 * $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-legend .carbohydrate-unit {
	left: $screen-counter-nutrition-legend-item-offset + 3 * $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-legend .carbohydrates {
	left: $screen-counter-nutrition-legend-item-offset + 4 * $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .title-container {
	height: 440px;
	position: relative;
}

/* Dish Nutrition Container */
.Screen_Counter .dish-nutrition-container {
	display: block;
	width: $screen-counter-width - $screen-content-width;
	height: $screen-counter-dish-font-size;
	position: absolute;
	right: (-1 * ($screen-counter-width - $screen-content-width)) - ($screen-counter-margin-left);
	top: 0;
	z-index: 2; /* above .nutrition-legend */
}

.Screen_Counter .nutrition-values {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	opacity: 0.6;
}

.Screen_Counter .nutrition-values li {
	position: absolute;
	bottom: 0;
	margin-top: 0;
	list-style: none;
	width: $screen-counter-nutrition-legend-item-width;
	text-align: right;
	font-size: $screen-counter-nutrition-item-font-size;
}

.Screen_Counter .nutrition-values .fat {
	left: $screen-counter-nutrition-item-offset;
}

.Screen_Counter .nutrition-values .calories {
	left: $screen-counter-nutrition-item-offset + $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-values .protein {
	left: $screen-counter-nutrition-item-offset + 2 * $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-values .carbohydrate-unit {
	left: $screen-counter-nutrition-item-offset + 3 * $screen-counter-nutrition-legend-item-width;
}

.Screen_Counter .nutrition-values .carbohydrates {
	left: $screen-counter-nutrition-item-offset + 4 * $screen-counter-nutrition-legend-item-width;
}

/* Side Dishes */
.Screen_Counter .sidedish-container .dishes {
	margin: $screen-counter-dish-margin-top 0 0 0;
}

.Screen_Counter .sidedish-container .dishes > li {
	padding-left: $screen-counter-margin-left; /* add space to the left for the + icon */
}

.Screen_Counter .sidedish-container .dishes > li:before,
.Screen_Counter .sidedish-container .dishPrice:before {
	@include pseudo-block(1em, 1em, '+');
	top: 0;
	left: 0;
	font-size: 50px;
	@include transform(translateY(-22%));
}

.Screen_Counter .sidedish-container .dishDescription,
.Screen_Counter .sidedish-container .dishPriceInner {
	font-size: $screen-counter-dish-en-us-font-size;
}

.Screen_Counter .sidedish-container .dishPrice {
	display: block;
	position: relative;
}

.Screen_Counter .sidedish-container .dishPriceSmallInner {
	font-size: 0.8 * $screen-counter-price-small-font-size;
}

.Screen_Counter .sidedish-container .dishLabelIcon {
	font-size: $screen-counter-side-dish-label-font-size;
}

.Screen_Counter .sidedish-container .lang-en-US,
.Screen_Counter .sidedish-container .lang-en-US * {
	font-size: 0.8 * $screen-counter-dish-en-us-font-size;
}

.Screen_Counter .sidedish-container .dish-nutrition-container {
	height: $screen-counter-dish-en-us-font-size + 4;
}
																						

/* FootNote */
.Screen_Counter .footnote {
	position: absolute;
	bottom: 0;
	left: $screen-counter-margin-left;
	width: $screen-content-width - $screen-counter-margin-left;
	height: (4.5 * $screen-counter-footnote-font-size) + 50px + $screen-counter-footnote-margin-bottom;
	background-color: dark-grey;
	overflow: hidden;
	z-index: 10;
}

.Screen_Counter .footnote-inner {
	position: absolute;
	bottom: $screen-counter-footnote-margin-bottom;
	left: 0;
	right: $screen-counter-margin-left;
}

.Screen_Counter .footnote p,
.Screen_Counter .footnote .lang-en-US,
.Screen_Counter .footnote .lang-en-US * {
	margin-top: 0;
	font-size: $screen-counter-footnote-font-size;
	font-family: $text-font;
}