    
/*-------------------------------------------------------------------
  SCREEN DAILY MENU WITH PHOTOS IN LANDSCAPE 
 
  Templates:	Screen_DailyMenu_Photos_Landscape
			Screen_DailyMenu_Photos_Infomessage_Landscape
-------------------------------------------------------------------*/
.Screen_DailyMenu.Photos.Landscape {
	
	#container,
	#container .inner-article {
		width: 1920px;
		height: 1079px;
	} 

	/* Bildschirmausgabe um 90° gegen den Uhrzeigersinn gedreht */
	&.rotated {
		@include transform-origin(0.5 * 1920, 0.5 * 1920); /* half width of screen > rotate around center */
	}

	/* Bildschirmausgabe um 90° im Uhrzeigersinn gedreht */
	&.rotated__clockwise {
		@include transform-origin(0.5 * 1079, 0.5 * 1079); /* half height of screen > rotate around center */
	}

	/* font-family and font-size */
	p, ol, ul, dl, th, td, label, textarea {
		font-size: $screen-daily-menu-photo-landscape-dish-font-size;
	}
	
	
	#container {
		
		.inner-article {
			padding-top:115px;
		}
		
		.logo {
			background: url('/themes/bbraun/images/logo-bbraun-sw.png') no-repeat 0px 0px;
			right: 70px;
			top: 45px;
			width: 186px;
			height: 33px;
		}
		
		/************************************
		*	content	: left column
		*************************************/
		#side-content {
			float: left;
			width: 680px;
		}
		
		/************************************
		*	content	: right column
		*************************************/
		#content {
			float: right;
			width: 1200px;
		}	
		
		#side-content,
		#content {
			ul,
			ul li {
				margin: 0;
				padding: 0;
			}
		}
		
		/***************************************
		styling for both containers (side/main)
		***************************************/

		#side-content .categories,
		#content .categories {
			
			position: relative;
			height: 801px; // max viewable height 
			overflow: hidden;
				
			.FoodCategoryContainer {
				
					border-top: 1px solid #fff;

					//@include box-shadow(inset 0 0 0 -1px #fff);
					
					&:first-child {
						border-top: none;	
					}
					
					&:last-child {
						border-bottom: none;	
					}

					.FoodCategoryTitle {
						font-size: 32px;
						line-height: 1;
						margin-top: 25px;
						margin-bottom: 2px;
						text-transform: uppercase;
						font-weight: 700;
					}
					
					.FoodCategoryTitle,
					.dishContainer {
						margin-left: 230px;
					}
					
					.dishes > li {
						padding:0;
						box-sizing: border-box;
						float:left;
					}
					
					.dishes > li:after{
						content: '';
						height:1px;
						width:1200px;
						position: absolute;
						bottom:0;
						background: #fff;
					}
					
					.dishes {
						li {
							
							//border-bottom: 1px solid #fff;
							position: relative;
							
							.dishImage {
								margin-top: 0px;
								float: left;
								overflow: hidden;
								width: 200px;
								
								&.dishImage-blank {
									background: rgba(255,255,255,0.5);
									width: 200px;
									height: 165px;
								}
								
								img {
									height: auto;
									width: 100%;
								}
							}
							
							&:first-child > .dishContainer {
								padding-top:0;
								
								.specialLabels {
									top: -4px;
								}
							}
								
							
							.dishContainer {
								//float: left;
								padding-top: 25px;
								
								.specialLabels {
									position: absolute;
									right:130px;
									top: 26px;
									
									li {
										border-bottom: none;
									}
								}
								
								.dishInfoRight {
									width:170px;
									color: $black;
									
									.dishPrice .dishPriceInner {
										font-size: 32px;
									}
									
									.dishPriceSmallInner {
										font-size: 22px;
										margin-top: 0;
										margin-bottom: 5px;
									}
								}
								
								.dishLabels {
									color: $black;
									margin-top: -5px;
									
									li.dishLabel {
										border-bottom: none;
										   .dishLabelIcon {
						                        font-size:26px;
						                    }
									}
									
								}
								
							}
							
							.dishDescription {
								font-size: 32px;
								color: $black;
								width: 690px;
								margin-right: 70px;
								line-height: 1;
								
								.additives {
									display: block;
									margin-top: 3px;
								}
							}
						}
					}
					
				}

		}
		
		
		
		/***************************************
		*	modified styling for side dish container
		***************************************/
		#side-content .categories {
			
			.FoodCategoryContainer {
				
				padding: 0;
				margin-top: 0;
				margin-bottom: 10px;
				
				&:first-child {
					margin-top: 25px;
				}
					
				.FoodCategoryTitle {
					font-size: 32px;
					line-height: 1;
					margin-top: 0;
					margin-bottom: 2px;
					text-transform: uppercase;
					font-weight: 700;
					color: $black;
				}				
								
				.FoodCategoryTitle,
				.dishContainer {
					margin-left: 70px;
				}
				
				.dishContainer {
					padding-top: inherit !important;
					margin-bottom: 10px;
				}
				
				.dishes > li {
					min-height: inherit;
					padding: 0;
				}
				
				.dishes {
					
					li {
						
						float: left;
						
						&.last-child {
							margin-bottom: 0;
						}
						
						.dishContainer {
							.dishDescription {
								width: 420px;
								margin-bottom: 5px;
								
								.additives {
									display: inline;
								}
							}
							
							.dishInfoRight {
								width: 120px;
							}
						}
						
					}
					
				}
				
			}
			
		
			
		}
		
		
		
		
		/* font scaling for main dishes */
		#content .categories {
				/****************************
			*	2 dishes
			****************************/
			&.dishes_count_2 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { font-size: 44px; }
					
					.dishes {
						li {
							.dishImage { 
								max-height:auto; // this defines the height of .categories
								width: 400px;
								img { margin-top: 0; }
							}
							
							.FoodCategoryTitle,
							.dishContainer {
								margin-left: 430px;
							}
							
							
							.dishContainer {
								.dishDescription { 
									width: 490px;
									margin-right: 40px;  
									font-size: 42px; 
								}
								
								.dishDescription .dishDescriptionEnUS {
									font-size: 38px; 
								}

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 42px; }
									.dishPriceSmallInner { font-size:38px; }
									.dishLabels .dishLabelIcon { font-size: 40px; }
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	3 dishes
			****************************/
			&.dishes_count_3 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { font-size: 44px; }
					
					.dishes {
						li {
							.dishImage { 
								max-height: auto;
								width: 267px; // this defines the height of .categories
								img { margin-top: 0; }
							}
							
							.FoodCategoryTitle,
							.dishContainer {
								margin-left: 320px;
							}
							
							
							.dishContainer {
								.dishDescription { 
									width: 585px;
									margin-right: 55px;  
									font-size: 36px; 
								}
								
								.dishDescription .dishDescriptionEnUS { 
									font-size: 32px; 
								}

								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 36px; }
									.dishPriceSmallInner { font-size:32px; }
									.dishLabels .dishLabelIcon { font-size: 34px; }
								}
								
								.specialLabels {
									right: 170px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	4 dishes
			****************************/
			&.dishes_count_4 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { font-size: 32px; }
					
					.dishes {
						li {
							.dishImage { 
								max-height: auto;
								width: 200px; // this defines the height of .categories
								img { margin-top: 0; }
							}
							
							.FoodCategoryTitle,
							.dishContainer {
								margin-left: 235px;
							}
							
							
							.dishContainer {
								.dishDescription { 
									width: 690px;
									margin-right: 40px;  
									font-size: 32px; 
								}
								
								.dishDescription .dishDescriptionEnUS { 
									font-size: 28px; 
								}

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 32px; }
									.dishPriceSmallInner { font-size:28px; }
									.dishLabels .dishLabelIcon { font-size: 34px; }
								}
								
								.specialLabels {
									right: 150px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	5 dishes
			****************************/
			&.dishes_count_5 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { font-size: 28px; }
					
					.dishes {
						li {
							.dishImage { 
								max-height:160px; // this defines the height of .categories
								img { margin-top: -22px; }
							}
							
							.FoodCategoryTitle,
							.dishContainer {
								margin-left: 235px;
							}
							
							
							.dishContainer {
								.dishDescription { 
									width: 690px;
									margin-right: 40px;  
									font-size: 28px; 
								}
								
								.dishDescription .dishDescriptionEnUS { 
									font-size: 24px; 
								}

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 28px; }
									.dishPriceSmallInner { font-size:24px; }
									.dishLabels .dishLabelIcon { font-size: 30px; }
								}
								
								.specialLabels {
									right: 150px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	6 dishes
			****************************/
			&.dishes_count_6 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { font-size: 24px; }
					
					.dishes {
						li {
							.dishImage { 
								max-height:133px; // this defines the height of .categories
								img { margin-top: -35px; }
							}
							
							.dishContainer {
								.dishDescription { margin-right: 40px; }
								.dishDescription { font-size: 22px; }
								.dishDescription .dishDescriptionEnUS { font-size: 18px; }
								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 22px; }
									.dishPriceSmallInner { font-size:18px; }
									.dishLabels .dishLabelIcon { font-size: 20px; }
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	7 dishes
			****************************/
			&.dishes_count_7 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { 
						font-size: 22px; 
						margin-top: 16px;
					}
					
					.dishes {
						li {
							.dishImage { 
								max-height:114px; // this defines the height of .categories
								img { margin-top: -44px; }
							}
							
							.dishContainer {
								.dishDescription { margin-right: 40px; }
								.dishDescription { font-size: 22px; }
								.dishDescription .dishDescriptionEnUS { font-size: 18px; }

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 22px; }
									.dishPriceSmallInner { font-size: 16px; }
									.dishLabels .dishLabelIcon { font-size: 20px; }
								}
								
								.specialLabels {
									right: 100px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
			/****************************
			*	8 dishes
			****************************/
			&.dishes_count_8 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { 
						font-size: 20px; 
						margin-top: 16px;
					}
					
					.dishes {
						li {
							.dishImage { 
								max-height: 99px; // this defines the height of .categories
								img { margin-top: -51px; }
							}
							
							.dishContainer {
								.dishDescription { margin-right: 40px; }
								.dishDescription { font-size: 18px; }
								.dishDescription .dishDescriptionEnUS { font-size: 14px; }

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 18px; }
									.dishPriceSmallInner { font-size: 14px; }
									.dishLabels .dishLabelIcon { font-size: 16px; }
								}
								
								.specialLabels {
									right: 100px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 

		}
		
		#side-content .categories {
			
			/* 
			*	font sizes for up to 7 dishes are defined by default. 
			*	only an amount of 8 dishes has to be scaled
			*/
				/****************************
			*	8 dishes
			****************************/
			&.dishes_count_8 {
				.FoodCategoryContainer {
					
					.FoodCategoryTitle { 
						font-size: 26px; 
					}
					
					.dishes {
						li {
													
							.dishContainer {

								.dishDescription { font-size: 26px; }
								.dishDescription .dishDescriptionEnUS { font-size: 22px; }

								
								.dishInfoRight {
									.dishPrice .dishPriceInner { font-size: 26px; }
									.dishPriceSmallInner { font-size: 20px; }
									.dishLabels .dishLabelIcon { font-size: 22px; }
								}
								
								.specialLabels {
									right: 100px;
								}
								
							} /* .dishContainer */
							
						} /* .dishes li */
					}
					
				}
			} 
			
		}
		
	}
	
	/* FootNote */
	.footnote {
		position: absolute;
		left: 30px;
		height: 125px;
		background-color: transparent;
		text-align: left;
		bottom: 130px;
		color: $black;
		
		.footnote-inner {

            font-size: 11px;
            color: $black;
            bottom:0;
            top: auto;
            width:1200px;
            
            p {
	            font-size: 11px;
	            color: $black;
	            line-height: 1.3;
			}
			
			.additives {
				display: block;
			}
			
			.dishLabels {
				
                float:left; 
                font-size: 11px;
                color: $black;
                
                li.dishLabel {
                    float:left;
                    margin-top: -4px;
                    list-style-type: none;
                    

                    .dishLabelIcon {
                        font-size:22px;
                        float:left;
                        line-height: 0.85;
                    }
                    
                    .dishLabelTitle {
                        display: inline;
                        float: right;
                        line-height: 2;
                        margin-right: 6px;
                        margin-left: 2px;
                    }

                    .dishlabel-icon-34:after, 
                    .dishlabel-icon-35:after {
                        top:4px;
                        left:5px;
                    }

                    .dishLabelDescription {
                        left: 0;
                        top: -0.5em;
                        margin-right: 6px;
                    }

                }
                
            }

		}

                      
         
      
                
		.sideInfosAdditives,
		.sideInfosAllergens {
                    clear: both;
                    
                    .numbered-list {
                        
                        margin-top: -4px;
                        font-size: $screen-daily-menu-photo-landscape-footnote-font-size;

                        li {
                           float:left;

                            .number {
                                position:relative;
			     width:auto;
                            }

                            .title {
                                position: relative;
                                left:0;
			     margin-right: 10px;
                            }
                        }

                    }
                    
                }
                            
        .footnote-logo {
            background: url('/themes/bbraun/images/logo-eurest-sw.png') no-repeat 0px 0px;
            width: 88px;
            height: 62px;
            position: absolute;
            bottom: 7px;
            right: 70px;
        }

	}
	
	/* side content */
	/*
	#side-content {
		h1, h2, h3, h4,
		p, ol, ul, dl, th, td, label, textarea{
			font-size: $screen-daily-menu-photo-landscape-footnote-font-size;
		}
		
		h2, h3, h4 {
			margin-top: 10px;
		}
		
		dl, ul {
			margin-top: 5px
		}
		
		.icon-list .dishLabelIcon {
			font-size: $screen-daily-menu-photo-landscape-footnote-font-size * 1.4;
		}
		
		.col1, .col2 {
			position: absolute;
			bottom: 0;
		}
		
		.col2 {
			left: 0;
			width: 160px;
		}
		
		.col1 {
			left: 185px;
			width: 315px;
		}
		
	}
	*/

                
    /* inline info message */
    .message {
            font-family:'fago-reg', sans-serif;
            font-size: 50px;
            background: rgba(255, 255, 255, 0.15) none repeat scroll 0% 0%;
            padding: 40px 0px 40px 80px;
            margin-top: 40px;
        }
        

    /* InfoMessages */
	.InfoMessage {
		
		.inner-article {
			padding-top: 0 !important;
		}
		
		h1.title {
			//font-size: $infomessage-headline-size;
			color: $white;
			text-align:left !important;
		}
		
		h2 {
			font-size: 80px;
		}
		
		h3, h4 {
			font-size: 60px;
		}
		
		p, ul, ol, dl, th, td {
			//font-size: $infomessage-text-size;
		}
		
		.info-message-image {
			position: absolute;
			top: 0;
			left: 0;
			bottom: auto;
			margin-top: 0;
			margin-left: 0;	
			/*
			@include rotate(3deg);
			@include single-box-shadow(rgba(0, 0, 0, 0.6), 5px, 5px, 20px);
			@include transition(left 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out);
   */
		}
		
		header.title-container {
			margin-left: 50px;
			padding-top: 145px;
			width: auto;
		}
		
		#content {
			width: auto;
			position: relative;
			left: auto;
			margin-left: 50px;
			margin-right: 50px;
			
			.inner-content {
				position: relative;
				top: auto;
				background: transparent;
				
				* {
					color: $white;
				}
			}
		}
		
		
		.FullScreenImage {
			background: #000;
		}
		
		
		/* InfoMessage with Image */
		&.hasImage {
			
			#content,
			header.title-container {
				margin-left: 980px !important;
			}
			
			header.title-container {
				padding-left: 0px;
			}
		}		
		
	}
        
}