
/*-------------------------------------------------------------------
  SCREEN DAILY MENU (Screen_DailyMenu)
-------------------------------------------------------------------*/

.Screen_DailyMenu h1, .Screen_DailyMenu h2, .Screen_DailyMenu h3, .Screen_DailyMenu h4, .Screen_DailyMenu h5, .Screen_DailyMenu h6 {
	font-weight: normal;
	font-family: $heading-font;
	margin: 0;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
}

.Screen_DailyMenu h1,
.Screen_DailyMenu h2,
.Screen_DailyMenu h3,
.Screen_DailyMenu h4 {
	color: $white;
	font-size: $heading-font-size;
}

/* font-family and font-size */
.Screen_DailyMenu p, .Screen_DailyMenu ol, .Screen_DailyMenu ul, .Screen_DailyMenu dl, .Screen_DailyMenu th, .Screen_DailyMenu td, .Screen_DailyMenu label, .Screen_DailyMenu textarea {
	font-family: $text-font;
	font-size: $screen-daily-menu-dish-font-size;
	color: $white;
}

/* margins and line-height */
.Screen_DailyMenu p, .Screen_DailyMenu ol, .Screen_DailyMenu ul, .Screen_DailyMenu dl, .Screen_DailyMenu form {
	margin: $screen-daily-menu-dish-margin-top 0 0 0;
	line-height: $screen-daily-menu-dish-line-height;
}

.Screen_DailyMenu .lang-en-US,
.Screen_DailyMenu .lang-en-US * {
	opacity: 0.6;
	font-weight: normal;
	font-size: $screen-daily-menu-dish-en-us-font-size;
}

.Screen_DailyMenu .logo {
	position: absolute;
	right: $screen-daily-menu-margin-right;
	top: 0;
	width: 206px;
	height: 236px;
	background: url('../images/logo-casino-screen-dailymenu.gif') left bottom no-repeat;
	overflow: hidden;
	z-index: 10;
}

.Screen_DailyMenu .logo .inner-title-container {
	display: none;
}

.Screen_DailyMenu .inner-article {
	position: relative;
}

/* CONTENT */
.Screen_DailyMenu .content,
.Screen_DailyMenu .side-content {
	position: absolute;
	top: 0;
	bottom: $screen-daily-menu-margin-left + 20px;
}

.Screen_DailyMenu .content {
	left: 0;
	width: $screen-daily-menu-left-col-width;
}

.Screen_DailyMenu .side-content {
	right: $screen-daily-menu-margin-right;
	width: $screen-daily-menu-right-col-width - $screen-daily-menu-margin-right;
}

.Screen_DailyMenu .categories,
.Screen_DailyMenu .categories .dishes {
	margin: 0;
	padding: 0;
}

.Screen_DailyMenu .categories li,
.Screen_DailyMenu .dishes li {
	list-style-type: none;
}

.Screen_DailyMenu .categories {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.Screen_DailyMenu .categories .FoodCategoryContainer,
.Screen_DailyMenu .inner-content {
	margin-top: $screen-daily-menu-categories-margin-top;
	padding: $screen-daily-menu-category-container-padding-top $screen-daily-menu-category-container-padding-right $screen-daily-menu-category-container-padding-top 0;
}

.Screen_DailyMenu .FoodCategoryHeader {
	float: left;
	width: 325px;
}

.Screen_DailyMenu .FoodCategoryTitle {
	font-family: $title-font;
	font-size: $screen-daily-menu-title-font-size;
	line-height: $screen-daily-menu-title-line-height;
	letter-spacing: 0;
}

.Screen_DailyMenu .FoodCategoryImage {
	float: left;
	width: 80px;
	height: 130px;
	margin-right: 10px;
}

.Screen_DailyMenu .categories .dishes {
	margin-left: 340px;
}

.Screen_DailyMenu .categories .dishes li {
	margin-top: $screen-daily-menu-dish-margin-top;
}

.Screen_DailyMenu .categories .dishes li:first-child {
	margin-top: 0;
}

.Screen_DailyMenu .dishContainer {
	position: relative;
}

.Screen_DailyMenu .dishDescription {
	float: left;
	width: 80%;
}

.Screen_DailyMenu .dishDescriptionInner {
	display: block;
}

.Screen_DailyMenu .dishDescriptionEnUS {
	display: block;
	margin-top: $screen-daily-menu-dish-en-us-margin-top;
	font-family: $text-font;
	font-size: $screen-daily-menu-dish-en-us-font-size;
}

.Screen_DailyMenu .dishInfoRight {
	float: right;
	width: 15%;
	text-align: right;
}

.Screen_DailyMenu .dishPrice span {
	display: block;
}

.Screen_DailyMenu .dishPriceInner {
	font-size: $screen-daily-menu-price-font-size;
}

.Screen_DailyMenu .dishPriceSmallInner {
	margin-top: 5px;
	font-size: 18px;
	line-height: 1;
}

.Screen_DailyMenu .dishes .additives {
	font-family: $text-font;
	font-size: 55%;
}

/* DishLabels */
.Screen_DailyMenu .dishLabels {
	margin-top: 0;
	padding: 0;
	float: right;
}

.Screen_DailyMenu .dishLabels li {
	margin-top: 0 !important;
	float: right;
}

.Screen_DailyMenu .dishLabelTitle {
	display: none;
}

.Screen_DailyMenu .dishLabelIcon {
	display: block;
	width: 1em;
	height: 1em;
	font-size: $screen-daily-menu-dish-label-font-size;
}

/* MENU ICON */
.Screen_DailyMenu .MenuIcon,
.Screen_DailyMenu .dishlabel-icon-74,
.Screen_DailyMenu .footnote .MenuIcon {
	width: 32px;
	height: 32px;
	position: relative;
	overflow: hidden;
}

.Screen_DailyMenu .MenuIcon:before,
.Screen_DailyMenu .dishlabel-icon-74:before,
.Screen_DailyMenu .footnote .MenuIcon:before {
	font-size: 42px;
	position: absolute;
	color: $red;
	background-color: $white;
	top: -5px;
	left: -5px;
	z-index: 100;
}

.Screen_DailyMenu .dishLabel .dishlabel-icon-74 {
	position: absolute;
	right: -47px;
	top: 5px;
}

/* shadow on icon */
.Screen_DailyMenu .dishLabel .dishlabel-icon-74:after {
	display: block;
	content: " ";
	width: 5px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	@include background(linear-gradient(left, rgba(0,0,0,0.4), rgba(0,0,0,0)));
	z-index: 101; /* above dishlabel */
}

/* SIDE CONTENT */
.Screen_DailyMenu .side-content .categories .FoodCategoryContainer {
	margin-top: 40px;
	padding: 0;
}

.Screen_DailyMenu .side-content .FoodCategoryHeader {
	float: none;
	width: auto;
}

.Screen_DailyMenu .side-content .FoodCategoryTitle {
	font-size: $screen-daily-menu-side-title-font-size;
	line-height: $screen-daily-menu-side-title-line-height;
}

.Screen_DailyMenu .side-content .categories .dishes {
	margin-left: 0;
}

.Screen_DailyMenu .side-content .categories .dishes li {
	margin-top: $screen-daily-menu-side-dish-margin-top;
}

.Screen_DailyMenu .side-content .dishDescription {
	width: 75%;
}

.Screen_DailyMenu .side-content .dishDescriptionInner {
	font-size: $screen-daily-menu-side-dish-font-size;
	line-height: $screen-daily-menu-side-dish-line-height;
}

.Screen_DailyMenu .side-content .dishDescriptionEnUS {
	margin-top: $screen-daily-menu-side-dish-en-us-margin-top;
	font-size: $screen-daily-menu-side-dish-en-us-font-size;
}

.Screen_DailyMenu .side-content .dishInfoRight {
	width: 20%;
}

.Screen_DailyMenu .side-content .dishPriceInner {
	font-size: $screen-daily-menu-side-price-font-size;
}

.Screen_DailyMenu .side-content .dishPriceSmallInner {
	font-size: 18px;
}

.Screen_DailyMenu .side-content .dishes .additives {
	font-size: 65%;
}

.Screen_DailyMenu .side-content .dishLabel .dishlabel-icon-74 {
	right: -40px;
	top: -2px;
}

.Screen_DailyMenu .side-content .dishLabel .dishlabel-icon-74:after {
	display: none;
}


/* FootNote */
.Screen_DailyMenu .footnote {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: $screen-daily-menu-margin-left + 20px;
	overflow: hidden;
}

.Screen_DailyMenu .footnote-inner {
	position: absolute;
	top: 20px;
	left: 20px;
	width: $screen-daily-menu-left-col-width / 2 - 25px - 20px;
	padding-left: 25px;
}

.Screen_DailyMenu .footnote p,
.Screen_DailyMenu .footnote .lang-en-US,
.Screen_DailyMenu .footnote .lang-en-US * {
	margin-top: 0;
	font-size: $screen-daily-menu-footnote-font-size;
}

.Screen_DailyMenu .footnote .MenuIcon {
	position: absolute;
	left: -20px;
	top: 4px;
}


/* BIO SEAL ITEMS */

.Screen_DailyMenu {
	.bioSealItems {
		position: absolute;
		bottom: 0;
		left: $screen-daily-menu-left-col-width / 2 + 10px;
		right: $screen-daily-menu-margin-right;
		height: $screen-daily-menu-margin-left;
		margin-bottom: 0;
		
		.bioSealTextContainer {
			margin: 0;
			font-size: $screen-daily-menu-footnote-font-size;
		}
		
		.bioSealImage {
			
		}
		
		.bioSealText,
		.bioSealCode {
			
		}
		
		.bioSealCode {
			
		}
	}
}

