/***** slider *****/


.Screen_DailyMenu,
.Screen_Counter {
	
	#slider {
		
		position: relative;
			
		// global style
		article {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 100%;
			z-index:999;
			
		}
		
		// fade
		&.fade {
			
			article {
				opacity: 0;
				left: 0;
			}
			.active,
			.active-init {
				opacity: 1 !important;
			}
		}
		
		// slide
		&.slide {		
			// used on start of slide animation
			.active-init {
				left:0;
			}
		}
			
		// slide
		@-webkit-keyframes slide {
			100% { left: 0; }
		}
		@keyframes slide {
			100% { left: 0; }
		}
		
		@-webkit-keyframes slideOut {
			100% { left: -100%; }
		}
		@keyframes slideOut {
			100% { left: -100%; }
		}
		
	}
}