/*------------------------------------------------------------------------------
  FONTS
------------------------------------------------------------------------------*/
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?53450176");
  src: url("fonts/icons.eot?53450176#iefix") format('embedded-opentype'), url("fonts/icons.woff?53450176") format('woff'), url("fonts/icons.ttf?53450176") format('truetype'), url("fonts/icons.svg?53450176#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	 font-family: 'icon-dishlabels';
	 src:  url('fonts/icon-dishlabels.eot?lm59iz');
	 src:  url('fonts/icon-dishlabels.eot?lm59iz#iefix') format('embedded-opentype'),
    url('fonts/icon-dishlabels.ttf?lm59iz') format('truetype'),
    url('fonts/icon-dishlabels.woff?lm59iz') format('woff'),
    url('fonts/icon-dishlabels.svg?lm59iz#icon-dishlabels') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'RotisSansSerifStd-LightItalic';
	src: url('fonts/332840_0_0.eot');
	src: url('fonts/332840_0_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_0_0.woff2') format('woff2'),
	url('fonts/332840_0_0.woff') format('woff'),
	url('fonts/332840_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RotisSansSerifStd-ExtraBold';
	src: url('fonts/332840_1_0.eot');
	src: url('fonts/332840_1_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_1_0.woff2') format('woff2'),
	url('fonts/332840_1_0.woff') format('woff'),
	url('fonts/332840_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RotisSansSerifStd-Light';
	src: url('fonts/332840_2_0.eot');
	src: url('fonts/332840_2_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_2_0.woff2') format('woff2'),
	url('fonts/332840_2_0.woff') format('woff'),
	url('fonts/332840_2_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RotisSansSerifStd-Regular';
	src: url('fonts/332840_3_0.eot');
	src: url('fonts/332840_3_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_3_0.woff2') format('woff2'),
	url('fonts/332840_3_0.woff') format('woff'),
	url('fonts/332840_3_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RotisSansSerifStd-Bold';
	src: url('fonts/332840_4_0.eot');
	src: url('fonts/332840_4_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_4_0.woff2') format('woff2'),
	url('fonts/332840_4_0.woff') format('woff'),
	url('fonts/332840_4_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'RotisSansSerifStd-Italic';
	src: url('fonts/332840_5_0.eot');
	src: url('fonts/332840_5_0.eot?#iefix') format('embedded-opentype'),
	url('fonts/332840_5_0.woff2') format('woff2'),
	url('fonts/332840_5_0.woff') format('woff'),
	url('fonts/332840_5_0.ttf') format('truetype');
}
 