@charset "UTF-8";

/**
 * OVERWRITE EXISTING UI
 */

/**
 * do not float multiple checkboxes in optionset 
 */
.optionset li {
	float: none;
	width: auto;
}

/**
 * do not float fields in fieldgroup with class 'linear'
 */
.fieldgroup.linear .fieldgroup-field {
    float: none;
}

/**
 * hide all first level pages in sitetree that a user can not edit
 * standard behaviour: show them with readonly
 */
.cms-tree ul .Root ul > li.edit-disabled {
	display: none;
}

/**
 * hide all pagetypes in "create new page" dialogue that a user can not create
 * standard behaviour: show them with as disabled
 */
#PageType ul li.disabled {
	display: none;
}


/**
 * ICON FONTS
 */

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?85703082");
  src: url("fonts/icons.eot?85703082#iefix") format('embedded-opentype'), url("fonts/icons.woff?85703082") format('woff'), url("fonts/icons.ttf?85703082") format('truetype'), url("fonts/icons.svg?85703082#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?85703082#icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus-4:before { content: '\2b'; } /* '+' */
.icon-minus-3:before { content: '\2d'; } /* '-' */
.icon-left-thin:before { content: '\2190'; } /* '‚Üê' */
.icon-right-thin:before { content: '\2192'; } /* '‚Üí' */
.icon-switch:before { content: '\21c6'; } /* '‚áÜ' */
.icon-home-4:before { content: '\2302'; } /* '‚åÇ' */
.icon-cup:before { content: '\2615'; } /* '‚òï' */
.icon-cog-4:before { content: '\2699'; } /* '‚öô' */
.icon-attention-4:before { content: '\26a0'; } /* '‚ö†' */
.icon-mail-5:before { content: '\2709'; } /* '‚úâ' */
.icon-pencil-4:before { content: '\270e'; } /* '‚úé' */
.icon-check-1:before { content: '\2713'; } /* '‚úì' */
.icon-cancel-5:before { content: '\2715'; } /* '‚úï' */
.icon-forward-3:before { content: '\27a6'; } /* '‚û¶' */
.icon-ccw-1:before { content: '\27f2'; } /* '‚ü≤' */
.icon-list-4:before { content: '\e005'; } /* 'ÓÄÖ' */
.icon-eye-4:before { content: '\e70a'; } /* 'Óúä' */
.icon-reply-2:before { content: '\e712'; } /* 'Óúí' */
.icon-reply-all-1:before { content: '\e713'; } /* 'Óúì' */
.icon-export-3:before { content: '\e715'; } /* 'Óúï' */
.icon-print-3:before { content: '\e716'; } /* 'Óúñ' */
.icon-location-5:before { content: '\e724'; } /* 'Óú§' */
.icon-doc-alt:before { content: '\f0f6'; } /* 'ÔÉ∂' */
.icon-doc-3:before { content: '\e84d'; } /* 'Ó°ç' */
.icon-doc-4:before { content: '\e730'; } /* 'Óú∞' */
.icon-resize-full-5:before { content: '\e744'; } /* 'ÓùÑ' */
.icon-resize-small-3:before { content: '\e746'; } /* 'ÓùÜ' */
.icon-chart-pie-3:before { content: '\e751'; } /* 'Óùë' */
.icon-database:before { content: '\e754'; } /* 'Óùî' */
.icon-down-open-mini:before { content: '\e760'; } /* 'Óù†' */
.icon-left-open-mini:before { content: '\e761'; } /* 'Óù°' */
.icon-right-open-mini:before { content: '\e762'; } /* 'Óù¢' */
.icon-up-open-mini:before { content: '\e763'; } /* 'Óù£' */
.icon-down-open-big:before { content: '\e764'; } /* 'Óù§' */
.icon-left-open-big:before { content: '\e765'; } /* 'Óù•' */
.icon-right-open-big:before { content: '\e766'; } /* 'Óù¶' */
.icon-up-open-big:before { content: '\e767'; } /* 'Óùß' */
.icon-dot-3:before { content: '\e78d'; } /* 'Óûç' */
.icon-flow-tree:before { content: '\e792'; } /* 'Óûí' */
.icon-globe-3:before { content: '\1f30e'; } /* '\1f30e' */
.icon-target-4:before { content: '\1f3af'; } /* '\1f3af' */
.icon-user-5:before { content: '\1f464'; } /* '\1f464' */
.icon-monitor:before { content: '\1f4bb'; } /* '\1f4bb' */
.icon-floppy-1:before { content: '\1f4be'; } /* '\1f4be' */
.icon-calendar-4:before { content: '\64'; } /* 'd' */
.icon-phone-2:before { content: '\50'; } /* 'P' */
.icon-download-4:before { content: '\1f4e5'; } /* '\1f4e5' */
.icon-mobile-3:before { content: '\1f4f1'; } /* '\1f4f1' */
.icon-arrows-ccw:before { content: '\1f504'; } /* '\1f504' */
.icon-light-down:before { content: '\1f505'; } /* '\1f505' */
.icon-light-up:before { content: '\1f506'; } /* '\1f506' */
.icon-search-5:before { content: '\73'; } /* 's' */
.icon-link-4:before { content: '\1f517'; } /* '\1f517' */
.icon-back:before { content: '\1f519'; } /* '\1f519' */
.icon-clock-5:before { content: '\43'; } /* 'C' */

/**
 * CUSOM BUTTON
 */
.custom-button,
a.custom-button {
	border: solid 0 #fff;
	margin: 0 10px 10px 0;
	display: -moz-inline-stack;
	display: inline-block;
	padding: 9px;
	font-size: 14px;
	color: #fff;
	background-color: #06e;
	text-shadow: -1px -1px 0 rgba(0,0,0,.3);

	text-decoration: none;

	cursor: pointer;

	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: background-color 150ms ease-in-out;
	-moz-transition: background-color 150ms ease-in-out;
	-ms-transition: background-color 150ms ease-in-out;
	-o-transition: background-color 150ms ease-in-out;
	transition: background-color 150ms ease-in-out;
}

.custom-button:hover,
.custom-button:focus,
a.custom-button:hover,
a.custom-button:focus {
	background-color: #2281ff;
	text-decoration: none;
}

.custom-button[class*=" icon-"]:before,
a.custom-button[class*=" icon-"]:before {
	margin-left: 0;
	margin-right: .3em;
}

/* AJAX LOADER */
.custom-button.loading {
    background-color: #a3a3a3;
    color: #e6e6e6;
}

.custom-button.loading::before {
	content: '\27f2' !important;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load-rotate 1.1s infinite linear;
	animation: load-rotate 1.1s infinite linear;
}

@-webkit-keyframes load-rotate {
	0% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
@keyframes load-rotate {
	0% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}
