/**
 *  Note: these MUST be separate selectors, otherwise one invalid selector
 *        renders the entire group invalid!
 */

/**
 * Display placeholder text in italics to make clear it is no already
 * filled-in text
 */
input#gridfield_relationsearch:-moz-placeholder {
	font-style: italic;
}
input#gridfield_relationsearch::-moz-placeholder {
	font-style: italic;
}
input#gridfield_relationsearch::-webkit-input-placeholder {
	font-style: italic;
}
input#gridfield_relationsearch:-ms-input-placeholder {
	font-style: italic;
}

/*
 * Hide placeholder text already when the input element gains focus,
 * not when the user types text (or, being irritated, tries to delete
 * the placeholder text)
 */
input:focus#gridfield_relationsearch:-moz-placeholder {
	color: transparent;
}
input:focus#gridfield_relationsearch::-moz-placeholder {
	color: transparent;
}
input:focus#gridfield_relationsearch::-webkit-input-placeholder {
	color: transparent;
}
input:focus#gridfield_relationsearch:-ms-input-placeholder {
	color: transparent;
}
