.cms-logo a {
  position: absolute;
  top: 8px;
  bottom: 8px;
  display: block;
  width: 24px;
  background: url("../images/logo-cms-header.png") no-repeat left center;
  text-indent: -9999em;
  padding: 0 1px;
  left: 0;
}

.ss-loading-screen .loading-logo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: #ffffff url("../images/logo-cms-startup.gif") no-repeat 50% 50%;
}
