<span style='color: #000' title='Frames'>  2864</span><span style='color: #009' title='Memory'>  79360.00 KB</span><span style='color: #900' title='Time'>   3031.54 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />