/* 
    Document   : styling for dompdf font generator
    Created on : 16.09.2015, 12:22:17
    Author     : LOrtlepp / Dubbel Späth
*/

* { 
	font-family: Helvetica, sans-serif; 
	line-height: 18px;
	box-sizing: border-box;
	
}

body {
	font-size:14px;
	position: relative;
	margin: 0;
	padding: 0;
}

.wrap {
	position: relative;
}

.formwrap {
	margin: 20px;
}

h1 {
	margin-bottom: 0;	
}

form {
	background: #efefef;
	padding: 20px;
	height:310px;
}

p.foldercheck {
	font-size: 12px;
	padding:0;
}


pre {
		margin: 20px;
}

pre,
pre *,
pre > strong { 
	background: #d5d5d5; 
	padding:20px; 
	color:#322823; 
	display:block;
	font-family:'courier',serif;
	text-shadow: 0px 1px 0px #fff;
}

pre > strong { 
	text-decoration: underline;
	margin: 0;
}

sup,span { display: inline; font-weight: bold; }

.green { color:#1F980D; background:none; }

.red { color:#ff0000; background:none; }

.blue{ color:#0A24E7; background:none; }

.code {
	background:#e6e6e6;
	border-radius:5px;
	display:block;
}

.form {
	display:inline;
	margin:0;
}

.form li {
	list-style-type: none;
	width: 100%;
	float:left;
	clear:both;
	padding:0;
	margin-top: 5px;
	margin-bottom: 10px;
}

.form li label { 
	float: left; 
	width: 180px; 
	line-height: 2.3;
}

select,option {
	padding:2px;
	font-size:12px;
	cursor:pointer;
}

.msg-error {
	color:#ff0000;
	font-weight: bold;
	display:none;
}

.msg { 
	background-color:#EBF8C8;
	background-image: url('check.png');
	background-position: right top;
	background-repeat: no-repeat;
	padding: 10px;
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 30px;
	right: 30px;
	z-index: 1;
	box-shadow: 0px 12px 10px rgba(0,0,0,0.15);
}

button,submit,input {
	border-radius:4px;
	background:#FFD7D7;
	border:none;
	font-size:14px;
	cursor:pointer;
	padding:5px 10px;
	text-align:center;
	font-weight:bold;
	margin: 0;
}

button:hover,submit:hover,input:hover {
	background:#F8B3B3;
}

