/*------------------------------------------------------------------------------
  HTML5 RESET
  Author: Richard Clark - http://richclarkdesign.com
------------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/*------------------------------------------------------------------------------
  BASIC HTML5 SETUP
------------------------------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Helvetica, Arial, sans-serif; color: #444; }
body { margin: 0; font-size: 1em; line-height: 1.4; text-align: center; background-color: #fcfcfc;}

::-moz-selection { background: #fdff54; color: #000; text-shadow: none; }
::selection { background: #fdff54; color: #000; text-shadow: none; }

a { color: #0074C6; text-decoration: none; border-bottom: 1px solid #0074C6; }
a:visited { color: #003860; border-bottom: 1px dotted #003860; }
a:hover { color: #0092f9; border-bottom: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 20px 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

nav ul, nav ol, nav ul li, nav ol li { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; line-height: 0; color: #000; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: solid 0 #fff; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {	}
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

#container {
	width: 100%;
	max-width: 980px;
	margin: auto;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
}

#content {
	padding: 25px;
}

header {
	background-color: #474855;
	padding: 25px;
}


/*-------------------------------------------------------------------
  BASIC TYPOGRAPHY
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	color: #474855;
	margin-top: 60px;
	font-weight: normal;
	line-height: 1;
}

h1 {
	margin-top: 0;
	font-size: 32px;
	line-height: 1;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0,0,0,.7);
}

h2 {
	margin-top: 40px;
	font-size: 24px;
	line-height: 1;
}

/* font-family and font-size */
p, ol, ul, dl, th, td, textarea {
	font-size: 15px; /* Helvetica for Mac, Arial for all other systems */
}

/* margins and line-height */
p, ol, ul, dl, form {
	margin-top: 20px;
	line-height: 20px;
}

ul, ol {
	padding-left: 20px;
}

ul ul, ul ol, ul dl, ol ol, ol ul, ol dl, dl ul, dl ol {
	font-size: 100%;
}

ul li, ol li {
	margin-top: 5px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

dl dt {
	width: 100px;
	float: left;
	font-weight: bold;
	clear: left;
}

dl dd {
	margin-left: 110px;
}

dl dt,
dl dd {
	margin-bottom: 5px;
}

/*-------------------------------------------------------------------
  TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.adresse-eingerueckt,
.adresse-eingerueckt-lang {
	float: left;
	width: 80px;
}

.adresse-eingerueckt-lang {
	width: 120px;
}

.fileinfo {
	color: #aaa;
	text-transform: uppercase;
	font-size: 80%;
}



/*-------------------------------------------------------------------
IMAGES
-------------------------------------------------------------------*/
img {
	line-height: 0;
	color: #000;	/* set color so that it has enaough contrast to background-color */
}


/*-------------------------------------------------------------------
LINKS
-------------------------------------------------------------------*/

/* link to external website that is opened in a new window */
a.externer_link {
}

/* link that open popup window (fancybox required) */
a.popup {
}

a.button {
	display: inline-block;
	padding: 5px 15px;
	-webkit-border-radius: 2px;
	border-radius: 2px; 
	border-bottom: none;
	background-color: #0074C6;
	color: #fff;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

a.button:hover {
	background-color: #0092f9;
}




.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } 
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	
	/*-------------------------------------------------------------------
	HIDDEN ELEMENTS THAT AREN´T PRINTED
	-------------------------------------------------------------------*/
	#skipnav,
	nav,
	footer,
	.invisible,
	.visuallyhidden,
	.dont_print {
		display: none;
	}

}
