/*
* styling for default theme
* 
* @LOrtlepp / dubbelspaeth.de / 25-05-2016
*/

@import "partials/reset"; 
@import "partials/webfonts";
@import "compass/css3/transition";
@import "partials/config";
@import "partials/typography";
@import "partials/bootstrap-columns";
@import "partials/boxmodel";


/*****************************************
* global elements
*****************************************/

body {
	background: $white;
	font-family: $text-font;
	font-weight: normal;
	font-size: 18px;
	color: $black;
	/*
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;*/ 
	line-height: 1;
	letter-spacing: -0.01em;
}
  
a {
	outline: none;
	border: none;
	text-decoration: none;
	color:$grey-dark;
}

a:hover {
	color: $grey-mid;
	text-decoration: none;
	@include transition(background 0.3s ease-out);
}






/* TYPOGRAPHY STYLES */
ul.unstyled,
ol.unstyled,
nav ul,
.dropdown,
.dropdown ul,
ul.col {
	line-height: inherit;
	padding-left: 0;
	margin-top: 0;
	list-style-type: none;
	li {
		margin-top: 0;
		list-style-type: none;
	}
}

/*
* {
	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6,
	> p {
		&:first-child {
			margin-top: 0 !important; 
		}
	}
}
*/


h1 { 
	color:$grey-mid; 
}

h2, h3, h4, h5, h6 {
	color: $grey-dark;
	line-height: 1.4;
}

/* GENERAL STYLES */
.inline {
	display: inline;
}

.message {
	display: block;
	font-size: 20px;
	background-color: $infocolor;
	padding: 10px;
	
	&.bad,
	&.error,
	&.validation,
	&.required {
		color: #fff;
		background-color: $errorcolor;
	}
	
	&.good {
		background-color: $successcolor;
		color: #fff;
	}
}

/* ELEMENTS */
iframe {
	max-width: 100%;
}

.image-container {
	margin-bottom: -$box-padding-l;
}

img.left {
	margin: 0 $box-padding-l $box-padding-l 0;
}

.has-image {
	line-height: 0;
	
	img {
		width: 100%;
		max-width: 100%;
	}
}


/* FORMS */
form {
	width: 100%;
	
	.optionset input,
	.checkbox input {
		float: left;
		margin-bottom: 0;
		margin-top: 10px;
	}
	
	.optionset li label,
	.checkbox label {
		float: none;
		margin: 0;
		width: auto;
		margin-left: 30px;
	}
	
	.middleColumn.fieldgroup {
		width: 100%;
	}
	
	.field {
		margin-bottom: 20px;
		clear: both;
		
		.check {
			cursor: pointer;
		}
	}
	
	.description {
		display: block;
		line-height: 1.2;
		margin-top: 2px;
		color: #666;
		font-size: 18px;
	}
	
	.message {
		margin-top: 10px;
		line-height: 1.2;
	}
	
	.required > label::after {
		content: "Pflichtfeld";
		display: inline-block;
		font-size: 12px;
		text-transform: uppercase;
		color: $errorcolor;
		margin-left: 10px;
		font-weight: 400;
		letter-spacing: 0.02em;
	}
	
	.holder-bad {
		input,
		select {
			background-color: scale-lightness($errorcolor, 70);
			border-color: $errorcolor;
		}
		
		.optionset li label,
		.checkbox label {
			color: $errorcolor;
		}
	}
}
fieldset,
fieldset fieldset.CompositeField {
	
	margin-bottom: 60px;
	background: #f0f0f0;
	padding: 30px;
	box-sizing: border-box;
	
	legend {
		font-size: 28px; 
		margin-bottom: 10px;
		font-weight: 700;
	}
	
}

.form-grouped fieldset {
	background: none;
	padding: 0;
}

// remove iOS rounded corner default styling
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
input[type=file],
input[type=submit],
input[type=reset],
button,
textarea {
	border-radius: 0;
	-webkit-appearance: none;
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
select,
textarea {
    color: $black;
    border: 1px solid #ddd;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 1em;
    font-family: $text-font;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="password"]:focus, 
input[type="search"]:focus,
select:focus,
textarea:focus {
	border-color: $grey-dark;
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"],
select,
textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="checkbox"] {
	margin: 0 10px 12px 0;
}

input[type="radio"] {
	margin: 0 10px 8px 0;
}

input[type="submit"],
input[type="button"],
button,
.button {
	color:$white;
	background: $grey-dark;
	padding: 15px 10px;
	border:none;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 1em;
    font-family: $headline-font;
    text-transform: uppercase;
	display: inline-block;
    box-sizing: border-box;
	margin: 0 20px 20px 0;
}


input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
	background: $grey-mid;
}

input[type="submit"],
input[type="button"],
input[type="checkbox"], 
input[type="radio"], 
button,
select {
	cursor: pointer;	
}

select option:hover {
	background: $grey-dark;
	color:$white;
}

label {	
	display: block;
}

/* button styling */
.button {
	color:$white;
	text-align: center;
	font-size: 28px;
	display: inline-block;
	border-bottom:1px solid $white;
}

.button:hover {
	color:$white;
	opacity: 0.8;
}

/* 1px content divider line element */
.line {
	height:0px;
	width:100%;
	position: relative;
	display:inline-block;
	margin: 50px 0 50px 0;
}

.line:before {
	content: '';
	position:absolute;
	height:1px;
	width:300px;
	left:50%;
	top:0;
	-ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Safari */
	transform: translate(-50%,0);
	background: $grey-dark;
}

/* clearfixes */
.clearfix:before, 
.clearfix:after,
.teaser:before,
.teaser:after,
.container-fluid:before, 
.container-fluid:after,
.container:before,
.container:after,
.row:before,
.row:after { 
	content: " "; 
	display: table; 
}

.clearfix:before, 
.clearfix:after,
.teaser:before,
.teaser:after,
.container-fluid:before, 
.container-fluid:after,
.container:before,
.container:after,
.row:before,
.row:after { 
	clear: both; 
}

/* For IE 6/7 only * Include this rule to trigger hasLayout and contain floats. */
.clearfix, 
.teaser,
.container-fluid, 
.container,
.row { *zoom: 1; }

/*
	colors
*/

.black { color: #000; }
.white {	color: #fff; }
.grey-light-1 { color: $grey-light-1; }
.grey-light-2 { color: $grey-light-2; }
.grey-mid { color: $grey-mid; }
.grey-dark { color: $grey-dark; }
.green { color: $green; }
.green-apple { color: $green-apple; }


.bg-grey-light-1 {
	background: $grey-light-1;
	color:$grey-dark;
	* {
		color:$grey-dark;
	}
}

.bg-grey-light-2 {
	background: $grey-light-2;
	color:$grey-dark;
	* {
		color:$grey-dark;
	}
}

.bg-grey-mid {
	background:$grey-mid;
	color:$white;
	* {
		color:$white;
	}
}

.bg-grey-dark {
	background:$grey-dark;
	color:$white;
	* {
		color:$white;
	}
}

.bg-green-apple {
	background:$green-apple;
	color:$grey-dark;
	
	h1 {
		color:$white;
	}
	
	* {
		color:$grey-dark;
	}
}




/* overflows */
.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }

/* buttons */
.btn {
	font-size:22px;
	padding: 8px 15px;
	margin: 0;
	background: $grey-mid;
	color:$white;
	display: inline-block;
	line-height: 1.5;
	
	i {
		float: right;
		padding-left:10px;
		color:$white;
	}
}

.btn:hover {
	color:$grey-dark !important;
	background: $white;
	@include transition(background 0.3s ease-out);
	
	i {
		color:$grey-dark !important;
	}
	
}

.btn-top-visible {
	visibility: visible;
	opacity: 1;
}

a[href='#top'] {
	position: fixed;
	bottom:25px;
	right:25px;
	background:url('/themes/default-theme/images/microsite/gototop.png') no-repeat 0px 0px;
	width:38px;
	height:38px;
	display: none;
}


/**************************************
* language select
***************************************/
.langselect {
	
	margin: 0;
	padding: 0;	
	font-weight: 300;
	font-size: 14px;
	height: 40px;
	
	li {
		float: left;
		list-style-type: none;
		padding-right: 4px;
		
		a {
			border-bottom:1px transparent;
		}
		
		a:hover {
			color:$white;
			border-bottom:1px solid $white;
		}
		
		a.current-language {
			font-family: $headline-font;
		}
	}

}



/**************************************
* content wrapper elements
***************************************/

/* outer content wrap */
.wrap {
	margin: 0;
	padding: 0;
}

/* main content wrap */
.content {
	margin: 0 auto;
	position: relative;
}
/*
header, .content, footer {
    padding-left: $default-padding;
    padding-right: $default-padding;
}*/

/* max-width wrapper */
.inner {
	max-width:$content-max-width;
	position: relative;
	margin-left:auto;
	margin-right: auto;
	padding-top: 0;
	padding-bottom: 0;
	
	+ .inner {
		padding-top: 0;
	}
}

/* content area */
section {
	margin:0 auto;
	line-height: 1.4;
	clear: both;
	
	+ section {
		margin-top: $box-padding-l;
	}
}

section a {
	font-weight: 400;
	color: $black;
	border-bottom: 1px solid $black;
}

section a:hover {
	border-bottom: 1px solid transparent;
}

img.full {
	display: block;
	margin-bottom: 10px;
}

.pull-left { float: left; }
.pull-right { float: right; }

	
/**************************************** 
* header w/nav, logo 
*****************************************/
header {

	z-index: 1000;
	
	nav {

		padding: 0;
				
		/* 1st level menu  */
		ul {
			list-style: none;
		}
		
		ul li {
		
			
			float: left;
			margin:0;
			position:relative;
			
			/* hide elements on desktop devices */
			&.hide-desktop {
				display: none;
			}
			
			a {
				font-family: $text-font;
				color: $white;
				padding: 15px 10px;
				text-align: center;
				font-size: 20px;
				font-weight: 300;
				display: block;
			}

			/* 2nd level menu  */	
			&.menu-item-has-children {
			
				ul {
					position:absolute;
					left:-9999px;
					top:35px;
					opacity:0;
					@include transition(opacity 0.3s ease-out);
					background:$grey-dark;
					color:$white;
					z-index: 1;
					
					li {
						a {
							font-size:14px;
							padding: 10px 15px;
							display:block;
							min-width:150px;
							text-align: left;
							line-height:1.15;
							color:$white;
						}
						
						 a:hover {
							background: $grey-mid;
						}
					}
				}

			}
		
			/* show 3nd level menu*/
			&.menu-item-has-children:hover ul {
				left:0;
				opacity:1;
			}
		
		}
		
		ul li > a:hover,
		.current {
			color: $grey-dark;
			background: $white;
			border-bottom: none;
		}
	}
	
	
	/* mobile menu */
	.menu-toggle {
		display:none;
		position: absolute;
		top:40%;
		right:0;
		text-transform: uppercase;
		font-family: $headline-font;
		font-size: 24px;
		padding-left: 36px;
	}
	
	.menu-toggle:before,
	.menu-toggle::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0px;
		width: 26px;
		height: 4px;
		border-top: 12px double $white;
	}
	
	.menu-toggle::after {
		border-top: 4px solid #fff;
		top: 16px;
	}
	
} 


/**********************************
* slider
**********************************/

.slider-wrapper {
	position: relative;
}

.slider {

	background-position: center center;
	background-repeat: no-repeat;
	background-size:cover;
    position: relative;
    width: 100%;
    box-shadow: none !important;
    margin-bottom:  0 !important;
	
	.inner {
		padding-top: 0;
		padding-bottom: 0;
	}

	img {
		width: 100%;
	}

	.logo {
		width: auto;
		max-width: 100%;
		height: auto;
		margin-top: 30px;
	}

	img {
		height:auto !important;
	}
	
	/* direction nav */
	
	.nivo-caption {
	
		background: $grey-dark;
		color: $white;
		line-height:1.1;
		padding: 15px;
		font-family: $text-font !important;
		opacity:1;
					
		h3 {
			color: $white;
			margin: 0 0 10px 0;
			font-family: $headline-font;
			
			a {
				border-bottom-style: solid;
			}
		}
		
	}
	
	
	.nivo-directionNav {
		
		a {
			width: 50px !important;
			height: 60px !important;
			background: none;
			@include transition(all 0.3s ease-out);
			top: 190px !important;
		}
		
		
	 	a.nivo-prevNav {
		    background: url("/themes/default-theme/images/microsite/arrow-left.svg") no-repeat 0px 0px;
		    left: 30px;
		}
		
		a.nivo-nextNav {
		    background: url("/themes/default-theme/images/microsite/arrow-right.svg") no-repeat 0px 0px;
		    right: 30px;
		}
	}
	
}

.nivo-controlNav {
			
    position: absolute;
    right: 10px;
    bottom: -10px;
    z-index: 999;
		
	 a.active {
	    background-position: 0 -20px !important;
	}
	
}


/* dishes feed */
#content {
	.FoodCategoryContainer {

		padding: 10px 15px;
		position: relative;
		font-family: $headline-font;
		background-color: #fff;
		
		* {
			color: $grey-dark;
		}
		
		&.FoodCategoryColor * {
			color: $white;
		}
		
		ul {
			margin: 0;
		}

		li {
			list-style-type: none;
			float:left;
			position: static;
			padding: 0;
			margin: 0;

			&:before {
				display: none;
			}
		}

		.FoodCategoryTitle {
			font-size: 21px;
			margin-bottom: 8px;
		}

		.dishes {
			display: inline-block;
			margin: 0;
			padding: 0;
			width:100%;
		}

		.dishes > li {
			margin-top: 0;
			margin-bottom: 15px;
			width:100%;
		}

		.dishes > li:last-child {
			margin-bottom: 0;
		}

		.dishLabelTitle {
			display: none;	
		}

		.dishDescription {
			font-size: 14px;
			width: 75%;
			float: left;
		}

		.dishDescriptionEnUS {
			display: block;
			font-family: $text-font;
		}

		.additives {
			font-size: 10px;
		}

		.specialLabels {
			position: absolute;
			top:-5px;
			right:10px;
			margin: 0;

			li {
				width:30px;
				height:30px;
				float: right;
				margin-left:3px;

				img {
					-moz-transform: rotate(25deg);
					-ms-transform: rotate(25deg);
					-webkit-transform: rotate(25deg);
					transform: rotate(25deg);
					-moz-border-radius: 50px;
					-webkit-border-radius: 50px;
					border-radius: 20px;
					width: 100%;
					height: auto;
				}
			}

		}

		.dishInfoRight {
			float: right;	
			text-align: right;
			width:25%;


			.dishPrice {
				margin: 0;
				display: block;	
			}

			.dishPriceInner {
				display: block;
				margin-bottom: -3px;
				font-size: 14px;
			}

			.dishPriceSmallInner {
				display: block;
				font-size: 12px;
				margin-bottom: 0px;
			}

			.dishLabels {
				margin: 0;
				padding:0;
				display: inline;

				&.clearfix:before,
				&.clearfix:after {
					display: none;
				}

				li.dishLabel {
					margin: 0;
					text-align: right;
					float: right;

					.dishLabelIcon {
						font-size: 15px;
					}

					.dishLabelIcon:after {
						display: none;
					}


				}
			}


		}
	}
}


/***************************************** 
* css dropdown menu with ul li a 
*****************************************/
.dropdown-container {

	font-size: 28px;
	margin-bottom: 40px;
	padding:0;
	position: relative;
	z-index: 100;
	
	div.label {
		display: inline-block;
		font-size: 36px;
		margin-right:20px;
		position: relative; /* for loading indicator (absolute positioning) */			
	}
	
	.loading-container {
	    top: 15px;
	    right: auto;
	    bottom: auto;
	    left: -30px;
	}
	
	.dropdown {
	
		display:inline-block;
		margin: 0;
		position: relative;
	
		li {
			margin: 0px;
			display: block;
			position: relative;
			font-size: 28px;
			
			a {
				text-align: left;
				border-bottom: none;
				font-weight: 400;
				line-height: 1;
			}
			
		}
		
		li.current a {
			font-family: $headline-font;
			
			display: block;
			color:$white;
		}
		
		li > a.first {
			font-size: 36px;
			padding: 10px 50px 0 0;
		}
		

		
		li > ul.children {
			width: auto;
			position: absolute;
			
			left: -9999px;
			opacity:0;	
			
			left:0;
			top:48px;
			
			position: absolute;
			display:none;
			overflow: visible !important;
			@include transition(opacity 0.3s ease-out);
			
			
			li a {
				font-family: $text-font;
				display:block;
				background: $grey-mid;
				font-size:28px;
				border-bottom: none;
				padding:10px;
			}
			
			li a:hover {
				background: $white;
				color: $grey-dark;
			}
		
		}
		
		ul.children.show {
			left:0;
			opacity: 1;
			display:inline-block;
			box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
			-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
		}
		/*
		li > ul.children.dropdown-hidden {
			left: -9999px;
			opacity: 0;
		}
		
		li:first-child:hover > ul.children {
			left:0;
			opacity:1;
		}
		*/
	}
	
	
	/* arrow */
	.dropdown:after {
			position: absolute;
			right: 15px;
			top: 13px;
			border-top: 18px solid #fff;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			content: "";
	}
	
	.dropdown-item-hidden {
		display: none;
	}
	
}

/**************************************** 
* footer (primary, secondary content)
*****************************************/
footer {
	
	font-size: 18px;
    line-height: 1.4;

	h3 {
		margin: 0;
		font-size: 22px;
	}
	
	
		
	a {
		color:$grey-light-2 !important;
		display: inline-block;
		margin-bottom: 4px;
		border-bottom: 1px solid transparent;
	}
	
	a:hover {
		color:$white;
		border-bottom: 1px solid $grey-light-2;
	}
		
}

/**************************************** 
* page-related styles (optional)			
*****************************************/

/* Home */
.MicrositePage {

}


/* Aktuelles */
.MicrositeNewsPage {
	
	.container > .row {
		border-bottom: 1px solid $grey-light-2;	
	}
	
	.container > .row:last-child {
		border-bottom: none;
	}

}


#content {
	
	ul {
		margin: 0 0 20px 0;
		padding: 0;
		display: inline-block;

		li {
			list-style-type: none;
			padding:0 0 0 20px;
			margin: 0 0 5px 0;
			position:relative;
		}

		li:before {
			position: absolute;
			left:0;
			top: 3px;
			width:15px;
			height:15px;
			content: '';
			background-image: url('/themes/default-theme/images/microsite/arrow-right.svg');
			background-repeat: no-repeat;
			background-size: cover;

		}

	}

	// sidebar dl list
	.download-list {

		margin: 0 0 20px 0;
		padding: 0;
		display: inline-block;

		li {
			padding-left: 0;
			margin-bottom: 0;
			list-style-type: none;
			float: left;
			width:100%;
			border-bottom: 1px solid $grey-light-2;

			&:before {
				display: none;
			}

			a {
				padding:15px 20px 15px 0;
				background:url('/themes/default-theme/images/microsite/download-icon.png') no-repeat right 18px;
				color: $green;
				display: block;
			}

			a:hover {
				color: $green-hover;
			}

		}

		li:last-child {
			border-bottom: none;
		}

	}
}







/*****************************************
* mobile layout 
*****************************************/
@media only screen and (max-width:1140px){	
	#slider .nivo-directionNav a {
	    top: 110px !important;
	}
}

@media only screen and (max-width:1024px){	

	/* slider */
	.slider-wrapper {
		padding-top: 0;
	}
	
	/* nav */
	header {
		position: relative;
	}
	
	.dropdown-container .label, 
	.dropdown-container .dropdown li > a.first {
	    font-size: 28px;
	}
	

			
}

@media only screen and (max-width:960px) {


		header nav ul li a {
			font-size:18px;
		}

		.accordion,
		#accordion {
		
			h3 {
				font-size: 22px;
			}
		
			h3 a {
				margin-right: 60px;
			}
			
			h3:after {
				font-size: 25px;
				width: 20px;
				height: 20px;
			}
			
			h3.open:after {
			    right: 13px;
			}
			
		}
				
}

@media only screen and (max-width:800px) {
	
	
	/* header */
	header {
		
		height: auto;
		
		.bg-grey-mid {
			height:200px;
		}
		
			    
		nav {
			display:none; 
						
			li.menu-item-has-children {
				border-bottom: none;
			}
			
			a {
				display: block !important;
			}
		}
	
		.menu-toggle {
			display: inline-block;
		    top: 167px;
		    bottom:auto;
			left: 50%;
			margin-left: -12px;
	    }
	    

		nav ul li.hide-desktop {
			display: block;
		}

	}
	
	/* content area */
	section {

		+ section {
			margin-top: $box-padding-m;
		}
	}
	
	
	/* slider */
	#slider {
		
		a.nivo-prevNav {
		    left: 20px;
		}
		
		.nivo-directionNav a {
			opacity: 1;
		    top: 110px !important;
		}
		
		.nivo-caption {
			position: relative;
		}
	}
	
	.nivo-controlNav {
			display: none;
	}

		/* dropdown menu */
	.dropdown-container {
		
		.dropdown:after {
		    border-top: 14px solid #fff;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		}
		
		div.label, 
		.dropdown li > a.first {
			  font-size: 22px;
		}
		
		.dropdown li > a.first {
			padding-left: 0;
		}
	  
		.dropdown li > ul.children li a {
		    font-size: 20px;
		}
	  
	  
	}
	

	body.menu-active {
		
		header {
	
			height: auto;
			width: auto;
			left: 0;
			right: 0;
		
			nav {
		
				left:auto;
				top:auto;	
				margin: 0 0 10px 0;
				display:block !important;
				width:100%;
				position: relative;
				
				* {
					box-sizing: border-box;
				}
				
				ul li {
						
					width:100%;
					margin:0;
					
					a {
						text-align: center !important;
						padding: 12px 15px !important;
						font-size: 18px;
						text-transform: none;
					}
					
					// "remove" default hover behaviour (nothing happens when hovering)
					&.menu-item-has-children:hover ul {
						left:0;
						opacity:1;
					}
					
					&.menu-item-has-children ul {
						position: relative;
						left: 0;
						top: auto;
						opacity: 1;
					}
					
				}
					
			}
		}
		
		
		.menu-container {
			position: absolute;
			left: 0;
			right: 0;
			box-shadow: 0px 2px 10px rgba(0,0,0,0.2);	
		}
		
			
	}

	.accordion,
	#accordion {	
		h3 {
		    font-size:22px;
		    
		    &.open:after {
				right: 7px;
		    }
		    
		    a {
			    font-size: 20px;
			    margin-right: 30px;
			}
			
			a:after {
				font-size: 19px;
				color: #A0A0A0;
				left: 112px;
				top: 1px;
			}
		}
		
		h3:after {
		    font-size: 22px;
		}
		
		.accordion-content {
		    font-size: 20px;
		}

	}
		
	footer.primary nav ul li {
	    float: right;
	    clear: right;
	    margin-bottom:2px;
	}
	
}

@media only screen and (max-width:768px){
	
	section, p {
    	font-size: 20px;
    }
    
	form {
		.description {
			font-size: 14px;
		}

		.required > label::after {
			font-size: 11px;
		}
	}
	
	.accordion,
	#accordion {	
		h3 {
		    font-size:20px;
			padding: 15px 32px 40px 0px;
			position: relative;
		    
		    a {
			    font-size: 16px;
			    margin-right: 0px;
			    position: absolute;
			    bottom:10px;
				margin-top: 26px;
			}
			
			
			a:after {
			    font-size: 18px;
			    color: #A0A0A0;
			    left: 102px;
			    top: 0px;
			}
		}
		
		.accordion-content {
			margin-left: 0;
		}

	}	
}

@media only screen and (max-width:600px){

	header .logo {
		margin-right: -10px;
	}
		
	section, p {
	    font-size: 18px;
	}
	
	
	.dropdown-container {
	
		font-size: 20px;
	
		.dropdown {
		
		    width: 200px;
		    
		     li > ul.children {
			    top: 36px;
			}
		    
		}
		
		.loading-container {
			top: 10px;
		}

	}
	
	.has-image img {
		width: 100%;
		max-width: 100%;
	}
	
	.accordion,
	#accordion {	
		h3 {
		    font-size:18px;
		    padding: 15px 32px 40px 0;
			position: relative;
		    
		    &.open:after {
					right: 0px;
		    }

			a:after {
				font-size: 16px;
				color: #A0A0A0;
				left: 90px;
				top: 0px;
			}
		}
		
		h3:after {
		    font-size: 18px;
		    top: 50%;
		    right: 0;
		    margin-top: -12px;
			
		}
		
		p {
		    margin-left: 0px;
		    font-size: 16px;
		}

	}
	
}

@media only screen and (max-width:480px){
	
	
	header .bg-grey-mid {
	    height: 160px;
	}
	
	header .menu-toggle {
		top:130px;
	}
	
	
	h1 {
		font-size: 30px;
		margin-bottom: 20px;
	}
	
	h2 {
		font-size: 26px;
		margin-bottom: 18px;
	}
	
	h3 {
		font-size: 22px;
		margin-bottom: 14px;
	}
	
	h4 {
		font-size: 18px;
		margin-bottom: 13px;
	}
	
	#slider {
		    
	    .nivo-directionNav a {
  		    background-repeat: no-repeat;
		    background-position: 0px 0px;
		    background-size: cover;
		    width:40px !important;
		    height:40px !important;
		    top:40px !important;
	    }
	    
	     a.nivo-prevNav {
		    left: 10px;
		    background-image: url("/themes/default-theme/images/microsite/arrow-left.svg");
		}
		
	
		
		a.nivo-nextNav {
		    right: 20px;
		    background-image: url("/themes/default-theme/images/microsite/arrow-right.svg");
		}
	}
	
	
	.nivo-caption {
	    position: relative;
	    h3 {
		    font-size: 20px;
	    }
	}
	
	
	.button {
		font-size: 22px !important;
	}
	
	section,
	p {
	  font-size: 18px;
	}


	.dropdown-container {
		
		float:none;
		margin-bottom: 0;
	
		.label {
			
			position: relative;
			width:100%;
			height:30px;
			
			.loading-container {
				right: 24px;
				bottom: auto;
				left: auto;
				top:0px;
			}
			
		}
		
		.dropdown {
		    width: 170px;
		}
		
		.dropdown:after {
			top: 11px;
			border-top: 14px solid #FFF;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			content: "";
		} 
		
		.dropdown li > ul.children {
				/* top:0 !important; */
		}
		
	}
	
}

@media screen and (max-width:320px){
		button {
			  font-size: 18px !important;
		}
}



/* some IE styles at the very end from a galaxy far beyond... :) */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {


} 


