@import "partials/normalize";
@import "partials/base";
@import "partials/animations";

/*-------------------------------------------------------------------
  BASIC SETUP
-------------------------------------------------------------------*/

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 62.5%;
	line-height: $text-line-height;
	background-color: #ccc;
	color: $text-color;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.no-js body {
	overflow: auto;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/*-------------------------------------------------------------------
  BASIC TYPOGRAPHY
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: $heading-line-height;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
	margin-top: 30px;
}

h4 {
	margin-top: 20px;
	text-transform: uppercase;
	font-size: 16px;
}

h5 {
	font-size: 15px;
	margin-top: $text-margin-top;
}

h6 {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: $text-margin-top;
}

/* font-family and font-size */
p,
ol,
ul,
dl,
th,
td,
label,
.text input,
.textarea input,
.password input,
.email input,
textarea,
select,
input.action {
	font-size: $text-font-size;
	font-family: $text-font;
}

/* margins and line-height */
p,
ol,
ul,
dl,
form {
	margin-top: $text-margin-top;
	line-height: $text-line-height;
}

ul, ol {
	padding-left: 20px;
}

ul ul, ul ol, ul dl, ol ol, ol ul, ol dl, dl ul, dl ol {
	font-size: 100%;
}

ul li, ol li {
	margin-top: 5px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

dl dt {
	width: 100px;
	float: left;
	font-weight: bold;
	clear: left;
}

dl dd {
	margin-left: 110px;
}

dl dt,
dl dd {
	margin-bottom: 5px;
}

strong, b {
	font-weight: normal;
	font-family: $text-font;
}

em, i {
	font-weight: normal;
	font-family: $text-light-font;
}

/*-------------------------------------------------------------------
  TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.outerHeader {
	margin: 0 10px 15px 15px;
	color: #fff;
}

.additives {
	font-family: $text-light-font;
	font-size: 65%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
}

.adr_float {
	float: left;
	width: 45px;
}

.adr_float.long {
	width: 80px;
}

.message {
	display: block;
	margin: $text-margin-top 0;
	padding: 20px;	
	background: none repeat scroll 0 0 $message-background-color;
	border: 2px solid $message-border-color;
	color: $message-color;
}

.message.error {
	background-color: $error-background-color;
	border-color: $error-border-color;
	color: $error-color;
}

.message.success {
	background-color: $success-background-color;
	border-color: $success-border-color;
	color: $success-color;
}

.lang-en-US {
	font-family: $text-light-font;
	opacity: .7;
}

.small {
	font-family: $text-light-font;
	display: block;
	font-size: 85%;
	line-height: 1.2;
}

/* Numbered List */
ul.numbered-list {
	margin-bottom: 0;
	padding-left: 0;
}

ul.numbered-list li {
	margin-top: 0;
	list-style: none;
	margin-bottom: .2em;
}

ul.numbered-list .number {
	display: inline-block;
	position: absolute;
	width: 1em;
}

ul.numbered-list .title {
	display: inline-block;
	position: relative;
	left: 1.5em;
	margin-right: 1.5em; /* remove space for indentet .title element */
}

/*-------------------------------------------------------------------
  LINKS
-------------------------------------------------------------------*/
a {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px solid $link-color;
	@include transition(color $default-transition-duration);
}

a:hover {
	border-bottom-color: #00a2e2;	
}

/* BUTTON STYLE */
.button,
input.action {
	@include border-radius(0);
	@include box-sizing(border-box);
	margin: 15px 15px 0 0;
	padding: 10px 25px 10px 15px;
	width: 100%;
	background-color: $link-color;
	color: #fff;
	font-size: 17px;
	line-height: 1;
	cursor: pointer;
	display: block;
	overflow: hidden;
	text-align: left;
	border: solid 0 #fff;
	@include transition(background-color $default-transition-duration);
	
}

.button:hover,
input.action:hover {
	background-color: tint($link-color, 20);
	color: #fff;
}


/*-------------------------------------------------------------------
  FORMS 
-------------------------------------------------------------------*/
fieldset legend {
	display: none;
}

label {
	display: block;	
}

.checkbox label {
	display: inline;
}

.text,
.textarea,
.password,
.checkbox,
.email,
.select,
.Actions {
	margin-top: 10px;
}

.text input,
.password input,
.email input,
textarea {
	@include border-radius(0);
	@include box-sizing(border-box);
	width: 100%;
	margin: 0;
	padding: 10px 5px;
	background-color: #fff;
	border: 1px solid #404040;
	color: $text-color;
	@include box-shadow(rgba(black, 0.2) 1px 1px 1px inset);
}

.text input:focus,
.password input:focus,
textarea:focus {
	color: #000;
}

textarea {
	height: 300px;
}

.text input.short {
	width: 100px !important;	
}

/* mark required fields */
.requiredField label:after {
	content: ' *';
	color: $error-color;
}

/* no content for error messages in form */
form label.required:after {
	content: '';
}


/*-------------------------------------------------------------------
  TABLES
-------------------------------------------------------------------*/
table {
	margin-top: $text-margin-top;
	width: 100%;
	padding: 0;
	border-collapse: collapse;
    border-spacing: 0;
}

table th, table td {
	padding: 5px;
	padding-left: 0;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid $white;
	line-height: $text-line-height;
}

table thead th, table thead td,
table tbody th {
	font-family: $text-font;
	font-weight: normal
}

table thead th, table thead td {
	vertical-align: bottom;
}

table thead th, table thead td,
table tr:first-child td, table tr:first-child th {
	border-top: none;
}

table thead th, table thead td {
	border-bottom: 2px solid $white;
}

table th.table-align-right, table td.table-align-right {
	text-align: right;
	padding-left: 5px;
	padding-right: 0;
}

/* TABLE CONDENSED */
table.tableCondensed th, table.tableCondensed td {
	padding-top: 2px;
	padding-bottom: 2px;
}

/* TABLE UNSTYLED */
table.unstyled th, table.unstyled td,
table.unstyled thead th, table.unstyled thead td {
	border-top: none;
	border-bottom: none;
}

/*-------------------------------------------------------------------
  LISTS
-------------------------------------------------------------------*/
ul.mt-page-link-list,
ul.mt-voting-link-list {
	margin: 0 -10px 50px 0;
	padding: 0;
}

ul.mt-page-link-list li,
ul.mt-voting-link-list li {
	margin: 0;
	list-style-type: none;
}

/* LINKS / BUTTONS */
.mt-page-link,
.mt-voting-link,
.mt-restaurant-load-link {
	margin: 0 0 3px 0;
	padding: 15px 25px 15px 15px;
	display: block;
	background: #fff;
	color: #565656;
	font-size: 17px;
	border: none;
	line-height: 17px;
	position: relative;	
}

.mt-page-link,
.mt-voting-link,
.mt-restaurant-load-link {
	&.current{
		background-color: #00A2E2;
		color: #fff !important;
	} 
}

a.mt-page-link:after,
a.mt-voting-link:after {
	display: block !important;
	content: '\e807' !important; /* icon-right-open-big */
	font-family: 'icons';
	text-indent: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #565656;
	position: absolute;
	width: 13px;
	height: 17px;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mt-voting-link {
	background-color: #00A2E2;
	color: #fff !important;
	padding-right: 40px;
}

a.mt-voting-link:after {
	content: '\e80c' !important; /* icon-star */
	right: 20px;
	font-size: 24px;
	color: #fff;
}

/* RESULT LIST */
.mt-form-result-list {
	padding: 0;
}

.mt-form-result-list li {
	margin-top: 25px;
	list-style-type: none;
	padding: 0;
}

.mt-form-result-list li:first-child {
	margin-top: 0;
}

.mt-form-result-list li .label {
	margin-top: 0;
	font-size: 15px;
	text-transform: none;
	color: #000;
}

.mt-form-result-list li .field {
	margin-top: 5px;
	font-size: 15px;
	text-transform: none;
}

/*-------------------------------------------------------------------
  HEADER
-------------------------------------------------------------------*/
#mt-header,
.mt-header,
#mt-header h1,
.mt-header h1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	z-index: 100;
}

#mt-header h1,
.mt-header h1 {
	position: absolute;
	font-size: 14px;
	text-align: center;
	left: 60px;
	right: 60px;
	height: auto;
	top: 50%;
	@include transform(translateY(-50%));
}

/* TITLE */
#mt-page-title,
#mt-page-subtitle,
.mt-page-title,
.mt-page-subtitle {
	top: 5px;
	left: 15%;
	right: 125px;
	display: block;
	padding-left: 15px;
	height: 20px;
}

#mt-page-title,
#mt-page-subtitle,
.mt-page-title,
.mt-page-subtitle,
#logo {
	position: absolute;
	overflow: hidden;
	color: #fff;
    font-size: 18px;
    line-height: 1.2;
	white-space: nowrap;
	margin-top: 0;
	padding-left: 0;
	left: 60px;
	right: 60px;
	text-align: center;
}

#mt-page-title,
.mt-page-title {
	top: 50%;
	@include transform(translateY(-50%));
}

#mt-page-subtitle {
	font-size: 13px;
	top: auto;
	height: auto;
	bottom: 7px;
	display: none;
}

.no-logo #mt-page-subtitle{
	right: 20px;
}

.no-logo #mt-page-title {
	right: 60px;
}

.mt-multiheading #mt-page-title {
	top: 5px;
	@include transform(translateY(0));	
}

.mt-multiheading #mt-page-subtitle {
	display: block;
}

#logo {
	width: 85px;
	height: 40px;
	top: 3px;
	right: 15px;
	line-height: 40px;
	text-align: right;
}

/* BACK BUTTON */
#mt-nav-back,
#mt-nav-back:before {
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
}

#mt-nav-back {
	border: medium none;
	text-indent: -9999px;
	display: none;
}

#mt-nav-back:before {
	content: '\e806'; /* icon-left-open-big */
	font-family: 'icons';
	text-indent: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: #fff;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	line-height: 50px;
}

/*-------------------------------------------------------------------
  MAIN NAV
-------------------------------------------------------------------*/
.mt-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: #000;
	color: #fff;
	overflow: hidden;
	z-index: 98; /* below loading indicator */
}

/* hide nav while startup image is shown */
.mt-startup-image-active .mt-nav {
	display: none !important;
}

.mt-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mt-nav li {
	margin-top: 0;
	padding: 0;
	list-style: none;
	width: 50%;
	float: left;
}

.mt-nav.mt-nav-item-count-3 li {
	width: 33.333%;
}

.mt-nav.mt-nav-item-count-4 li {
	width: 25%;
}

.mt-nav.mt-nav-item-count-5 li {
	width: 20%;
}

.mt-nav.mt-nav-item-count-5 a {
/*	text-indent: -9999px;*/
}

.mt-nav.mt-nav-item-count-5 a:before {
/*	top: 10px;
	text-indent: 0;*/
}

.mt-nav.mt-nav-item-count-6 li {
	width: 16.666%;
}


.mt-view-link,
.mt-view-link:visited {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	height: 100%;
	padding: 5px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: none;
}

.mt-view-link:before {
	display: block;
	position: relative;
	margin: 0;
	width: 30px;
	height: 24px;
	font-size: 23px;
	top: 0;
	left: 50%;
	margin-left: -15px;
	overflow: hidden;
}

.mt-view-link.icon-food:before {
	font-size: 20px;
	top: 2px;
}

.current .mt-view-link {
	color: #00a2e2;
}


/*-------------------------------------------------------------------
  VIEW / PAGE
-------------------------------------------------------------------*/

#mt-container {
	position: absolute;
	top: 50px; /* height of header */
	bottom: 50px; /* height of footer */
	left: 0;
	right: 0;
}

#mt-container,
.mt-view {
	@include perspective(1200px);
	@include transform-style(preserve-3d);
}

.no-js #mt-container {
	position: relative;
	left: auto;
	right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.mt-view,
.mt-page {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0px;
	visibility: hidden;
	display: none;
	overflow: hidden;
	backface-visibility: hidden;
	@include transform(translate3d(0, 0, 0));
	-webkit-backface-visibility: hidden; /* prevent flickering with animations @link http://davidwalsh.name/translate3d */
}

.no-js .mt-view,
.no-js .mt-page {
	position: relative;
	height: auto;
	visibility: visible;
	display: block;
}


/* PAGE */
.mt-page {
	background-color: $body-background-color;
	visibility: hidden;
	overflow: scroll;
	-webkit-overflow-scrolling: touch; /* smooth ios scrolling */
}

.no-js .mt-page {
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}

.mt-current-view,
.mt-current-page {
	visibility: visible;
	z-index: 50; 
	display: block;
}

.mt-page-ontop {
	z-index: 51; /* above other pages, below nav and header */
}

.mt-page-inner {
	padding: 65px 10px 65px 20px; /* top / bottom padding = height of header / .mt-nav +15px */
}

.mt-page-inner > *:first-child {
	margin-top: 0 !important;
}

/*-------------------------------------------------------------------
  LOCATION VIEW
-------------------------------------------------------------------*/
.location-view a span {
	font-size: 20px;
	display: block;
}

/*-------------------------------------------------------------------
  MENU VIEW
-------------------------------------------------------------------*/

.mt-current-date-link,
a.mt-current-date-link:after {
	background-color: $link-color;
	color: $white;
}

.FoodCategoryContainer {
	position: relative;
}

.content-container,
.FoodCategoryContainer {
	padding: 10px 15px;
	margin: 0 -10px 3px 0;
	background-color: #fff;
	color: #565656;
}

.content-container {
	padding: 20px 15px;
}

.content-container > *:first-child,
.dish-rating-container > *:first-child {
	margin-top: 0 !important;
}

.FoodCategoryContainer h4 {
	margin: -8px -15px -10px -15px;
	padding: 10px 15px;
	font-size: $mobile-weekly-menu-foodcategory-font-size;
	text-transform: none;
	color: #565656;
}

.FoodCategoryContainer h4.fixed {
	background-color: #fff;
    display: block;
    left: 15px;
    margin-left: 5px;
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 97;
}

.FoodCategoryColor *,
.FoodCategoryColor .mt-page-link:after {
	color: #fff !important;
}

.FoodCategoryContainer .dishes {
	margin: 0 -15px 0 0;
	padding: 0;
	list-style-type: none;
}

.FoodCategoryContainer .dishes li {
	margin-top: 0;
	padding: 0;
	border-top: 1px solid #ddd;
	list-style-type: none;
}

.FoodCategoryColor .dishes li {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, .6);
}

.FoodCategoryContainer .dishes li:first-child {
	margin-top: 0;
	border-top: none;
}

.FoodCategoryContainer .dishes .mt-page-link {
	padding: 8px 0;
	background-color: transparent;
	margin-bottom: 0;
}

.FoodCategoryContainer .dishInfoRight {
	float: right;
	text-align: right;
	width: 25%;
	min-width: 75px;
	margin-right: 15px;
}

.FoodCategoryContainer a .dishInfoRight {
	margin-right: 30px;
}

.FoodCategoryContainer .dishPrice,
.FoodCategoryContainer .dishDescription,
.FoodCategoryContainer .dishDescriptionInner{
	display: block;
}

.FoodCategoryContainer .dishDescription {
	float: left;
	width: 65%;
	font-size: $mobile-weekly-menu-dish-font-size;
	line-height: $mobile-weekly-menu-dish-line-height;
}

.FoodCategoryContainer a .dishDescription {
	width: 58%;
}

.FoodCategoryContainer .dishDescriptionEnUS {
	display: block;
}

.FoodCategoryContainer .dishPrice {
	text-align: right;
	white-space: nowrap;
	font-size: $mobile-weekly-menu-price-font-size;
}

.FoodCategoryContainer .dishPriceSmallInner {
	margin-top: 3px;
	display: block;
	font-size: $mobile-weekly-menu-price-small-font-size;
	line-height: 1;
}

.FoodCategoryContainer .patch {
	margin-bottom: 3px;
}

.ColorContrastTitle {
	color: #fff;
}

/* DishLabels */
.FoodCategoryContainer .dishLabels {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	float: right;
}

.FoodCategoryContainer .dishLabels li {
	margin-top: 0 !important;
	float: right;
	border-top: none;
}

.FoodCategoryContainer .dishLabelTitle {
	display: none;
}

.FoodCategoryContainer .dishLabelIcon {
	display: block;
	width: 1em;
	height: 1em;
	font-size: $mobile-weekly-menu-dish-label-font-size;
}

.dishLabelIconFloated .dishLabelIcon {
	display: inline-block;
	margin-right: .3em;
}

/* SpecialLabels */
.FoodCategoryContainer .specialLabels {
	position: absolute;
	margin-top: 0;
	padding: 0;
	top: -35px;
	right: 10px;
	text-align: right;
}

.FoodCategoryContainer .specialLabels li {
	margin-top: 0 !important;
	margin-left: 5px;
	float: right;
	border-top: none;
}

.FoodCategoryContainer .specialLabels .specialLabelImage {
	@include rotate(25deg);
	@include single-box-shadow(rgba(0,0,0,.2), 2px, 2px, 3px);
	@include border-radius(40px);
}

/* Image */
.FoodCategoryContainer .dishImage {
	margin: 5px 15px 15px -15px; 
	height: 0;
	padding-bottom: 50%; /* Aspect Ratio 2:1 on dishImage e.g. 400 x 200 */
}

.FoodCategoryContainer .dishImage img {
	width: 100%;
	height: auto;
}

/* lazy load images */
.lazyload-container {
	background: #fff url("../images/lazyload-spinner.gif") no-repeat center center;
}

.lazyload-container img.lazy {
	opacity: 0;
	@include transition(opacity $default-transition-duration);
}

.lazyload-container img.lazy-loaded {
	opacity: 1;
}

.lazyload-container.dishImage img.lazy {
	width: auto !important;
}

.lazyload-container.dishImage img.lazy-loaded {
	width: 100% !important;
}

/* FOOTNOTE */
.footnote {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 15px;
}

.footnote * {
	font-family: $text-light-font;
	color: $white;
}

.footnote > *:first-child {
	margin-top: 0 !important;
}

.footnote h2 {
	padding-left: 0;
	font-size: 12px;
	text-transform: uppercase;
}

.footnote p,
.footnote ul {
	font-size: 12px;
}

.footnote ul.numbered-list {
	margin-top: 0;
}

.footnote .dishLabelIcon {
	font-family: 'icon-dishlabels';
	font-size: 15px;
}

/*-------------------------------------------------------------------
  VOTING 
-------------------------------------------------------------------*/
.mt-voting-result-list {
	padding-left: 0;
}

.mt-voting-result-list li {
	list-style: none;
	margin: 0 -15px 3px -15px;
	padding: 15px 0;
	background-color: #fff;
	position: relative;
}

.mt-voting-result-list .mt-voting-percent,
.mt-voting-result-list .mt-voting-dish-description {
	display: block;
	padding-left: 15px;
}

.mt-voting-result-list .mt-voting-percent {
	display: block;
	font-size: 42px;
	line-height: 1;
}

.mt-voting-result-list .mt-voting-dish-description {
	padding-right: 20px;
	line-height: 1.2;
}

.mt-voting-result-list .mt-class-voting-meter {
	display: block;
	margin-top: 5px;
	height: 10px;
	background-color: #00a2e2;
}

/*-------------------------------------------------------------------
  DISH RATING
-------------------------------------------------------------------*/
.mt-dish-rating-comment textarea
{
	height: 90px;
}

.mt-dish-rating-list {
	padding-left: 0;
}

.mt-dish-rating-list  li {
	list-style: none;
	margin: 0;
}

.mt-dish-rating-list h4 {
	margin-top: 10px;
	font-size: 15px;
	text-transform: none;
}

.mt-dish-rating-list .ui-rating {
}

.mt-dish-rating-comment p {
	margin-top: 5px;
	color: #999;
}


/* jQuery rateYo plugin */
.jq-ry-container {
	position: relative;
	line-height: 0;
	display: block;
	cursor: pointer;
}
.jq-ry-container[readonly="readonly"] {
	cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
	position: relative;
	width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
	position: relative;
	line-height: 0;
	z-index: 10;
	white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
	display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
	width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
	width: 0;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
/* star colors */
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
	&.jq-ry-normal-group > svg {
		fill: #ccc;
	}
	&.jq-ry-rated-group > svg {
		fill: #00a2e2;
	}
}


/* jQuery rateit plugin */
.ui-rating {
	margin: 0;
}

.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel {
    display: block;
	width:35px;
    height:35px;
    float:left;
    text-decoration:none;
    vertical-align:bottom;
	position: relative;
	border-bottom: none !important;
}

.ui-rating .ui-rating-star:after {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width:35px;
    height:35px;
	line-height: 1;
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	color: #ccc;
	font-size:35px;
	position: relative;
	border-bottom: none;
	content: "\e80c"; /* icon-star */
}


.ui-rating a {
	cursor: pointer;
}
.ui-rating-full  {
    background-position:left top;
}

.ui-rating-half  {
    width: 20px;
	margin-right: 20px;
	overflow: hidden;
}

.ui-rating-empty:after {
}

.ui-rating-cancel {
    display: none !important;
}

.ui-rating-full:after,
a.ui-rating-hover:after,
.rating-1 .mt-dish-rating-star-1:after,
.rating-2 .mt-dish-rating-star-1:after, .rating-2 .mt-dish-rating-star-2:after,
.rating-3 .mt-dish-rating-star-1:after, .rating-3 .mt-dish-rating-star-2:after, .rating-3 .mt-dish-rating-star-3:after,
.rating-4 .mt-dish-rating-star-1:after, .rating-4 .mt-dish-rating-star-2:after, .rating-4 .mt-dish-rating-star-3:after, .rating-4 .mt-dish-rating-star-4:after,
.rating-5 .mt-dish-rating-star-1:after, .rating-5 .mt-dish-rating-star-2:after, .rating-5 .mt-dish-rating-star-3:after, .rating-5 .mt-dish-rating-star-4:after, .rating-5 .mt-dish-rating-star-5:after {
	color: #00a2e2 !important;
}

.rating-1 .mt-dish-rating-star-1:after,
.rating-2 .mt-dish-rating-star-1:after, .rating-2 .mt-dish-rating-star-2:after,
.rating-3 .mt-dish-rating-star-1:after, .rating-3 .mt-dish-rating-star-2:after, .rating-3 .mt-dish-rating-star-3:after,
.rating-4 .mt-dish-rating-star-1:after, .rating-4 .mt-dish-rating-star-2:after, .rating-4 .mt-dish-rating-star-3:after, .rating-4 .mt-dish-rating-star-4:after,
.rating-5 .mt-dish-rating-star-1:after, .rating-5 .mt-dish-rating-star-2:after, .rating-5 .mt-dish-rating-star-3:after, .rating-5 .mt-dish-rating-star-4:after, .rating-5 .mt-dish-rating-star-5:after {
	color: #565656 !important;
}

.ui-selected-value {
	display: none;
}

/*-------------------------------------------------------------------
  RECIPE SUBMISSION
-------------------------------------------------------------------*/

#view-recipesubmission .mt-recipe-submission-recipe textarea {
	height: 200px;
}



/*-------------------------------------------------------------------
  INFO MESSAGES 
-------------------------------------------------------------------*/
.info-message-image {
	margin: 0 -10px 3px 0;
}

.info-message-image img {
	max-width: 99999px;
	width: 100%;
}


/*-------------------------------------------------------------------
  LOADING INDICATOR
-------------------------------------------------------------------*/

/* LOADING INDICATOR */
#mt-loading-indicator {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99; /* place it below header */
	background-color: rgba(0,0,0,.8);
}

#mt-loading-indicator .spinner {
	display: block;
	width: 1px !important;
	top: 50%;
	left: 50%;
}

#mt-loading-text {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	margin-top: 30px;
	text-align: center;
	color: rgba(255, 255, 255, .9);
}


/*-------------------------------------------------------------------
  OVERLAY
-------------------------------------------------------------------*/

.mt-overlay-source {
	display: none;
}


.mt-overlay,
.mt-rating-response-overlay {
	display: block;
	visibility: visible;
	z-index: 999; /* place it above UI, but below startup image */
	@include transition(opacity 0.4s);
	
	.mt-nav {
		display: block !important;
		text-align: center;
		
		.button {
			margin-top: 0;
			padding: 0;
			line-height: 50px;
			font-family: $text-font;
			text-transform: uppercase;
			text-align: center;
			
			&:before {
				font-size: 200%;
				position: absolute;
				right: 0;
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}
	
	.mt-page {
		display: block;
		visibility: visible;
	}
}


/*-------------------------------------------------------------------
  RATING RESPONSE OVERVIEW
-------------------------------------------------------------------*/
.mt-rating-response-overlay {
	
	top:0;
	
	.mt-page-inner {
		
		padding: 0;
		margin: 0;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%, -50%));
			
		h3 {
			font-size: 30px;
			padding: 0 10px;
			margin-bottom:  20px;
		}
		
	}
	
	.button {
		margin: 0 auto;
		padding: 0;
		line-height: 50px;
		font-family: "din-medium", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		text-align: center;
	}
	
	.button-rating {
	    display: block;
	    width: auto;
	    padding: 15px 15px 10px;
	    font-size: 20px;
	    line-height: 1.5;
	    display: inline-block;
	}
		
}




/*-------------------------------------------------------------------
  IMAGES
-------------------------------------------------------------------*/
#mt-startup-image {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000; /* place it above everything */
	background: #000 url('#{$startup-image-path}apple-touch-startup-image.jpg') center top no-repeat;	
}

#mt-background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*-------------------------------------------------------------------
  RETINA DISPLAYS
-------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image@2x.jpg');
		background-size: 320px 460px;
	}
	
	#logo img {
		background-image: url('../images/mobile-logo-eurest@2x.png');
		background-size: 40px 27px;
	}
}

/*-------------------------------------------------------------------
  IPHONE 5
-------------------------------------------------------------------*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-568h@2x.jpg');
		background-size: 320px 548px;
	}
}

/*-------------------------------------------------------------------
  SMALL HEIGHT LANDSCAPE
-------------------------------------------------------------------*/
@media (max-device-width: 568px) and (orientation: landscape) {
	/* NAVIGATION */
	.mt-nav {
		height: 40px;
		line-height: 40px;
	}
	
	.mt-view-link {
		padding-top: 3px;
	}

	.mt-view-link:before {
		height: 19px;
		font-size: 18px;
		margin-bottom: -3px;
	}

	.mt-view-link.icon-food:before {
		font-size: 15px;
	}
}

/*-------------------------------------------------------------------
  DESKTOP STYLES
-------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-568h@2x.jpg');
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
}

/*-------------------------------------------------------------------
  IPAD PORTRAIT
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: portrait) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-Portrait~ipad.jpg');
		-webkit-background-size: 768px 1004px;
		background-size: 768px 1004px;
	}
}


@media (min-width:569px) {
	
	.mt-page-link, .mt-voting-link, .mt-restaurant-load-link {
	    line-height: 20px;
	}
	
	
	.FoodCategoryContainer {
		
		h4 {
		    margin: 0 -15px -10px -15px;
		    padding: 10px 15px;
		    font-size: 26px;
		}

		.dishDescription,
		.dishPrice {
		    font-size: 16px;
		}
		
		.dishPriceSmallInner,
		.rating label,
		.button {
			font-size: 15px;
		}
		
		.specialLabels {
		    top: -43px;
		}
		
	}	
	
	.footnote {
		p, ul {
			font-size: 13px;
		}
		
		ul.numbered-list .title {
		    left: 1.85em;
		}
	}


}

/*-------------------------------------------------------------------
  IPAD LANDSCAPE
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: landscape) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-Landscape~ipad.jpg');
		-webkit-background-size: 1024px 748px;
		background-size: 1024px 748px;
	}
}

/*-------------------------------------------------------------------
  IPAD RETINA PORTRAIT
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-Portrait@2x~ipad.jpg');
		-webkit-background-size: 768px 1004px;
		background-size: 768px 1004px;
	}
}

/*-------------------------------------------------------------------
  IPAD RETINA LANDSCAPE 
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('#{$startup-image-path}apple-touch-startup-image-Landscape@2x~ipad.jpg');
		-webkit-background-size: 1024px 748px;
		background-size: 1024px 748px;
	}
}



/*-------------------------------------------------------------------
  DESKTOPS (EVERTYHING ABOVE IPAD SIZE)
-------------------------------------------------------------------*/
@media (min-width:769px) {
	
		.FoodCategoryContainer {
			
			.dishes .mt-page-link {
				padding: 10px 0;
			}
		
			h4 {
			    margin: 0 -15px -10px -15px;
			    padding: 10px 15px;
			    font-size: 36px;
			}
			
			.dishDescription {
			    line-height: 1.4;
			}
			
	
			.dishDescription,
			.dishPrice {
			    font-size: 22px;
			}
			
			.dishPriceInner {
				display: block;
				margin-bottom: 0;		
				line-height: 1.4;
			}
			
			.dishPriceSmallInner {
			    margin-top: 8px;
			    margin-bottom: 4px;
			}
			
			
			.dishPriceSmallInner,
			.mt-dish-rating-form label {
				font-size: 18px;
			}
			
			.specialLabels {
			    top: -43px;
			    right:10px;
			}
					
			.button, 
			input.action {
		    	font-size: 20px;
		    	line-height: 1.4;
		    	padding: 15px 25px 10px 15px;
		    }

	}	
	
	.footnote {
		p, ul {
			font-size: 14px;
		}
	}
	
}




/*-------------------------------------------------------------------
  HELPER CLASSES
-------------------------------------------------------------------*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after,
.dishes li:before, .dishes li:after, 
.ui-rating:before, .ui-rating:after {
	content: " ";
	display: table;
}

.clearfix:after,
.dishes li:after, 
.ui-rating:after {
	clear: both;
}

.clearfix,
.dishes li, 
.ui-rating {
	*zoom: 1;
}

/*-------------------------------------------------------------------
  PRINT
-------------------------------------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
