@import "partials/base";

/*------------------------------------------------------------------------------
  HTML5 RESET
  Author: Richard Clark - http://richclarkdesign.com
------------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*------------------------------------------------------------------------------
  BASIC HTML5 SETUP
------------------------------------------------------------------------------*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #333; }
body { margin: 0; font-size: 1em; line-height: 1.4; background-color: #ebebeb; }

::-moz-selection { background: #fdff54; color: #000; text-shadow: none; }
::selection { background: #fdff54; color: #000; text-shadow: none; }

a { color: #06e; text-decoration: none; border-bottom: 1px solid #06e; }
a:visited { color: #551a8b; border-bottom: 1px dotted; }
a:hover { border-bottom-color: transparent; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 20px 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

nav ul, nav ol, nav ul li, nav ol li { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; line-height: 0; color: #000; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: solid 0 #fff; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {	}
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/*-------------------------------------------------------------------
  BASIC TYPOGRAPHY
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	color: #000;
}

h2 {
	margin-top: 40px;
	font-size: 30px;
}

h3 {
	margin-top: 40px;
	font-size: 24px;
}

/* font-family and font-size */
p, ol, ul, dl, th, td, label, textarea {
	font-size: 14px;
	font-family: sans-serif; /* Helvetica for Mac, Arial for all other systems */
}

/* margins and line-height */
p, ol, ul, dl, form {
	margin-top: 20px;
	line-height: 20px;
}

ul, ol {
	padding-left: 20px;
}

ul ul, ul ol, ul dl, ol ol, ol ul, ol dl, dl ul, dl ol {
	font-size: 100%;
}

ul li, ol li {
	margin-top: 5px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

dl dt {
	width: 100px;
	float: left;
	font-weight: bold;
	clear: left;
}

dl dd {
	margin-left: 110px;
}

dl dt,
dl dd {
	margin-bottom: 8px;
}

/*-------------------------------------------------------------------
  TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.adresse-eingerueckt,
.adresse-eingerueckt-lang {
	float: left;
	width: 45px;
}

.adresse-eingerueckt-lang {
	width: 80px;
}

/* SYSTEM MESSAGES */
.message,
form label.required {
	display: block;
	padding: 10px;
	background-color: #fdda69;
	color: #fff;
}

.message.required,
.message.validation,
.message.bad,
form label.required {
	background-color: #FE0000;
}

.message.required,
.message.validation,
form label.required {
	margin-top: 5px;
}

.message.success {
	border-color: #137f00;
	background-color: #d6ffcf;
	color: #137f00;
}


/* SEARCH RESULTS */
#SearchResults li {
	background: none;
	padding-left: 0;
	margin: 0;
}

#SearchResults h3 a {
	padding: 0;
	background-color: transparent;
	text-shadow: none;
}

#SearchResults h3 a:hover,
#SearchResults h3 a:active,
#SearchResults h3 a:focus {
	color: #cf0601;
}

.highlight {
	font-weight: bold;
}

/* PAGE NUMBERS */
#PageNumbers {
	margin-top: 36px;
}

#PageNumbers li {
	float: left;
	padding: 0;
	margin: 0 2px;
}

#PageNumbers a,
#PageNumbers .current {
	background-color: #ad0501;
	color: #fff;
	display: block;
	padding: 5px 10px;
}

#PageNumbers a:hover,
#PageNumbers a:active,
#PageNumbers a:focus {
	background-color: #cf0601;
}

#PageNumbers .current {
	font-weight: bold;
	color: #303134;
	background-color: #e1e2e4;
}

/* DishLabelIcon */
.dishLabelIcon {
	display: block;
	width: 1em;
	height: 1em;
	font-size: $screen-daily-menu-dish-label-font-size;
}

.dishLabelIconFloated .dishLabelIcon {
	display: inline-block;
	margin-right: .3em;
}

/* DishLabels Floated List */
.dishLabels {
	margin-top: 0;
	padding: 0;
	float: right;
}

.dishLabels li {
	margin-top: 0 !important;
	list-style: none;
	float: right;
}

.dishLabelTitle {
	display: none;
}

/* specialLabel list */
.specialLabels {
	position: absolute;
	margin-top: 0;
	padding: 0;
	top: $screen-daily-menu-categories-margin-top;
	right: $screen-daily-menu-category-container-padding-right;
	text-align: right;
	z-index: 100;
}

.specialLabels li {
	margin-top: 0 !important;
	margin-left: 10px;
	float: right;
	list-style: none;
}

.specialLabels .specialLabelImage {
	@include rotate(25deg);
	@include single-box-shadow(rgba(0,0,0,.2), 3px, 3px, 5px);
	@include border-radius(50px);
}

/* Numbered Definition List */
dl.numbered-dl dt {
	width: 1.5em;
	font-weight: normal;
}

dl.numbered-dl dd {
	margin-left: 2em;
}

dl.numbered-dl dt,
dl.numbered-dl dd {
	margin-bottom: .3em;
}

/* DishLabel Icon List */
ul.icon-list {
	padding-left: 0;
}

ul.icon-list li {
	margin-top: 0;
	list-style: none;
	margin-bottom: .2em;
}

ul.icon-list .dishLabelIcon {
	display: inline-block;
	position: relative;
	width: 1em;
	top: 0.2em;
}

ul.icon-list .dishLabelDescription {
	display: inline-block;
	position: relative;
	left: .3em;
}


/* Numbered List */
ul.numbered-list {
	padding-left: 0;
}

ul.numbered-list li {
	margin-top: 0;
	list-style: none;
	margin-bottom: .2em;
}

ul.numbered-list .number {
	display: inline-block;
	position: absolute;
	width: 1em;
}

ul.numbered-list .title {
	position: relative;
	left: 1.5em;
}


/*-------------------------------------------------------------------
IMAGES
-------------------------------------------------------------------*/
img {
	line-height: 0;
	color: #000;	/* set color so that it has enaough contrast to background-color */
}


/*-------------------------------------------------------------------
LINKS
-------------------------------------------------------------------*/

/* link to external website that is opened in a new window */
a.externer_link {
}

/* link that open popup window (fancybox required) */
a.popup {
}


/*-------------------------------------------------------------------
  FORMS 
-------------------------------------------------------------------*/
fieldset legend {
	display: none;
}

label {
	display: block;	
}

.checkbox label {
	display: inline;
}

.text,
.textarea,
.password,
.checkbox,
.email,
.select,
.Actions {
	margin-top: 20px;
}

.text input,
.textarea input,
.password input,
.email input,
textarea,
select,
input.action {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.text input,
.password input,
.email input,
textarea {
	width: 95%;
	margin: 0;
	padding: 10px;
	background-color: #fff;
	border: none;
	color: #999;
	font-size: 24px;
	line-height: 30px;
	-webkit-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.8);
	-moz-box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.8);
	box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,.8);
}

.text input:focus,
.password input:focus,
textarea:focus {
	color: #000;
}

textarea {
	font-size: 100%;
}

.text input.short {
	width: 100px !important;	
}

/* BUTTON */
.button,
input.action {
	border: solid 0 #fff;
	margin: 0 15px 0 0;
	display: -moz-inline-stack;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	color: #fff; 
	background-color: #06e;
	text-shadow: -1px -1px 0 rgba(0,0,0,.4);
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	
	-webkit-transition: background-color 150ms ease-in-out;
	-moz-transition: background-color 150ms ease-in-out;
	-ms-transition: background-color 150ms ease-in-out;
	-o-transition: background-color 150ms ease-in-out;
	transition: background-color 150ms ease-in-out;
}

input.action:hover,
input.action:focus {
	background-color: #2281ff;
}

/* mark required fields */
.requiredField label:after {
	content: ' *';
	color: #b11717;
}

/* no content for error messages in form */
form label.required:after {
	content: '';
}

/*-------------------------------------------------------------------
VIDEO / MEDIAELEMENTPLAYER
-------------------------------------------------------------------*/
article.video .inner-article {
	background-color: $black !important;
}

.mejs-layers, .mejs-controls {
	display: none !important;
}

.js article.video .mejs-container {
	opacity: 0;
	@include single-transition(opacity 1.5s ease-in-out);
}

.js article.video.video-playing .mejs-container {
	opacity: 1;
}

/*-------------------------------------------------------------------
  PAGE (body.screen)
-------------------------------------------------------------------*/
body.screen  {
	background-color: #ebebeb;
	text-align: center;
}

.screen .title-container {
	margin-bottom: 30px;
}

.screen #container {
	width: 80%;
	max-width: 960px;
	margin: 0 auto;
	padding: 5%;
	background-color: #fff;
	text-align: left;
	@include box-shadow(0, 0, 10px, 0, rgba(0, 0, 0, .2));
}

.screen img {
	max-width: 100%;
	height: auto;
}


/*-------------------------------------------------------------------
  SCREEN DAILY MENU (Screen_DailyMenu)
-------------------------------------------------------------------*/
.DisplayTemplatePage {
	cursor: none;
	/* Better Font Rendering */
	@include font-smoothing(on);
}

.Screen_DailyMenu,
.Screen_Counter {
	
	background-color: $black;
	color: $white;
	font-family: $text-font;
	
	.lang-en-US,
	.lang-en-US * {
		font-family: $text-light-font !important;
		opacity: .7;
		font-weight: normal;
		@include font-smoothing(off);
	}

	#container,
	#container .inner-article {
		background-color: $dark-grey;
		color: $white;
		overflow: hidden;
		width: $screen-daily-menu-width;
		height: $screen-daily-menu-height;
	}

	#container .inner-article {
		position: relative;
	}

	/* Bildschirmausgabe um 90° gegen den Uhrzeigersinn gedreht */
	&.rotated {
		overflow: hidden;
		position: absolute;
		@include transform(rotate(-90deg), translate3d(0, 0, 0));
		@include transform-origin(0.5 * $screen-daily-menu-width, 0.5 * $screen-daily-menu-width); /* half width of screen > rotate around center */
		@include font-smoothing(on);
	}

	/* Bildschirmausgabe um 90° im Uhrzeigersinn gedreht */
	&.rotated__clockwise {
		@extend .Screen_DailyMenu.rotated;
		@include transform(rotate(90deg));
		@include transform-origin(0.5 * $screen-daily-menu-height, 0.5 * $screen-daily-menu-height); /* half height of screen > rotate around center */
	}

	header.title-container {
		padding-top: 90px;
		margin-left: $screen-daily-menu-margin-left + $screen-daily-menu-category-container-padding-right;
		margin-right: $screen-daily-menu-category-container-padding-right;
	}

	.title-container.logo {
		text-indent: -9999px;
		margin-left: $screen-daily-menu-margin-left;
		margin-right: 0;
		width: 645px;
		height: 304px;
		background: url('../images/screen-dailymenu-header.png') left bottom no-repeat;
		overflow: hidden;
	}

	.logo .inner-title-container {
		display: none;
	}

	#content {
		margin: 150px 0 0 $screen-daily-menu-margin-left;	
	}

	.inner-content,
	.FoodCategoryContainer {
		background-color: $white;
	}

	.FoodCategoryContainer {
		position: relative;
	}

	.inner-content *,
	.FoodCategoryContainer * {
		color: $page-inner-text-color; 
	}

	.FoodCategoryContainer.FoodCategoryColor * {
		color: $white;
	}
	
	
	/* TYPOGRAPHY */
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: $heading-font;
		margin: 0;
		line-height: $heading-line-height;
		color: $white;
	}
	
	h1, h2, h3, h4 {
		font-size: $screen-daily-menu-title-font-size;
	}
	
	/* font-family and font-size */
	p,
	ol, 
	ul, 
	dl, 
	th, 
	td, 
	label, 
	textarea {
		font-family: $text-font;
		font-size: $screen-daily-menu-dish-font-size;
		color: $white;
	}

	/* margins and line-height */
	p, 
	ol, 
	ul, 
	dl, 
	form {
		margin: $screen-daily-menu-dish-margin-top 0 0 0;
		line-height: $screen-daily-menu-dish-line-height;
	}

	#categories,
	#categories .dishes {
		margin: 0;
		padding: 0;
	}

	#categories li,
	.dishes li {
		list-style-type: none;
	}

	#categories .FoodCategoryContainer,
	.inner-content {
		margin-top: $screen-daily-menu-categories-margin-top;
		padding: $screen-daily-menu-category-container-padding-top $screen-daily-menu-category-container-padding-right $screen-daily-menu-category-container-padding-top + 10 $screen-daily-menu-category-container-padding-right;
	}

	.FoodCategoryTitle {
		margin-bottom: $screen-daily-menu-category-container-padding-top;
	}

	#categories .dishes li {
		margin-top: $screen-daily-menu-dish-margin-top;
	}

	#categories .dishes li:first-child {
		margin-top: 0;
	}

	.dishDescription {
		float: left;
		width: 80%;
	}

	.dishDescriptionEnUS {
		display: block;
		margin-top: $screen-daily-menu-dish-en-us-margin-top;
		font-family: $text-light-font;
		font-size: $screen-daily-menu-dish-en-us-font-size;
	}

	.dishInfoRight {
		float: right;
		width: 15%;
		text-align: right;
	}

	#categories .dishes li:first-child .patch {
		margin-top: -40px;
	}

	.dishPrice span {
		display: block;
	}

	.dishPriceInner {
		font-size: $screen-daily-menu-price-font-size;
	}

	.dishPriceSmallInner {
		margin-top: 5px;
		font-size: 18px;
		line-height: 1;
	}

	.dishes .additives {
		/* Disable smooth font rendering on small light fonts */
		@include font-smoothing(off);
		font-family: $text-light-font;
		font-size: 45%;
	}

	.message {
		padding: 0;
		background-color: transparent;
	}

	/* DishLabels */
	.dishLabels {
		margin-top: 0;
	}

	.dishLabelIcon {
		font-size: $screen-daily-menu-dish-label-font-size;
	}

	/* SpecialLabels */
	.specialLabels {
		position: absolute;
		margin-top: 0;
		padding: 0;
		top: $screen-daily-menu-categories-margin-top;
		right: $screen-daily-menu-category-container-padding-right;
		text-align: right;
	}

	.specialLabels li {
		margin-top: 0 !important;
		margin-left: 10px;
		float: right;
	}

	.specialLabels .specialLabelImage {
		@include rotate(25deg);
		@include single-box-shadow(rgba(0,0,0,.2), 3px, 3px, 5px);
		@include border-radius(50px);
	}

	/* FootNote */
	.footnote {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 200px;
		overflow: hidden;
		
		.footnote-inner {
			margin-top: 0;
			position: absolute;
			bottom: 2 * $screen-daily-menu-categories-margin-top;
			left: $screen-daily-menu-margin-left + $screen-daily-menu-category-container-padding-right;
			right: $screen-daily-menu-category-container-padding-right;
		}

		p {
			margin-top: 5px;
			font-size: $screen-daily-menu-footnote-font-size;
			font-family: $text-light-font;
			@include font-smoothing(off);
			opacity: 0.6;
		}
		
		.lang-en-US {
			opacity: 1;
		}
	}

	/* InfoMessage */
	#container .InfoMessage.FullScreenImage .inner-article {
		background-color: $black;
		text-align: center;
	}

	.InfoMessage.FullScreenImage img {
		position: relative;
		top: 50%;
		@include translateY(-50%);
		margin: 0 auto;
	}

	.InfoMessage .info-message-image {
		margin-top: 2 * $screen-daily-menu-categories-margin-top;
		margin-left: $screen-daily-menu-margin-left;	
	}

	.InfoMessage #content {
		margin-top: $screen-daily-menu-categories-margin-top;
	}

	.InfoMessage h2,
	.InfoMessage h3,
	.InfoMessage h4 {
		margin-top: 60px;
		margin-bottom: 0;
	}

	.InfoMessage > *:first-child {
		margin-top: 0 !important;
	}

	/* VIDEO ELEMENT PLAYER */
	/* center video in middle of screen */
	article.video .mejs-container {
		position: absolute;
		top: 50%;
		left: 0;
		@include translateY(-50%);
	}
}


/*-------------------------------------------------------------------
  SCREEN DAILY MENU WITH PHOTOS (Screen_DailyMenu_Photos)
-------------------------------------------------------------------*/
.Screen_DailyMenu.Photos {
	
	#categories {
		margin-left: -100px;
	}
	
	.FoodCategoryContainer {
		padding-left: 255px !important;
		padding-bottom: 25px !important;
		padding-right: 30px !important;
		overflow: hidden;
	}
	
	.FoodCategoryContainer:before {
		display: block;
		content: " ";
		position: absolute;
		width: 225px;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0,0,0,0.1);
		z-index: 1;
	}
	
	.dishImage {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
	
	/* SpecialLabels */
	.specialLabels {
		right: 30px;
	}
	
	/* FootNote */
	.footnote {
		
		.footnote-inner {
			margin-top: 0;
			position: absolute;
			bottom: 2 * $screen-daily-menu-categories-margin-top;
			left: 30px;
			right: 30px;
		}
	}
}

/*-------------------------------------------------------------------
  SCREEN DAILY MENU WITH PHOTOS IN LANDSCAPE (Screen_DailyMenu_Photos_Landscape)
-------------------------------------------------------------------*/
.Screen_DailyMenu.Photos.Landscape,
.Screen_Counter {
	
	#container,
	#container .inner-article {
		width: $screen-daily-menu-photo-landscape-width;
		height: $screen-daily-menu-photo-landscape-height;
	}

	/* Bildschirmausgabe um 90° gegen den Uhrzeigersinn gedreht */
	&.rotated {
		@include transform-origin(0.5 * $screen-daily-menu-photo-landscape-width, 0.5 * $screen-daily-menu-photo-landscape-width); /* half width of screen > rotate around center */
	}

	/* Bildschirmausgabe um 90° im Uhrzeigersinn gedreht */
	&.rotated__clockwise {
		@include transform-origin(0.5 * $screen-daily-menu-photo-landscape-height, 0.5 * $screen-daily-menu-photo-landscape-height); /* half height of screen > rotate around center */
	}

	header.title-container {
		width: $screen-daily-menu-photo-landscape-side-content-width;
		padding-top: 145px;
		margin-left: $screen-daily-menu-photo-landscape-margin-left;
	}

	.title-container.logo {
		text-indent: -9999px;
		margin-left: $screen-daily-menu-photo-landscape-margin-left;
		margin-right: 0;
		padding-top: 0;
		width: $screen-daily-menu-photo-landscape-side-content-width;
		height: 508px;
		background: url('../images/screen-dailymenu-landscape-header.png') left bottom no-repeat;
		overflow: hidden;
	}
	
	#content,
	#side-content {
		margin: 0 !important;
		position: absolute;
		top: 0;
		bottom: $screen-daily-menu-photo-landscape-margin-bottom;
		left: 640px;
		width: $screen-daily-menu-photo-landscape-width - 640px;
	}
	
	#side-content {
		overflow: hidden;
		top: 520px;
		left: $screen-daily-menu-photo-landscape-margin-left;
		width: $screen-daily-menu-photo-landscape-side-content-width;
	}
	
	#side-content-inner {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	/* TYPOGRAPHY */
	h1,
	h2,
	h3,
	h4 {
		font-size: $screen-daily-menu-photo-landscape-title-font-size;
	}

	/* font-family and font-size */
	p, ol, ul, dl, th, td, label, textarea {
		font-size: $screen-daily-menu-photo-landscape-dish-font-size;
	}

	#categories,
	.inner-content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: 0;
	}
	
	.inner-content {
		bottom: auto;
		top: 145px;
	}
	
	.FoodCategoryContainer {
		padding-left: 230px !important;
		padding-bottom: 20px !important;
		min-height: 160px; /* height of image: 200px (= 160px + 2 * 20px padding */
	}
	
	.FoodCategoryContainer:before {
		width: 200px;
	}
	
	#categories .FoodCategoryContainer,
	.inner-content {
		margin-top: 5px;
		padding: $screen-daily-menu-photo-landscape-category-container-padding-top $screen-daily-menu-category-container-padding-right;
		
	}

	.dishImage img {
		width: 200px;
		height: 200px;
	}

	.FoodCategoryTitle {
		margin-bottom: 17px;
	}
	
	.dishPriceInner {
		font-size: 36px;
	}
	
	.dishPriceSmallInner {
		margin-top: 0;
	}
	
	/* DishLabels */
	.dishLabels {
		margin-top: 0;
	}

	
	/* RESIZE FOODCATEGORIES DEPENDING ON NUMBER OF CATEGORIES */
	#categories {

		/*
		  1-3 FoodCategories
		  1-2 FoodCategories with english description
		*/
		&.foodcategories_count_1:not(.lang_en_US),
		&.foodcategories_count_2:not(.lang_en_US),
		&.foodcategories_count_3:not(.lang_en_US),

		&.foodcategories_count_1.lang_en_US,
		&.foodcategories_count_2.lang_en_US {

			.FoodCategoryContainer {
				min-height: 280px; /* height of image: 330px (= 280px + 2 * 20px padding */
				padding-left: 340px !important;

				&::before {
					width: 320px;
				}
			}

			.dishImage img {
				width: 320px;
				height: 320px;
			}

			.dishDescription {
				width: 710px;
			}

			.dishInfoRight {
				width: 170px;
			}

			.FoodCategoryTitle {
				font-size: 1.4 * $screen-daily-menu-photo-landscape-title-font-size;
			}

			.dishDescriptionInner,
			.dishPriceInner {
				font-size: 1.3 * $screen-daily-menu-photo-landscape-dish-font-size;
			}

			.dishDescriptionEnUS {
				font-size: 1.3 * $screen-daily-menu-dish-en-us-font-size;
			}

			.dishPriceSmallInner {
				font-size: 1.3 * 18px;
			}

			.dishLabelIcon {
				font-size: 1.3 * $screen-daily-menu-dish-label-font-size;
			}
		}

		/*
		   6-8 FoodCategories
		   4-8 Foodcategories with english description
		*/
		&.foodcategories_count_6:not(.lang_en_US),
		&.foodcategories_count_7:not(.lang_en_US),
		&.foodcategories_count_8:not(.lang_en_US),

		&.foodcategories_count_5.lang_en_US,
		&.foodcategories_count_6.lang_en_US,
		&.foodcategories_count_7.lang_en_US,
		&.foodcategories_count_8.lang_en_US {

			.FoodCategoryContainer {
				min-height: 100px;
				padding: 15px 20px !important;
				padding-left: 220px !important;
			}

			.dishImage {
				top: -35px;
			}

			.FoodCategoryTitle {
				font-size: 0.7 * $screen-daily-menu-photo-landscape-title-font-size;
				margin-bottom: 0;
			}

			.dishDescription,
			.dishPriceInner {
				font-size: 0.7 * $screen-daily-menu-photo-landscape-dish-font-size;
			}

			.dishDescriptionEnUS {
				font-size: 0.7 * $screen-daily-menu-dish-en-us-font-size;
			}

			.dishPriceSmallInner {
				font-size: 0.8 * 18px;
			}

			.dishLabelIcon {
				font-size: 0.8 * $screen-daily-menu-dish-label-font-size;
			}

			.specialLabels {
				top: 5px;
				right: 100px;
			}

			.dishes li {
				margin-top: 5px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}


	/* FootNote */
	.footnote {
		left: 640px;
		height: $screen-daily-menu-photo-landscape-margin-bottom;
		background-color: transparent;
		text-align: right;
		
		.footnote-inner {
			
		}

		p {
			font-size: $screen-daily-menu-footnote-font-size;
		}
	}
	
	/* side content */
	#side-content {
		h1, h2, h3, h4,
		p, ol, ul, dl, th, td, label, textarea{
			font-size: $screen-daily-menu-photo-landscape-footnote-font-size;
		}
		
		h2, h3, h4 {
			margin-top: 10px;
		}
		
		dl, ul {
			margin-top: 5px
		}
		
		.icon-list .dishLabelIcon {
			font-size: $screen-daily-menu-photo-landscape-footnote-font-size * 1.4;
		}
		
		.col1, .col2 {
			position: absolute;
			bottom: 0;
		}
		
		.col2 {
			left: 0;
			width: 160px;
		}
		
		.col1 {
			left: 185px;
			width: 315px;
		}
		
	}
	
	/* InfoMessages */
	.InfoMessage {
		h1.title {
			font-size: 70px;
			color: $light-green;
		}
		
		h2 {
			font-size: 70px;
		}
		
		h3,
		h4 {
			font-size: 60px;
		}
		
		p,
		ul,
		ol,
		dl,
		th,
		td {
			font-size: 60px;
		}
		
		.info-message-image {
			position: absolute;
			top: 60px;
			left: 0;
			margin-top: 0;
			margin-left: 0;	
			@include rotate(3deg);
			@include single-box-shadow(rgba(0, 0, 0, 0.6), 5px, 5px, 20px);
			@include transition(left 1s ease-in-out, opacity 1s ease-in-out, transform 1s ease-in-out);
		}
	}
	
	/* Initial animation settings */
	.rhino-container .info-message-image {
		opacity: 0;
		left: -60px;
		@include rotate(0deg);
	} 
	
	/* slide in info message when fading starts */
	.rhino-container.inProgress .info-message-image,
	.rhino-container .rhino-active .info-message-image{
		opacity: 1;
		left: 0;
		@include rotate(3deg);
	}
	
	/* slide out current info-messages when fading starts */
	.rhino-container.inProgress .rhino-active .info-message-image {
		opacity: 0;
		left: 60px;
		@include rotate(6deg);
	} 
	
	
	
	.InfoMessage {
		
		header.title-container {
			margin-left: 50px;
			padding-top: 145px;
			width: auto;
		}
		
		

		#content {
			width: auto;
			position: relative;
			left: auto;
			
			.inner-content {
				position: relative;
				top: auto;
				background: transparent;
				
				* {
					color: $white;
				}
			}
		}
		
		// InfoMessage with Image
		&.hasImage {
			
			#content,
			header.title-container {
				margin-left: 900px !important;
			}
			
			header.title-container {
				padding-left: 50px;
			}
		}
	}
}

// INFO MESSAGES LANDSCAPE
.Landscape {
	.InfoMessage {
		
	}
}

/*-------------------------------------------------------------------
  SCREEN WEEKLY MENU TABLE LANDSCAPE (Screen_WeeklyMenu_Table_Landscape)
-------------------------------------------------------------------*/
.Screen_WeeklyMenu_Table_Landscape,
.Screen_DailyMenu.Photos.Landscape .Screen_WeeklyMenu_Table_Landscape {
	
	header.title-container,
	.title-container.logo {
		width: $screen-daily-menu-photo-landscape-width - $screen-weekly-menu-table-landscape-margin-left - $screen-weekly-menu-table-landscape-margin-right;
		height: 85px;
		padding-top: 40px;
		margin-left: $screen-weekly-menu-table-landscape-margin-left;
		position: relative;
	}

	.title-container.logo {
		text-indent: 0;
		margin-right: 0;
		background: none;
		overflow: visible;
	}
	
	.title-container.logo #inner-title-container {
		text-indent: -9999px;
		margin-left: $screen-weekly-menu-table-landscape-table-padding;
		margin-right: 0;
		width: 992px;
		height: 77px;
		background: url('../images/screen-weeklymenu-table-landscape-logo-header.png') left bottom no-repeat;
		overflow: hidden;
	}
	
	.opening-hours-container {
		position: absolute;
		bottom: 15px;
		right: 0;
		overflow: hidden;
		text-align: right;
		width: 650px;
		
		p {
			margin-top: 0;
			font-size: 25px;
			line-height: 30px;
			color: $light-grey;
		}
	}
	
	/* WeeklyMenuTable */
	table.weeklymenu-table {
		padding: 0;
		margin: 0 -1px 0 0; /* hide right border */
		position: relative;
		
		th,
		td {
			border: 1px solid $mid-grey-2;
			padding: $screen-weekly-menu-table-landscape-table-padding;
			font-size: $screen-weekly-menu-table-landscape-table-font-size;
			line-height: 1.2;
			text-align: left;
			font-weight: normal;
		}

		thead th {
			background-color: #ccc;
			color: $dark-grey;
			font-size: $screen-weekly-menu-table-landscape-table-header-font-size;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		
		th.price,
		td.price {
			text-align: right;
		}
		
		th.unstyled {
			border-color: #565656;
			border-top: none;
			background: transparent;
		}
		
		td.foodcategory-pre-color,
		td.foodcategory-post-color {
			padding: 0;
			border-color: #565656;
		}
		
		td.foodcategory-pre-color {
			width: $screen-weekly-menu-table-landscape-margin-left;
		}
		
		td.foodcategory-post-color {
			width: $screen-weekly-menu-table-landscape-margin-right;
		}
		
		td.foodcategory-pre-color .color-container,
		td.foodcategory-post-color .color-container {
			position: relative;
		}
		
		td.foodcategory-pre-color.FoodCategoryColor,
		td.foodcategory-post-color.FoodCategoryColor {
			border-color: $dark-grey;
		}
		tr th.unstyled:first-child,
		td.foodcategory-pre-color {
			border-right-color: $mid-grey-2;
		}
		
		th.foodcategory {
			width: 136px;
			font-size: $screen-weekly-menu-table-landscape-table-header-font-size;
			
			&.FoodCategoryColor {
				color: $black;
			}
		}
		
		td.dish {
			width: 291px;
		}
		
		.dishContainer {
			margin-top: 7px;
			position: relative;
		}
		
		td.dish > .dishContainer:first-child {
			margin-top: 0
		}
		
		.dishDescription {
			width: 210px;
		}
		
		.dishDescriptionEnUS {
			margin-top: 0;
			font-size: $screen-weekly-menu-table-landscape-table-font-size - 1px;
		}
		
		.dishInfoRight {
			width: 75px;
		}
		
		.dishPriceInner {
			font-size: $screen-weekly-menu-table-landscape-table-font-size;
		}
		
		.dishPriceSmallInner {
			font-size: 75%;
		}
		
		/* DishLabels */
		.dishLabels .dishLabelIcon {
			font-size: $screen-weekly-menu-table-landscape-table-header-font-size;
		}
		
		.additives {
			/* Disable smooth font rendering on small light fonts */
			@include font-smoothing(off);
			font-family: $text-light-font;
			font-size: 65%;
		}
		
		
		/* specialLabel list */
		.specialLabels {
			position: relative;
			top: auto;
			right: auto;
			margin-top: -7px;
		}

		.specialLabels li {
			margin-left: 5px;
		}

		.specialLabels .specialLabelImage {
			@include single-box-shadow(rgba(0,0,0,.2), 2px, 2px, 3px);
			@include border-radius(30px);
		}
		
	}
	
	.footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: $screen-weekly-menu-table-landscape-margin-bottom;
		background-color: $dark-grey;
		overflow: hidden;
		z-index: 200;
		
		.footer-inner {
			position: absolute;
			top: 5px;
			bottom: 20px;
			left: $screen-weekly-menu-table-landscape-margin-left;
			right: $screen-weekly-menu-table-landscape-margin-right;
		}
		
		/* TYPOGRAPHY */
		h1,
		h2,
		h3,
		h4,
		p, ol, ul, dl, th, td, label, textarea {
			font-size: $screen-weekly-menu-table-landscape-table-footer-font-size;
		}
		
		ul, dl {
			margin-top: 0;
		}
		
		.icon-list {
			margin-top: 0;
			
			li {
				margin-bottom: .1em;
			}
			
			.dishLabelIcon {
				font-size: $screen-weekly-menu-table-landscape-table-footer-font-size + 2px;
			}
		}
		
		.transition-container {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 790px;
			
			.transition {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				background-color: $dark-grey;
			}
			
			/* WIDTHS FOR MULTICOLS */
			
			/* DishLabels */
			.transition-1 .multicol-2cols {
				width: 170px;
			}
			
			
			/* Additives */
			.transition-2 .multicol-2cols {
				width: 290px;
			}

			/* Allergens */
			.transition-3 .multicol-2cols {
				width: 290px;
			}
			
		}
		
		.multicol-2cols {
			-moz-column-count: 2;
			-moz-column-gap: 20px;
			-webkit-column-count: 2;
			-webkit-column-gap: 20px;
		}
		
		.multicol-4cols {
			-moz-column-count: 4;
			-moz-column-gap: 20px;
			-webkit-column-count: 4;
			-webkit-column-gap: 20px;
		}
		
		
		.footnote {
			bottom: 0;
			height: auto;
			left: 800px;
			right: 400px;
			top: auto;
			
			p {
				left: auto;
				line-height: 1;
				position: relative;
				right: 0;
				top: auto;
			}
		}
		
		.footer-image {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	
	
}


/* WIDTHS FOR MULTICOLS WITH ENGLISH TRANSLATIONS */
.Screen_WeeklyMenu_Table_Landscape.lang_en_US,
.Screen_DailyMenu.Photos.Landscape.lang_en_US .Screen_WeeklyMenu_Table_Landscape {			
	/* DishLabels */
	.transition-1 .multicol-2cols {
		width: 270px !important;
	}
	
	/* Additives */
	.transition-2 .multicol-2cols {
		width: 550px !important;
	}
	
	/* Allergens */
	.transition-3 .multicol-2cols {
		width: auto !important;
	}
}

/*-------------------------------------------------------------------
  TRANSITION CONTAINER
-------------------------------------------------------------------*/
.transition-container {
			
	/* Animation with 2 slides */
	&.double-ani {
			
		.transition-1 {
			-webkit-animation: double-cycle-one 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: double-cycle-one 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: double-cycle-one 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-2 {
			-webkit-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-3 {
			-webkit-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
		
		.transition-4 {
			-webkit-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: double-cycle-two 2 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
	}
	
	/* Animation with 3 slides */
	&.triple-ani {
			
		.transition-1 {
			-webkit-animation: triple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: triple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: triple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-2 {
			-webkit-animation: triple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: triple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: triple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-3 {
			-webkit-animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
		
		.transition-4 {
			-webkit-animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: triple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
	}
	
	/* Animation with 4 slides */
	&.quadruple-ani {
			
		.transition-1 {
			-webkit-animation: quadruple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: quadruple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: quadruple-cycle-one 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-2 {
			-webkit-animation: quadruple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: quadruple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: quadruple-cycle-two 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}

		.transition-3 {
			-webkit-animation: quadruple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: quadruple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: quadruple-cycle-three 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
		
		.transition-4 {
			-webkit-animation: quadruple-cycle-four 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			-moz-animation: quadruple-cycle-four 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
			animation: quadruple-cycle-four 3 * $screen-weekly-menu-table-landscape-footer-slide-duration linear infinite;
		}
	}
			
}


/* KEYFRAMES FOR WEEKLYMENUTABLE ADDITIVES ANIMATION */

/* double-cycle */
@keyframes double-cycle-one {
   0%  { opacity: 1; } 
   5%  { opacity: 1; }
   45% { opacity:1; }
   50% { opacity: 0; }
   95% { opacity: 0; } 
   100%{ opacity: 1; }
}

@keyframes double-cycle-two {
   0%  { opacity: 0; } 
   5%  { opacity: 0; }
   45% { opacity:0; }
   50% { opacity: 1; }
   95% { opacity: 1; } 
   100%{ opacity: 0; }
}

/* triple-cycle */
@keyframes triple-cycle-one {
   0%  { opacity: 1; } 
   3%  { opacity: 1; }
   32% { opacity:1; }
   35% { opacity: 0; }
   97% { opacity: 0; } 
   100%{ opacity: 1; }
}

@keyframes triple-cycle-two {
   0%  { opacity: 0; } 
   32% { opacity: 0; }
   35% { opacity: 1; }
   64% { opacity: 1; } 
   67% { opacity: 0; }
   100% { opacity: 0; }
}

@keyframes triple-cycle-three {
   0%  { opacity: 0; } 
   64%  { opacity: 0; }
   67% { opacity: 1; }
   97% { opacity: 1; } 
   100%{ opacity: 0; }
}

/* quadruple-cycle */
@keyframes quadruple-cycle-one {
   0%  { opacity: 1; } 
   2%  { opacity: 1; }
   23% { opacity:1; }
   25% { opacity: 0; }
   98% { opacity: 0; } 
   100%{ opacity: 1; }
}

@keyframes quadruple-cycle-two {
   0%  { opacity: 0; } 
   23% { opacity: 0; }
   25% { opacity: 1; }
   48% { opacity: 1; }
   50% { opacity: 0; } 
   100%{ opacity: 0; }
}

@keyframes quadruple-cycle-three {
   0%  { opacity: 0; } 
   48% { opacity: 0; }
   50% { opacity: 1; }
   73% { opacity: 1; }
   75% { opacity: 0; }
   100%{ opacity: 0; }
}

@keyframes quadruple-cycle-four {
   0%  { opacity: 0; } 
   73% { opacity: 0; }
   75% { opacity: 1; }
   98% { opacity: 1; } 
   100%{ opacity: 0; }
}


/*-------------------------------------------------------------------
  SCREEN COUNTER PHOTOS LANDSCAPE (Screen_Counter_Photos_Landscape)
-------------------------------------------------------------------*/
.Screen_Counter.Photos.Landscape,
.Screen_Counter {
	
	#content {
		width: 100%;
		left: 0;
		bottom: 0;		
	}
	
	.FoodCategoryTitle,
	.dishes,
	.footnote {
		width: 975px;
		margin-left: 70px;
		padding-left: 0;
	}
	
	.dishImage img {
		width: auto;
		height: auto;
	}

	.FoodCategoryTitle {
		margin-top: 100px;
		font-size: 180px;
		height: 340px;
	}
	
	.dishContainer {
		position: relative; /* position specialLabel relative to container */
		
		.specialLabels {
			top: -240px;
			right: -130px;
			
			.specialLabelImage {
				@include border-radius(200px);
			}
		}
	}
	
	.dishDescription {
		width: 70%;
	}
	
	.dishInfoRight {
		width: 25%;
	}
	
	.dishes {
		
		li {
			margin-top: 45px;
			font-size: 60px;
			line-height: 1;
			
			&:first-child {
				margin-top: 0;
			}
		}
		
		.dishPriceInner {
			font-size: 60px;
		}
		
		.dishPriceSmallInner {
			margin-top: 5px;
			font-size: 30px;
		}
		
		.dishDescriptionEnUS {
			font-size: 50px;
		}
		
		.dishLabels {
			margin-top: .5em;
		}
		
		.dishLabelIcon {
			font-size: 44px;
		}
	}
	
	.dishImage {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 1100px;
		background-color: rgba(0,0,0,.1);
	}
	
	.footnote {
		left: 0;
		text-align: left;
		height: 125px; /* 4 lines of text */
		
		.footnote-inner {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 30px;
		}
		
		p {
			position: relative;
			top: auto;
			left: auto;
			right: auto;
			bottom: auto;
			margin-top: 0;
			font-size: 18px;
			line-height: 1.25;
		}
		
		.lang-en-US {
			opacity: .5;
		}
	}
}


/*-------------------------------------------------------------------
  GLOBAL STYLE DEFINITIONS
-------------------------------------------------------------------*/

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } 
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	
	/*-------------------------------------------------------------------
	HIDDEN ELEMENTS THAT AREN¬¥T PRINTED
	-------------------------------------------------------------------*/
	#skipnav,
	nav,
	footer,
	.invisible,
	.visuallyhidden,
	.dont_print {
		display: none;
	}
}
