@charset "UTF-8";
/*------------------------------------------------------------------------------
  FONTS
------------------------------------------------------------------------------*/
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?53450176");
  src: url("fonts/icons.eot?53450176#iefix") format("embedded-opentype"), url("fonts/icons.woff?53450176") format("woff"), url("fonts/icons.ttf?53450176") format("truetype"), url("fonts/icons.svg?53450176#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icon-dishlabels';
  src: url("fonts/icon-dishlabels.eot?lm59iz");
  src: url("fonts/icon-dishlabels.eot?lm59iz#iefix") format("embedded-opentype"), url("fonts/icon-dishlabels.ttf?lm59iz") format("truetype"), url("fonts/icon-dishlabels.woff?lm59iz") format("woff"), url("fonts/icon-dishlabels.svg?lm59iz#icon-dishlabels") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'univers-light';
  src: url("fonts/universnextw1g_light.eot");
  src: url("fonts/universnextw1g_light.eot?#iefix") format("embedded-opentype"), url("fonts/universnextw1g_light.woff") format("woff"), url("fonts/universnextw1g_light.ttf") format("truetype"), url("fonts/universnextw1g_light.svg#univers_next_w1glight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebasneue';
  src: url("fonts/bebasneue.eot");
  src: url("fonts/bebasneue.eot?#iefix") format("embedded-opentype"), url("fonts/bebasneue.woff") format("woff"), url("fonts/bebasneue.ttf") format("truetype"), url("fonts/bebasneue.svg#bebas_neueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'a-gentle-touch';
  src: url("fonts/a_gentle_touch.eot");
  src: url("fonts/a_gentle_touch.eot?#iefix") format("embedded-opentype"), url("fonts/a_gentle_touch.woff") format("woff"), url("fonts/a_gentle_touch.ttf") format("truetype"), url("fonts/a_gentle_touch.svg#a_gentle_touchmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------*/
/* font smoothing */
/* rem fontsize with pixel fallback */
/*------------------------------------------------------------------------------
  ICONS
------------------------------------------------------------------------------*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?53450175#icons') format('svg');
  }
}
*/
/* line 111, sass/partials/_base.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 134, sass/partials/_base.scss */
.icon-food:before {
  content: '\21';
}

/* '!' */
/* line 135, sass/partials/_base.scss */
.icon-box:before {
  content: '\e800';
}

/* 'Ó†Ä' */
/* line 136, sass/partials/_base.scss */
.icon-search:before {
  content: '\e801';
}

/* 'Ó†Å' */
/* line 137, sass/partials/_base.scss */
.icon-left-open-mini:before {
  content: '\e802';
}

/* 'Ó†Ç' */
/* line 138, sass/partials/_base.scss */
.icon-right-open-mini:before {
  content: '\e803';
}

/* 'Ó†É' */
/* line 139, sass/partials/_base.scss */
.icon-up-open-mini:before {
  content: '\e804';
}

/* 'Ó†Ñ' */
/* line 140, sass/partials/_base.scss */
.icon-down-open-big:before {
  content: '\e805';
}

/* 'Ó†Ö' */
/* line 141, sass/partials/_base.scss */
.icon-left-open-big:before {
  content: '\e806';
}

/* 'Ó†Ü' */
/* line 142, sass/partials/_base.scss */
.icon-right-open-big:before {
  content: '\e807';
}

/* 'Ó†á' */
/* line 143, sass/partials/_base.scss */
.icon-up-open-big:before {
  content: '\e808';
}

/* 'Ó†à' */
/* line 144, sass/partials/_base.scss */
.icon-pencil:before {
  content: '\e809';
}

/* 'Ó†â' */
/* line 145, sass/partials/_base.scss */
.icon-home:before {
  content: '\e80a';
}

/* 'Ó†ä' */
/* line 146, sass/partials/_base.scss */
.icon-info-circled:before {
  content: '\e80b';
}

/* 'Ó†ã' */
/* line 147, sass/partials/_base.scss */
.icon-star:before {
  content: '\e80c';
}

/* 'Ó†å' */
/* line 148, sass/partials/_base.scss */
.icon-star-empty:before {
  content: '\e80d';
}

/* 'Ó†ç' */
/* line 149, sass/partials/_base.scss */
.icon-book-open:before {
  content: '\e80e';
}

/* 'Ó†é' */
/* line 150, sass/partials/_base.scss */
.icon-camera:before {
  content: '\e80f';
}

/* 'Ó†è' */
/* line 151, sass/partials/_base.scss */
.icon-picture:before {
  content: '\e810';
}

/* 'Ó†ê' */
/* line 152, sass/partials/_base.scss */
.icon-layout:before {
  content: '\e811';
}

/* 'Ó†ë' */
/* line 153, sass/partials/_base.scss */
.icon-menu:before {
  content: '\e812';
}

/* 'Ó†í' */
/* line 154, sass/partials/_base.scss */
.icon-check:before {
  content: '\e813';
}

/* 'Ó†ì' */
/* line 155, sass/partials/_base.scss */
.icon-cancel:before {
  content: '\e814';
}

/* 'Ó†î' */
/* line 156, sass/partials/_base.scss */
.icon-plus:before {
  content: '\e815';
}

/* 'Ó†ï' */
/* line 157, sass/partials/_base.scss */
.icon-minus:before {
  content: '\e816';
}

/* 'Ó†ñ' */
/* line 158, sass/partials/_base.scss */
.icon-help:before {
  content: '\e817';
}

/* 'Ó†ó' */
/* line 159, sass/partials/_base.scss */
.icon-link:before {
  content: '\e818';
}

/* 'Ó†ò' */
/* line 160, sass/partials/_base.scss */
.icon-export:before {
  content: '\e819';
}

/* 'Ó†ô' */
/* line 161, sass/partials/_base.scss */
.icon-print:before {
  content: '\e81a';
}

/* 'Ó†ö' */
/* line 162, sass/partials/_base.scss */
.icon-comment:before {
  content: '\e81b';
}

/* 'Ó†õ' */
/* line 163, sass/partials/_base.scss */
.icon-chat:before {
  content: '\e81c';
}

/* 'Ó†ú' */
/* line 164, sass/partials/_base.scss */
.icon-bell:before {
  content: '\e81d';
}

/* 'Ó†ù' */
/* line 165, sass/partials/_base.scss */
.icon-location:before {
  content: '\e81e';
}

/* 'Ó†û' */
/* line 166, sass/partials/_base.scss */
.icon-direction:before {
  content: '\e81f';
}

/* 'Ó†ü' */
/* line 167, sass/partials/_base.scss */
.icon-compass:before {
  content: '\e820';
}

/* 'Ó††' */
/* line 168, sass/partials/_base.scss */
.icon-doc:before {
  content: '\e821';
}

/* 'Ó†°' */
/* line 169, sass/partials/_base.scss */
.icon-phone:before {
  content: '\e822';
}

/* 'Ó†¢' */
/* line 170, sass/partials/_base.scss */
.icon-cog:before {
  content: '\e823';
}

/* 'Ó†£' */
/* line 171, sass/partials/_base.scss */
.icon-tools:before {
  content: '\e824';
}

/* 'Ó†§' */
/* line 172, sass/partials/_base.scss */
.icon-share:before {
  content: '\e825';
}

/* 'Ó†•' */
/* line 173, sass/partials/_base.scss */
.icon-calendar:before {
  content: '\e826';
}

/* 'Ó†¶' */
/* line 174, sass/partials/_base.scss */
.icon-mic:before {
  content: '\e827';
}

/* 'Ó†ß' */
/* line 175, sass/partials/_base.scss */
.icon-clock:before {
  content: '\e828';
}

/* 'Ó†®' */
/* line 176, sass/partials/_base.scss */
.icon-doc-landscape:before {
  content: '\e829';
}

/* 'Ó†©' */
/* line 177, sass/partials/_base.scss */
.icon-ccw:before {
  content: '\e82a';
}

/* 'Ó†™' */
/* line 178, sass/partials/_base.scss */
.icon-arrows-ccw:before {
  content: '\e82b';
}

/* 'Ó†´' */
/* line 179, sass/partials/_base.scss */
.icon-target:before {
  content: '\e82c';
}

/* 'Ó†¨' */
/* line 180, sass/partials/_base.scss */
.icon-bulletlist:before {
  content: '\e82d';
}

/* 'Ó†≠' */
/* line 181, sass/partials/_base.scss */
.icon-monitor:before {
  content: '\e82e';
}

/* 'Ó†Æ' */
/* line 182, sass/partials/_base.scss */
.icon-mobile:before {
  content: '\e82f';
}

/* 'Ó†Ø' */
/* line 183, sass/partials/_base.scss */
.icon-chart-line:before {
  content: '\e830';
}

/* 'Ó†∞' */
/* line 184, sass/partials/_base.scss */
.icon-chart-pie:before {
  content: '\e831';
}

/* 'Ó†±' */
/* line 185, sass/partials/_base.scss */
.icon-chart-bar:before {
  content: '\e832';
}

/* 'Ó†≤' */
/* line 186, sass/partials/_base.scss */
.icon-megaphone:before {
  content: '\e833';
}

/* 'Ó†≥' */
/* line 187, sass/partials/_base.scss */
.icon-database:before {
  content: '\e834';
}

/* 'Ó†¥' */
/* line 188, sass/partials/_base.scss */
.icon-flow-tree:before {
  content: '\e835';
}

/* 'Ó†µ' */
/* line 189, sass/partials/_base.scss */
.icon-basket:before {
  content: '\e836';
}

/* 'Ó†∂' */
/* line 190, sass/partials/_base.scss */
.icon-attach:before {
  content: '\e837';
}

/* 'Ó†∑' */
/* line 191, sass/partials/_base.scss */
.icon-eye:before {
  content: '\e838';
}

/* 'Ó†∏' */
/* line 192, sass/partials/_base.scss */
.icon-lock-open:before {
  content: '\e839';
}

/* 'Ó†π' */
/* line 193, sass/partials/_base.scss */
.icon-lock:before {
  content: '\e83a';
}

/* 'Ó†∫' */
/* line 194, sass/partials/_base.scss */
.icon-dot-3:before {
  content: '\e83b';
}

/* 'Ó†ª' */
/* line 195, sass/partials/_base.scss */
.icon-globe:before {
  content: '\e83c';
}

/* 'Ó†º' */
/* line 196, sass/partials/_base.scss */
.icon-user:before {
  content: '\e83d';
}

/* 'Ó†Ω' */
/* line 197, sass/partials/_base.scss */
.icon-users:before {
  content: '\e83e';
}

/* 'Ó†æ' */
/* line 198, sass/partials/_base.scss */
.icon-back:before {
  content: '\e83f';
}

/* 'Ó†ø' */
/* line 199, sass/partials/_base.scss */
.icon-bookmark:before {
  content: '\e840';
}

/* 'Ó°Ä' */
/* line 200, sass/partials/_base.scss */
.icon-block:before {
  content: '\e841';
}

/* 'Ó°Å' */
/* line 201, sass/partials/_base.scss */
.icon-info:before {
  content: '\e842';
}

/* 'Ó°Ç' */
/* line 202, sass/partials/_base.scss */
.icon-flag:before {
  content: '\e843';
}

/* 'Ó°É' */
/* line 203, sass/partials/_base.scss */
.icon-attention:before {
  content: '\e844';
}

/* 'Ó°Ñ' */
/* line 204, sass/partials/_base.scss */
.icon-help-circled:before {
  content: '\e845';
}

/* 'Ó°Ö' */
/* line 205, sass/partials/_base.scss */
.icon-kochtopf:before {
  content: '\e846';
}

/* 'Ó°Ü' */
/*------------------------------------------------------------------------------
  ICONS DISHLABELS
------------------------------------------------------------------------------*/
/* line 210, sass/partials/_base.scss */
[class*="dishlabel-icon"] {
  font-family: 'icon-dishlabels';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 222, sass/partials/_base.scss */
[class*="dishlabel-icon"]:before {
  display: block;
  width: 1em;
  height: 1em;
}

/* vegetarisch */
/* line 229, sass/partials/_base.scss */
.dishlabel-icon-76:before {
  content: "\76";
}

/* vegan */
/* line 233, sass/partials/_base.scss */
.dishlabel-icon-56:before {
  content: "\56";
}

/* tagesmenue */
/* line 237, sass/partials/_base.scss */
.dishlabel-icon-74:before {
  content: "\74";
}

/* schwein */
/* line 241, sass/partials/_base.scss */
.dishlabel-icon-73:before {
  content: "\73";
}

/* rind */
/* line 245, sass/partials/_base.scss */
.dishlabel-icon-72:before {
  content: "\72";
}

/* fisch */
/* line 249, sass/partials/_base.scss */
.dishlabel-icon-66:before {
  content: "\66";
}

/* chili */
/* line 253, sass/partials/_base.scss */
.dishlabel-icon-63:before {
  content: "\63";
}

/* knoblauch */
/* line 257, sass/partials/_base.scss */
.dishlabel-icon-6b:before {
  content: "\6b";
}

/* zwiebel */
/* line 261, sass/partials/_base.scss */
.dishlabel-icon-7a:before {
  content: "\7a";
}

/* Bio Siegel */
/* line 265, sass/partials/_base.scss */
.dishlabel-icon-62:before {
  content: "\62";
}

/* laktosefrei */
/* line 269, sass/partials/_base.scss */
.dishlabel-icon-6c:before {
  content: "\6c";
}

/* huhn */
/* line 273, sass/partials/_base.scss */
.dishlabel-icon-68:before {
  content: "\68";
}

/* vebu */
/* line 277, sass/partials/_base.scss */
.dishlabel-icon-31:before {
  content: "\31";
}

/* roter punkt */
/* line 281, sass/partials/_base.scss */
.dishlabel-icon-70:before {
  content: "\70";
}

/* lamm */
/* line 285, sass/partials/_base.scss */
.dishlabel-icon-6d:before {
  content: "\6d";
}

/*-------------------------------------------------------------------
  COLORS
-------------------------------------------------------------------*/
/* COLORS */
/*-------------------------------------------------------------------
  COLORS WEB APP
-------------------------------------------------------------------*/
/* HEADER */
/* VIEW */
/* PAGE */
/* FOOTER */
/*-------------------------------------------------------------------
  TYPOGRAPHY
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS SCREEN COUNTER
-------------------------------------------------------------------*/
/* 1080px - 2px overflow for kiosk mode */
/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS SCREEN INFO MESSAGE
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS MOBILE WEEKLY MENU
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  MEDIA QUERIES
-------------------------------------------------------------------*/
/* min-width for large display styles */
/*-------------------------------------------------------------------
  TRANSITIONS
-------------------------------------------------------------------*/
/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 29, sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, sass/partials/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 79, sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 91, sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 111, sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 168, sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 181, sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 189, sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 198, sass/partials/_normalize.scss */
p,
pre {
  margin: 1em 0 0 0;
}

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 207, sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 230, sass/partials/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 238, sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 248, sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 256, sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 280, sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 287, sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 295, sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 305, sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 320, sass/partials/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 329, sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 341, sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/* line 353, sass/partials/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 361, sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 373, sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 387, sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 402, sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 417, sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
  -webkit-border-radius: 0;
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 431, sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 443, sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 457, sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 469, sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 478, sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 489, sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 502, sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------------------------------
  GLOBAL SETUP PRINTTEMPLATEPAGE
-------------------------------------------------------------------*/
@page {
  margin: 0;
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
}
/* line 14, sass/partials/_print.scss */
.PrintHtmlTemplatePage {
  background: #fff;
  margin: 0;
}

/* line 19, sass/partials/_print.scss */
#container {
  margin: 0;
  font-family: "univers-light", Helvetica, Arial, sans-serif;
}

/*-------------------------------------------------------------------
  PRINT TEMPLATE CLASSES
-------------------------------------------------------------------*/
/* line 6, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 {
  background: url("/themes/roche-mannheim/images/print-category-dina7-bg-793x1122.jpg") center center no-repeat;
}
/* line 10, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container {
  width: 210mm;
  margin: 0;
  padding: 0;
}
/* line 16, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap {
  height: 74.25mm;
  margin: 0;
  padding: 0;
  /* 50% of DIN A4 landscape page */
}
/* line 23, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article {
  width: 105mm;
  height: 74.25mm;
  display: inline-block;
  position: relative;
  margin: 0;
}
/* line 33, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article li {
  list-style-type: none;
}
/* line 37, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes {
  margin: 0;
  height: auto;
  /* decrease font size by amount of dishes */
  /* 2 dishes */
  /* 3 dishes */
}
/* line 42, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dish:first-child {
  margin-top: 20px;
}
/* line 49, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishcount-2 .dishContainer {
  margin-bottom: 10px;
}
/* line 51, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishcount-2 .dishContainer .dishDescription {
  font-size: 27px;
}
/* line 59, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishcount-3 .dishContainer {
  margin-bottom: 2px;
}
/* line 61, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishcount-3 .dishContainer .dishDescription {
  font-size: 22px;
}
/* line 67, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer {
  margin-bottom: 15px;
  margin-left: 20px;
}
/* line 72, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishDescription {
  font-size: 29px;
  width: 270px;
  display: inline-block;
  line-height: 0.85;
  margin-top: 10px;
}
/* line 79, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishDescription .additives {
  font-size: 13px;
  display: block;
}
/* line 85, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight {
  display: inline-block;
  text-align: right;
  width: 100px;
  position: relative;
}
/* line 91, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight .dishPrice {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 22px !important;
}
/* line 99, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight .dishLabels {
  position: absolute;
  top: 28px;
  right: 20px;
}
/* line 104, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight .dishLabels .dishLabel {
  display: inline-block;
  width: 14px;
  height: 14px;
}
/* line 109, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight .dishLabels .dishLabelTitle {
  display: none;
}
/* line 110, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .dishes .dishContainer .dishInfoRight .dishLabels .dishLabelIcon {
  font-size: 14px;
  display: inline-block;
  width: 14px;
  height: 14px;
}
/* line 125, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .footer {
  position: absolute;
  top: 220px;
  left: 20px;
  width: 340px;
  margin: 0;
  padding: 0;
  /*
  .footnote-inner {
  	
  	height:50px;
  	padding: 0px;
  	font-size: 8px;
  	line-height: 0.9;
  	
  	p {
  		margin: 0;
  	}
  }*/
}
/* line 134, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .footer td {
  height: 50px;
  padding: 0;
  font-size: 8px;
  line-height: 0.9;
}
/* line 140, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .footer td p {
  margin: 0;
}
/* line 159, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap article .nutrition-container,
.Print_Dish_DinA7 #container .foodcategory-wrap article .dish-nutrition-container {
  display: none;
}
/* line 169, sass/Print_Dish_DinA7.scss */
.Print_Dish_DinA7 #container .foodcategory-wrap:nth-child(4n) {
  page-break-after: always;
}
