@charset "UTF-8";
/*-------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------*/
/* font smoothing */
/* rem fontsize with pixel fallback */
/*------------------------------------------------------------------------------
  ICONS
------------------------------------------------------------------------------*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?53450175#icons') format('svg');
  }
}
*/
/* line 54, sass/partials/_base.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity .8 */
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 77, sass/partials/_base.scss */
.icon-food:before {
  content: '\21';
}

/* '!' */
/* line 78, sass/partials/_base.scss */
.icon-box:before {
  content: '\e800';
}

/* 'Ó†Ä' */
/* line 79, sass/partials/_base.scss */
.icon-search:before {
  content: '\e801';
}

/* 'Ó†Å' */
/* line 80, sass/partials/_base.scss */
.icon-left-open-mini:before {
  content: '\e802';
}

/* 'Ó†Ç' */
/* line 81, sass/partials/_base.scss */
.icon-right-open-mini:before {
  content: '\e803';
}

/* 'Ó†É' */
/* line 82, sass/partials/_base.scss */
.icon-up-open-mini:before {
  content: '\e804';
}

/* 'Ó†Ñ' */
/* line 83, sass/partials/_base.scss */
.icon-down-open-big:before {
  content: '\e805';
}

/* 'Ó†Ö' */
/* line 84, sass/partials/_base.scss */
.icon-left-open-big:before {
  content: '\e806';
}

/* 'Ó†Ü' */
/* line 85, sass/partials/_base.scss */
.icon-right-open-big:before {
  content: '\e807';
}

/* 'Ó†á' */
/* line 86, sass/partials/_base.scss */
.icon-up-open-big:before {
  content: '\e808';
}

/* 'Ó†à' */
/* line 87, sass/partials/_base.scss */
.icon-pencil:before {
  content: '\e809';
}

/* 'Ó†â' */
/* line 88, sass/partials/_base.scss */
.icon-home:before {
  content: '\e80a';
}

/* 'Ó†ä' */
/* line 89, sass/partials/_base.scss */
.icon-info-circled:before {
  content: '\e80b';
}

/* 'Ó†ã' */
/* line 90, sass/partials/_base.scss */
.icon-star:before {
  content: '\e80c';
}

/* 'Ó†å' */
/* line 91, sass/partials/_base.scss */
.icon-star-empty:before {
  content: '\e80d';
}

/* 'Ó†ç' */
/* line 92, sass/partials/_base.scss */
.icon-book-open:before {
  content: '\e80e';
}

/* 'Ó†é' */
/* line 93, sass/partials/_base.scss */
.icon-camera:before {
  content: '\e80f';
}

/* 'Ó†è' */
/* line 94, sass/partials/_base.scss */
.icon-picture:before {
  content: '\e810';
}

/* 'Ó†ê' */
/* line 95, sass/partials/_base.scss */
.icon-layout:before {
  content: '\e811';
}

/* 'Ó†ë' */
/* line 96, sass/partials/_base.scss */
.icon-menu:before {
  content: '\e812';
}

/* 'Ó†í' */
/* line 97, sass/partials/_base.scss */
.icon-check:before {
  content: '\e813';
}

/* 'Ó†ì' */
/* line 98, sass/partials/_base.scss */
.icon-cancel:before {
  content: '\e814';
}

/* 'Ó†î' */
/* line 99, sass/partials/_base.scss */
.icon-plus:before {
  content: '\e815';
}

/* 'Ó†ï' */
/* line 100, sass/partials/_base.scss */
.icon-minus:before {
  content: '\e816';
}

/* 'Ó†ñ' */
/* line 101, sass/partials/_base.scss */
.icon-help:before {
  content: '\e817';
}

/* 'Ó†ó' */
/* line 102, sass/partials/_base.scss */
.icon-link:before {
  content: '\e818';
}

/* 'Ó†ò' */
/* line 103, sass/partials/_base.scss */
.icon-export:before {
  content: '\e819';
}

/* 'Ó†ô' */
/* line 104, sass/partials/_base.scss */
.icon-print:before {
  content: '\e81a';
}

/* 'Ó†ö' */
/* line 105, sass/partials/_base.scss */
.icon-comment:before {
  content: '\e81b';
}

/* 'Ó†õ' */
/* line 106, sass/partials/_base.scss */
.icon-chat:before {
  content: '\e81c';
}

/* 'Ó†ú' */
/* line 107, sass/partials/_base.scss */
.icon-bell:before {
  content: '\e81d';
}

/* 'Ó†ù' */
/* line 108, sass/partials/_base.scss */
.icon-location:before {
  content: '\e81e';
}

/* 'Ó†û' */
/* line 109, sass/partials/_base.scss */
.icon-direction:before {
  content: '\e81f';
}

/* 'Ó†ü' */
/* line 110, sass/partials/_base.scss */
.icon-compass:before {
  content: '\e820';
}

/* 'Ó††' */
/* line 111, sass/partials/_base.scss */
.icon-doc:before {
  content: '\e821';
}

/* 'Ó†°' */
/* line 112, sass/partials/_base.scss */
.icon-phone:before {
  content: '\e822';
}

/* 'Ó†¢' */
/* line 113, sass/partials/_base.scss */
.icon-cog:before {
  content: '\e823';
}

/* 'Ó†£' */
/* line 114, sass/partials/_base.scss */
.icon-tools:before {
  content: '\e824';
}

/* 'Ó†§' */
/* line 115, sass/partials/_base.scss */
.icon-share:before {
  content: '\e825';
}

/* 'Ó†•' */
/* line 116, sass/partials/_base.scss */
.icon-calendar:before {
  content: '\e826';
}

/* 'Ó†¶' */
/* line 117, sass/partials/_base.scss */
.icon-mic:before {
  content: '\e827';
}

/* 'Ó†ß' */
/* line 118, sass/partials/_base.scss */
.icon-clock:before {
  content: '\e828';
}

/* 'Ó†®' */
/* line 119, sass/partials/_base.scss */
.icon-doc-landscape:before {
  content: '\e829';
}

/* 'Ó†©' */
/* line 120, sass/partials/_base.scss */
.icon-ccw:before {
  content: '\e82a';
}

/* 'Ó†™' */
/* line 121, sass/partials/_base.scss */
.icon-arrows-ccw:before {
  content: '\e82b';
}

/* 'Ó†´' */
/* line 122, sass/partials/_base.scss */
.icon-target:before {
  content: '\e82c';
}

/* 'Ó†¨' */
/* line 123, sass/partials/_base.scss */
.icon-bulletlist:before {
  content: '\e82d';
}

/* 'Ó†≠' */
/* line 124, sass/partials/_base.scss */
.icon-monitor:before {
  content: '\e82e';
}

/* 'Ó†Æ' */
/* line 125, sass/partials/_base.scss */
.icon-mobile:before {
  content: '\e82f';
}

/* 'Ó†Ø' */
/* line 126, sass/partials/_base.scss */
.icon-chart-line:before {
  content: '\e830';
}

/* 'Ó†∞' */
/* line 127, sass/partials/_base.scss */
.icon-chart-pie:before {
  content: '\e831';
}

/* 'Ó†±' */
/* line 128, sass/partials/_base.scss */
.icon-chart-bar:before {
  content: '\e832';
}

/* 'Ó†≤' */
/* line 129, sass/partials/_base.scss */
.icon-megaphone:before {
  content: '\e833';
}

/* 'Ó†≥' */
/* line 130, sass/partials/_base.scss */
.icon-database:before {
  content: '\e834';
}

/* 'Ó†¥' */
/* line 131, sass/partials/_base.scss */
.icon-flow-tree:before {
  content: '\e835';
}

/* 'Ó†µ' */
/* line 132, sass/partials/_base.scss */
.icon-basket:before {
  content: '\e836';
}

/* 'Ó†∂' */
/* line 133, sass/partials/_base.scss */
.icon-attach:before {
  content: '\e837';
}

/* 'Ó†∑' */
/* line 134, sass/partials/_base.scss */
.icon-eye:before {
  content: '\e838';
}

/* 'Ó†∏' */
/* line 135, sass/partials/_base.scss */
.icon-lock-open:before {
  content: '\e839';
}

/* 'Ó†π' */
/* line 136, sass/partials/_base.scss */
.icon-lock:before {
  content: '\e83a';
}

/* 'Ó†∫' */
/* line 137, sass/partials/_base.scss */
.icon-dot-3:before {
  content: '\e83b';
}

/* 'Ó†ª' */
/* line 138, sass/partials/_base.scss */
.icon-globe:before {
  content: '\e83c';
}

/* 'Ó†º' */
/* line 139, sass/partials/_base.scss */
.icon-user:before {
  content: '\e83d';
}

/* 'Ó†Ω' */
/* line 140, sass/partials/_base.scss */
.icon-users:before {
  content: '\e83e';
}

/* 'Ó†æ' */
/* line 141, sass/partials/_base.scss */
.icon-back:before {
  content: '\e83f';
}

/* 'Ó†ø' */
/* line 142, sass/partials/_base.scss */
.icon-bookmark:before {
  content: '\e840';
}

/* 'Ó°Ä' */
/* line 143, sass/partials/_base.scss */
.icon-block:before {
  content: '\e841';
}

/* 'Ó°Å' */
/* line 144, sass/partials/_base.scss */
.icon-info:before {
  content: '\e842';
}

/* 'Ó°Ç' */
/* line 145, sass/partials/_base.scss */
.icon-flag:before {
  content: '\e843';
}

/* 'Ó°É' */
/* line 146, sass/partials/_base.scss */
.icon-attention:before {
  content: '\e844';
}

/* 'Ó°Ñ' */
/* line 147, sass/partials/_base.scss */
.icon-help-circled:before {
  content: '\e845';
}

/* 'Ó°Ö' */
/* line 148, sass/partials/_base.scss */
.icon-kochtopf:before {
  content: '\e846';
}

/* 'Ó°Ü' */
/*------------------------------------------------------------------------------
  ICONS DISHLABELS
------------------------------------------------------------------------------*/
/* line 153, sass/partials/_base.scss */
[class*="dishlabel-icon"] {
  font-family: 'icon-dishlabels';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 165, sass/partials/_base.scss */
[class*="dishlabel-icon"]:before {
  display: block;
  width: 1em;
  height: 1em;
}

/* vegetarisch */
/* line 172, sass/partials/_base.scss */
.dishlabel-icon-76:before {
  content: "\76";
}

/* vegan */
/* line 176, sass/partials/_base.scss */
.dishlabel-icon-56:before {
  content: "\56";
}

/* tagesmenue */
/* line 180, sass/partials/_base.scss */
.dishlabel-icon-74:before {
  content: "\74";
}

/* schwein */
/* line 184, sass/partials/_base.scss */
.dishlabel-icon-73:before {
  content: "\73";
}

/* rind */
/* line 188, sass/partials/_base.scss */
.dishlabel-icon-72:before {
  content: "\72";
}

/* fisch */
/* line 192, sass/partials/_base.scss */
.dishlabel-icon-66:before {
  content: "\66";
}

/* chili */
/* line 196, sass/partials/_base.scss */
.dishlabel-icon-63:before {
  content: "\63";
}

/* knoblauch */
/* line 200, sass/partials/_base.scss */
.dishlabel-icon-6b:before {
  content: "\6b";
}

/* zwiebel */
/* line 204, sass/partials/_base.scss */
.dishlabel-icon-7a:before {
  content: "\7a";
}

/* Bio Siegel */
/* line 208, sass/partials/_base.scss */
.dishlabel-icon-62:before {
  content: "\62";
}

/* laktosefrei */
/* line 212, sass/partials/_base.scss */
.dishlabel-icon-6c:before {
  content: "\6c";
}

/* huhn */
/* line 216, sass/partials/_base.scss */
.dishlabel-icon-68:before {
  content: "\68";
}

/* vebu */
/* line 220, sass/partials/_base.scss */
.dishlabel-icon-31:before {
  content: "\31";
}

/* roter punkt */
/* line 224, sass/partials/_base.scss */
.dishlabel-icon-70:before {
  content: "\70";
}

/* lamm */
/* line 228, sass/partials/_base.scss */
.dishlabel-icon-6d:before {
  content: "\6d";
}

/*-------------------------------------------------------------------
  COLORS
-------------------------------------------------------------------*/
/* COLORS */
/*-------------------------------------------------------------------
  COLORS WEB APP
-------------------------------------------------------------------*/
/* HEADER */
/* VIEW */
/* PAGE */
/* FOOTER */
/*-------------------------------------------------------------------
  TYPOGRAPHY
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS SCREEN COUNTER
-------------------------------------------------------------------*/
/* 1080px - 2px overflow for kiosk mode */
/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU PHOTO LANDSCAPE
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS SCREEN INFO MESSAGE
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  VARS MOBILE WEEKLY MENU
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
  MEDIA QUERIES
-------------------------------------------------------------------*/
/* min-width for large display styles */
/*-------------------------------------------------------------------
  TRANSITIONS
-------------------------------------------------------------------*/
@page {
  margin: 0;
  page-break-inside: avoid;
  page-break-after: avoid;
  page-break-before: avoid;
}
/* line 11, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.PrintHtmlTemplatePage {
  background: #fff;
  margin: 0;
}

/* line 16, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.container {
  margin: 0;
  font-family: "RotisSansSerifStd-Light", Helvetica, Arial, sans-serif;
}

/*-------------------------------------------------------------------
  PRINT TEMPLATE CLASSES
-------------------------------------------------------------------*/
/* line 53, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape,
.Print_WeeklyMenu_DinA4_Landscape_en_US {
  /**************************************************************************************
  	 global border classes.
  	 vertical &  horizontal divider lines: pseudo elements (:after) with 1px gif bg do the trick
  ***************************************************************************************/
  /*********************************
  	main container (A4 sheet)	
  **********************************/
}
/* line 62, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container-week,
.Print_WeeklyMenu_DinA4_Landscape .container-infos,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-week,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-infos {
  position: relative;
}
/* line 70, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container-week .border-top,
.Print_WeeklyMenu_DinA4_Landscape .container-infos .border-top,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-week .border-top,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-infos .border-top {
  position: relative;
}
/* line 74, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container-week .border-right,
.Print_WeeklyMenu_DinA4_Landscape .container-infos .border-right,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-week .border-right,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-infos .border-right {
  position: relative;
}
/* line 79, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container-week .border-right:after,
.Print_WeeklyMenu_DinA4_Landscape .container-infos .border-right:after,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-week .border-right:after,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-infos .border-right:after {
  content: url("/themes/roche-mannheim/images/print-1px.gif");
  position: absolute;
  z-index: 1;
  height: 1000px;
  width: 0.06em;
  top: 0;
  right: -0.05em;
}
/* line 83, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container-week .border-top:after,
.Print_WeeklyMenu_DinA4_Landscape .container-infos .border-top:after,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-week .border-top:after,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container-infos .border-top:after {
  content: url("/themes/roche-mannheim/images/print-1px.gif");
  position: absolute;
  z-index: 1;
  width: 1100px;
  height: 0.06em;
  top: 0;
  left: 0;
}
/* line 96, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container {
  width: 286mm;
  height: 196mm;
  margin: 0 5mm 5mm 5mm;
  page-break-before: avoid;
  page-break-inside: avoid;
  page-break-after: avoid;
  /**************************
  	main data table 
  ***************************/
}
/* line 107, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top {
  font-size: 20px;
  height: 60px;
  margin-top: 15px;
}
/* line 113, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top div,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top div {
  display: inline-block;
}
/* line 117, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .date-week,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .date-week {
  width: 460px;
  line-height: 1.85;
}
/* line 122, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .header-text,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .header-text {
  width: 559px;
}
/* line 124, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .header-text td,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .header-text td {
  font-size: 8px;
}
/* line 125, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .header-text td span,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .header-text td span {
  font-size: 11px;
  display: block;
}
/* line 133, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .logo,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .logo {
  width: 50px;
  text-align: right;
  position: relative;
}
/* line 137, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu-table-top .logo img,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu-table-top .logo img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -15px;
  left: 0px;
}
/* line 151, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 9px;
  border: 0.06em solid #000;
  /* column widths */
  /* header */
  /* content table */
  /* column widths for info */
  /* header */
}
/* line 162, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-1st,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-1st {
  width: 9.5em;
}
/* line 167, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-header-date,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-header-date {
  width: 13.6em;
}
/* line 171, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-header-price,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-header-price {
  width: 3em;
}
/* line 175, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-header-fp,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-header-fp {
  width: 2em;
}
/* line 180, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-description,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-description {
  width: 15.7em;
}
/* line 184, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-price,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-price {
  width: 3.6em;
}
/* line 188, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .col-fp,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .col-fp {
  width: 1em;
}
/* line 196, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-header-date,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-header-date {
  width: 9.9em;
}
/* line 200, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-header-kcal,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-header-kcal {
  width: 2em;
}
/* line 204, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-header-fp,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-header-fp {
  width: 2em;
}
/* line 208, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-header-kh,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-header-kh {
  width: 2em;
}
/* line 212, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-header-ew,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-header-ew {
  width: 2em;
}
/* line 216, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-kcal,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-kcal {
  width: 2.3em;
}
/* line 220, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-kh,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-kh {
  width: 2.3em;
}
/* line 224, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-fp,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-fp {
  width: 2.3em;
}
/* line 228, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-ew,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-ew {
  width: 2.3em;
}
/* line 232, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu.weeklymenu-dishinfo .col-description,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu.weeklymenu-dishinfo .col-description {
  width: 11.9em;
}
/* line 241, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-header,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-header {
  height: 20px;
}
/* line 245, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-header div,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-header div {
  display: inline-block;
  padding: 3px 0 3px 1px;
  font-size: 10px;
}
/* line 251, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-header div:first-child,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-header div:first-child {
  border-left: none;
}
/* line 254, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-header div:last-child,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-header div:last-child {
  border-right: none;
}
/* line 259, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-header ul li,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-header ul li {
  display: inline-block;
  padding: 3px 0 3px 1px;
  font-size: 10px;
}
/* line 268, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap {
  /*
  	content elements
  */
}
/* line 271, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .row,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .row {
  display: block;
}
/* line 275, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .foodcategory,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .foodcategory {
  width: 96px;
  position: absolute;
  top: 0;
  bottom: 0;
}
/* line 282, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .foodcategory span,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .foodcategory span {
  font-family: "RotisSansSerifStd-Bold", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #fff;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 3px;
  padding-bottom: 25px;
}
/* line 292, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .foodcategory.foodcategory-blank,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .foodcategory.foodcategory-blank {
  background: #fff;
}
/* line 294, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .foodcategory.foodcategory-blank span,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .foodcategory.foodcategory-blank span {
  color: #000;
}
/* line 300, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish {
  display: inline-block;
  width: 21.6em;
  height: auto;
}
/* line 306, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish.first-dish,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish.first-dish {
  margin-left: 95px;
}
/* line 310, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish.first-dish .dishContainer .dishDescriptionInner,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish.first-dish .dishContainer .dishDescriptionInner {
  padding-top: 0;
}
/* line 316, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish div,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish div {
  display: inline-block;
  padding: 0;
}
/* line 321, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer {
  box-sizing: border-box;
  display: block;
  line-height: 1;
  position: relative;
}
/* line 328, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescriptionInner,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescriptionInner {
  padding-left: 4px;
}
/* line 332, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription,
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice,
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishFP,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishFP {
  padding: 0px;
}
/* line 338, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription {
  height: 35px;
  padding-bottom: 2px;
}
/* line 341, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription span,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishDescription span {
  display: block;
}
/* line 346, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice {
  position: relative;
}
/* line 348, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice .dishPriceSmallInner,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish .dishContainer .dishPrice .dishPriceSmallInner {
  font-size: 8px;
}
/* line 357, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dish:last-child,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dish:last-child {
  border-right: none;
}
/* line 362, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .empty-cell,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .empty-cell {
  height: 35px;
}
/* line 370, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .additives,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .additives {
  display: block;
  font-size: 8px;
  margin-bottom: -2px;
}
/* line 376, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dishLabels,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dishLabels {
  margin: 0;
  padding: 0;
}
/* line 381, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dishLabels .dishLabel,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dishLabels .dishLabel {
  list-style-type: none;
  display: inline-block;
  width: 9px;
  height: 9px;
  line-height: 0;
}
/* line 389, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .weeklymenu .weeklymenu-wrap .dishLabels .dishLabelIcon,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .weeklymenu .weeklymenu-wrap .dishLabels .dishLabelIcon {
  font-size: 10px;
  line-height: 0;
  padding-bottom: 2px;
}
/* line 401, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .footnote,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .footnote {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 286mm;
}
/* line 408, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .footnote .footnote-inner,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .footnote .footnote-inner {
  padding: 0px;
  box-sizing: border-box;
  font-size: 9px;
  line-height: 0.9;
}
/* line 414, sass/Print_WeeklyMenu_DinA4_Landscape.scss */
.Print_WeeklyMenu_DinA4_Landscape .container .footnote .footnote-inner p,
.Print_WeeklyMenu_DinA4_Landscape_en_US .container .footnote .footnote-inner p {
  margin: 0;
}
