@import "partials/normalize";
@import "partials/base";
@import "partials/animations";

/*-------------------------------------------------------------------
  BASIC SETUP
-------------------------------------------------------------------*/

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 62.5%;
	line-height: $text-line-height;
	background-color: #ccc;
	color: $text-color;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.no-js body {
	overflow: auto;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/*-------------------------------------------------------------------
  BASIC TYPOGRAPHY
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	line-height: $heading-line-height;
	letter-spacing: $heading-letter-spacing;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 0;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 34px;
	margin-top: 30px;
}

h4 {
	margin-top: 20px;
	font-size: 16px;
}

h5 {
	font-size: 15px;
	margin-top: $text-margin-top;
}

h6 {
	font-size: 11px;
	text-transform: uppercase;
	margin-top: $text-margin-top;
}

/* font-family and font-size */
p,
ol,
ul,
dl,
th,
td,
label,
.text input,
.textarea input,
.password input,
.email input,
textarea,
select,
input.action {
	font-size: $mobile-weekly-menu-text-font-size;
	font-family: $text-font;
}

/* margins and line-height */
p,
ol,
ul,
dl,
form {
	margin-top: $text-margin-top;
	line-height: $mobile-weekly-menu-text-line-height;
}

ul, ol {
	padding-left: 20px;
}

ul ul, ul ol, ul dl, ol ol, ol ul, ol dl, dl ul, dl ol {
	font-size: 100%;
}

ul li, ol li {
	margin-top: 5px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

dl dt {
	width: 100px;
	float: left;
	font-weight: bold;
	clear: left;
}

dl dd {
	margin-left: 110px;
}

dl dt,
dl dd {
	margin-bottom: 5px;
}

strong, b {
	font-weight: normal;
	font-family: $text-font;
}

em, i {
	font-weight: normal;
}

/*-------------------------------------------------------------------
  TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.kein-abstand {
	margin-top: 0 !important;
}

.outerHeader {
	margin: 0 10px 15px 0;
	color: $white;
}

.additives {
	font-family: $text-font;
	font-size: 65%; 
	line-height: 0; 
	position: relative; 
	vertical-align: baseline;
}

.adr_float {
	float: left;
	width: 45px;
}

.adr_float.long {
	width: 80px;
}

.message {
	display: block;
	margin: $text-margin-top 0;
	padding: 20px;	
	background: none repeat scroll 0 0 $message-background-color;
	border: 2px solid $message-border-color;
	color: $message-color;
}

.message.error {
	background-color: $error-background-color;
	border-color: $error-border-color;
	color: $error-color;
}

.message.success {
	background-color: $success-background-color;
	border-color: $success-border-color;
	color: $success-color;
}

.lang-en-US {
	opacity: .7;
}

.dishLabelIconFloated .dishLabelIcon {
	display: inline-block;
	margin-right: 3px;
}

ul.numbered-list {
	margin-bottom:0;
	padding-left:0
}
ul.numbered-list li {
	margin-top:0;
	list-style:none;
	margin-bottom:.2em
}
ul.numbered-list .number {
	display:inline-block;
	position:absolute;
	width:1em
}
ul.numbered-list .title {
	display:inline-block;
	position:relative;
	left:1.5em;
	margin-right:1.5em
}

/* BIO SEAL ITEMS */
.bioSealItems {
		
	margin-top: 30px;
		
	.bioSealImage {
		float: left;
		margin-right: 0.4em;
		margin-top: -0.3em
	}
	
	.bioSealTextContainer {
		margin-top: 0;
		margin-left: 70px;
	}
		
	.bioSealText,
	.bioSealCode {
		display: block;
	}
		
	.bioSealCode {
		@include opacity(0.6);
	}
}

/*-------------------------------------------------------------------
  LINKS
-------------------------------------------------------------------*/
a {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px solid $link-color;
	@include transition(color $default-transition-duration);
}

a:hover {
	border-bottom-color: tint($link-color, 20);	
}

/* BUTTON STYLE */
.button,
input.action {
	@include border-radius(0);
	@include box-sizing(border-box);
	margin: 15px 15px 0 0;
	padding: 10px 25px 10px 15px;
	width: 100%;
	background-color: $link-color;
	color: #fff;
	font-size: 17px;
	line-height: 1;
	cursor: pointer;
	display: block;
	overflow: hidden;
	text-align: left;
	border: solid 0 #fff;
	@include transition(background-color $default-transition-duration);
	
}

.button:hover,
input.action:hover {
	background-color: tint($link-color, 20);
	color: #fff;
}


/*-------------------------------------------------------------------
  FORMS 
-------------------------------------------------------------------*/
fieldset legend {
	display: none;
}

label {
	display: block;	
}

.checkbox label {
	display: inline;
}

.text,
.textarea,
.password,
.checkbox,
.email,
.select,
.Actions {
	margin-top: 10px;
}

.text input,
.password input,
.email input,
textarea {
	@include border-radius(0);
	@include box-sizing(border-box);
	width: 100%;
	margin: 0;
	padding: 10px 5px;
	background-color: $white;
	border: none;
	color: $black;
	@include box-shadow(rgba(black, 0.2) 1px 1px 1px inset);
}

.text input:focus,
.password input:focus,
textarea:focus {
	color: #000;
}

textarea {
	height: 300px;
}

.text input.short {
	width: 100px !important;	
}

/* mark required fields */
.requiredField label:after {
	content: ' *';
	color: $error-color;
}

/* no content for error messages in form */
form label.required:after {
	content: '';
}


/*-------------------------------------------------------------------
  TABLES
-------------------------------------------------------------------*/
table {
	margin-top: $text-margin-top;
	width: 100%;
	padding: 0;
	border-collapse: collapse;
    border-spacing: 0;
}

table th, table td {
	padding: 5px;
	padding-left: 0;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid $white;
	line-height: $text-line-height;
}

table thead th, table thead td,
table tbody th {
	font-family: $text-font;
	font-weight: normal
}

table thead th, table thead td {
	vertical-align: bottom;
}

table thead th, table thead td,
table tr:first-child td, table tr:first-child th {
	border-top: none;
}

table thead th, table thead td {
	border-bottom: 2px solid $white;
}

table th.table-align-right, table td.table-align-right {
	text-align: right;
	padding-left: 5px;
	padding-right: 0;
}

/* TABLE CONDENSED */
table.tableCondensed th, table.tableCondensed td {
	padding-top: 2px;
	padding-bottom: 2px;
}

/* TABLE UNSTYLED */
table.unstyled th, table.unstyled td,
table.unstyled thead th, table.unstyled thead td {
	border-top: none;
	border-bottom: none;
}


/*-------------------------------------------------------------------
  LISTS
-------------------------------------------------------------------*/
ul.mt-page-link-list,
ul.mt-voting-link-list {
	margin: 0 0 50px -1 * $mobile-weekly-menu-margin-left;
	padding: 0;
}

ul.mt-page-link-list li,
ul.mt-voting-link-list li {
	margin: 0;
	list-style-type: none;
}

/* LINKS / BUTTONS */
.mt-page-link,
.mt-voting-link {
	margin: 0 0 3px 0;
	padding: 1.5 * $mobile-weekly-menu-padding 2.5 *$mobile-weekly-menu-padding 1.5 * $mobile-weekly-menu-padding $mobile-weekly-menu-padding;
	display: block;
	background: $beige;
	color: $white;
	font-size: $mobile-weekly-menu-page-link-font-size;
	border: none;
	line-height: 1;
	position: relative;	
}

a.mt-page-link:after,
a.mt-voting-link:after {
	display: block !important;
	content: '\e807' !important;
	font-family: 'icons';
	text-indent: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: $white;
	position: absolute;
	width: 13px;
	height: 17px;
	right: 5px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mt-page-link,
.mt-voting-link {
	font-family: $heading-font;
	letter-spacing: $heading-letter-spacing;
	line-height: $heading-line-height;
}

.mt-voting-link {
	background-color: $red;
	font-family: $text-font;
	letter-spacing: 0;
	font-size: $mobile-weekly-menu-dish-voting-font-size;
	line-height: 1.4;
}

/*-------------------------------------------------------------------
  HEADER
-------------------------------------------------------------------*/
#mt-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: $header-background-color;
	color: $header-text-color;
	overflow: hidden;
	z-index: 100;
}

#logo {
	position: fixed;
	top: 0;
	right: 0.5 * $mobile-weekly-menu-margin-right;
	width: 60px;
	height: 68px;
	margin-top: 0;
	font-size: $mobile-weekly-menu-header-font-size;
	text-align: center;
	@include box-shadow(0 0 5px rgba(0,0,0,.4));
	z-index: 200;
}

#logo img {
	width: 100%;
	height: auto;
}

/* TITLE */
#mt-page-title,
#mt-page-subtitle {
	top: 5px;
	left: 15%;
	right: 125px;
	display: block;
	padding-left: $mobile-weekly-menu-padding;
	height: 20px;
}

#mt-page-title,
#mt-page-subtitle {
	position: absolute;
	overflow: hidden;
	color: $header-text-color;
    font-size: $mobile-weekly-menu-header-font-size;
	
	white-space: nowrap;
	margin-top: 0;
	padding-left: 0;
	left: 80px;
	right: 80px;
	text-align: center;
}

#mt-page-title {
	top: 50%;
	@include transform(translateY(-50%));
}

#mt-page-subtitle {
	font-size: $mobile-weekly-menu-subtitle-font-size;
	top: auto;
	height: auto;
	bottom: 7px;
	display: none;
}

.no-logo #mt-page-subtitle{
	right: 20px;
}

.no-logo #mt-page-title {
	right: 60px;
}

.mt-multiheading #mt-page-title {
	top: 5px;
	@include transform(translateY(0));	
}

.mt-multiheading #mt-page-subtitle {
	display: block;
}

/* BACK BUTTON */
#mt-nav-back,
#mt-nav-back:before {
	display: block;
	position: absolute;
	height: 50px;
	width: 50px;
}

#mt-nav-back {
	border: medium none;
	text-indent: -9999px;
	display: none;
}

#mt-nav-back:before {
	content: '\e806';
	font-family: 'icons';
	text-indent: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: #fff;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	line-height: 50px;
}

/*-------------------------------------------------------------------
  MAIN NAV
-------------------------------------------------------------------*/
.mt-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: $black;
	color: $white;
	overflow: hidden;
	z-index: 98; /* below loading indicator */
}

/* hide nav while startup image is shown */
.mt-startup-image-active .mt-nav {
	display: none !important;
}

.mt-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mt-nav li {
	margin-top: 0;
	padding: 0;
	list-style: none;
	width: 50%;
	float: left;
}

.mt-nav.mt-nav-item-count-3 li {
	width: 33.333%;
}

.mt-nav.mt-nav-item-count-4 li {
	width: 25%;
}

.mt-nav.mt-nav-item-count-5 li {
	width: 20%;
}

.mt-nav.mt-nav-item-count-5 a {
	text-indent: -9999px;
}

.mt-nav.mt-nav-item-count-5 a:before {
	top: 10px;
	text-indent: 0;
}

.mt-view-link,
.mt-view-link:visited {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	height: 100%;
	padding: 5px;
	color: $white;
	font-size: 11px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: none;
}

.mt-view-link:before {
	display: block;
	position: relative;
	margin: 0;
	width: 30px;
	height: 24px;
	font-size: 23px;
	top: 0;
	left: 50%;
	margin-left: -15px;
	overflow: hidden;
}

.mt-view-link.icon-food:before {
	font-size: 20px;
	top: 2px;
}

.current .mt-view-link {
	color: $link-color;
}


/*-------------------------------------------------------------------
  VIEW / PAGE
-------------------------------------------------------------------*/
#mt-container {
	position: absolute;
	top: 50px; /* height of header */
	bottom: 50px; /* height of footer */
	left: 0;
	right: 0;
}

#mt-container,
.mt-view {
	@include perspective(1200px);
	@include transform-style(preserve-3d);
}

.no-js #mt-container {
	position: relative;
	left: auto;
	right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.mt-view,
.mt-page {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: none;
	overflow: hidden;
	backface-visibility: hidden;
	@include transform(translate3d(0, 0, 0));
	-webkit-backface-visibility: hidden; /* prevent flickering with animations @link http://davidwalsh.name/translate3d */
}

.no-js .mt-view,
.no-js .mt-page {
	position: relative;
	height: auto;
	visibility: visible;
	display: block;
}


/* PAGE */
.mt-page {
	background-color: $body-background-color;
	visibility: hidden;
	overflow: scroll;
	-webkit-overflow-scrolling: touch; /* smooth ios scrolling */
}

.no-js .mt-page {
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}

.mt-current-view,
.mt-current-page {
	visibility: visible;
	z-index: 50; 
	display: block;
}

.mt-page-ontop {
	z-index: 51; /* above other pages, below nav and header */
}

.mt-page-inner {
	padding: $mobile-weekly-menu-margin-top $mobile-weekly-menu-margin-right 65px $mobile-weekly-menu-margin-left; /* top / bottom padding = height of header / .mt-nav +15px */
}

.mt-page-inner > *:first-child {
	margin-top: 0 !important;
}

/*-------------------------------------------------------------------
  LOCATION VIEW
-------------------------------------------------------------------*/
.location-view a span {
	font-size: 20px;
	display: block;
}


/*-------------------------------------------------------------------
  MENU VIEW
-------------------------------------------------------------------*/
.mt-current-date-link,
a.mt-current-date-link:after {
	background-color: $link-color;
	color: $white;
}

.FoodCategoryContainer {
	padding: $mobile-weekly-menu-padding 2.5 * $mobile-weekly-menu-padding $mobile-weekly-menu-padding $mobile-weekly-menu-padding;
	margin: 0 0 3px -1 * $mobile-weekly-menu-padding;
	background-color: $white;
	color: $dark-grey;
}

.FoodCategoryContainer {
	position: relative;
}

.FoodCategoryContainer .mt-page-link,
.FoodCategoryContainer .mt-page-link:after {
	color: $dark-grey;
}

.FoodCategoryColor *,
.FoodCategoryColor .mt-page-link:after {
	color: $white !important;
}

.content-container  > *:first-child,
.dish-rating-container > *:first-child {
	margin-top: 0;
	margin-bottom: 30px;
}


.mt-page-dish-rating {
	.content-container {
		h2, 
		h3 {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
}



.FoodCategoryContainer .FoodCategoryImage {
	position: absolute;
	top: 5px;
	right: 0;
	/*@include transform(scaleX(-1));*/
}

.FoodCategoryContainer .FoodCategoryTitle {
	margin: -8px -15px -10px -15px;
	padding: 20px 15px 20px 15px;
	font-family: $title-font;
	font-size: $mobile-weekly-menu-foodcategory-font-size;
	letter-spacing: 0;
	text-transform: none;
	color: $dark-grey;
}

.FoodCategoryContainer .dishes,
.FoodCategoryContainer .side-dishes {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.FoodCategoryContainer .dishes {
	margin-right: -15px;
}

.FoodCategoryContainer .dishes li,
.FoodCategoryContainer .side-dishes li {
	margin-top: 0;
	padding: 0;
	list-style-type: none;
}

.FoodCategoryContainer .dishes > li {
	border-top: 1px solid #ddd;
}

.FoodCategoryContainer .side-dishes > li {
	padding-top: 10px;
}

.FoodCategoryColor .dishes > li {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, .6);
}

.FoodCategoryContainer .dishes > li:first-child {
	margin-top: 0;
	border-top: none;
}

.FoodCategoryContainer .dishes .mt-page-link {
	padding: 8px 0;
	background-color: transparent;
	margin-bottom: 0;
}

.FoodCategoryContainer .dishImage {
	margin-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
	
	// stretch image to full width
	img {
		width: 100%;
		height: auto;
	}
}

.FoodCategoryContainer .dishInfoRight {
	float: right;
	text-align: right;
	width: 25%;
	min-width: 75px;
}

.FoodCategoryContainer a .dishInfoRight {
	margin-right: 30px;
}

.FoodCategoryContainer .dishPrice,
.FoodCategoryContainer .dishDescription,
.FoodCategoryContainer .dishDescriptionInner{
	display: block;
}

.FoodCategoryContainer .dishDescription {
	float: left;
	width: 65%;
	font-family: $text-font;
	font-size: $mobile-weekly-menu-dish-font-size;
	line-height: $mobile-weekly-menu-dish-line-height;
}

.FoodCategoryContainer a .dishDescription {
	width: 58%;
}

.FoodCategoryContainer .dishDescriptionEnUS {
	display: block;
}

.FoodCategoryContainer .priceAddition {
	display: none;
}

.FoodCategoryContainer .dishPrice {
	text-align: right;
	white-space: nowrap;
	font-family: $text-font;
	font-size: $mobile-weekly-menu-price-font-size;
}

.FoodCategoryContainer .dishPriceSmallInner {
	margin-top: 5px;
	display: block;
	font-size: $mobile-weekly-menu-price-small-font-size;
	line-height: 1;
}

.FoodCategoryContainer .patch {
	margin-bottom: 3px;
}

.ColorContrastTitle {
	color: #fff;
}

/* DishLabels */
.FoodCategoryContainer .dishLabels {
	margin-top: 5px;
	margin-bottom: 0;
	padding: 0;
	float: right;
}

.FoodCategoryContainer .side-dishes .dishLabels {
	margin-top: 0;
}

.FoodCategoryContainer .dishLabels li {
	margin-top: 0 !important;
	float: right;
	border-top: none;
}

.FoodCategoryContainer .dishLabelTitle {
	display: none;
}

.FoodCategoryContainer .dishLabelIcon {
	display: block;
	width: 1em;
	height: 1em;
	font-size: $mobile-weekly-menu-dish-label-font-size;
}

/* Special Labels */
.FoodCategoryContainer {
	.specialLabels {
		position: absolute;
		margin-top: 0;
		padding: 0;
		text-align: right;
		top: -46px;
		right: 30px;
	}	
	
}

.FoodCategoryContainer .specialLabels li {
	margin-top: 0 !important;
	margin-left: 5px;
	float: right;
	border-top: none;
}

.FoodCategoryContainer .specialLabels .specialLabelImage {
	@include rotate(25deg);
	@include single-box-shadow(2px, 2px, 3px, rgba(0,0,0,.2));
	@include border-radius(40px);
}

/* AKTION ICON */
.dishlabel-icon-74 {
	position: relative;
	overflow: hidden;
	width: 0.9em !important;
	height: 0.79em !important;
	margin-top: 0.1em;
	
}

.dishlabel-icon-74:before {
	font-size: 100%;
	position: absolute;
	color: $red;
	background-color: $white;
	top: -0.15em;
	left: -0.08em;
	width: 0.9em;
}

/* Side Dishes */
.sidedish-container {
	clear: both;
}

.FoodCategoryContainer .side-dishes .priceAddition {
	display: inline;
}

.FoodCategoryContainer .side-dishes > li {
	padding-left: 2 * $mobile-weekly-menu-padding; /* add space to the left for the + icon */
	position: relative;
}

.FoodCategoryContainer .side-dishes > li:before {
	@include pseudo-block(1em, 1em, '+');
	top: 7px;
	left: 0;
	font-size: 20px;
	@include transform(translateY(-22%));
}

/* FOOTNOTE */
.footnote {
	margin-top: 30px;
	margin-bottom: 30px;
}

.footnote * {
	font-family: $text-font;
	color: $white;
}

.footnote > *:first-child {
	margin-top: 0 !important;
}

.footnote h2 {
	padding-left: 0;
	font-size: 12px;
	text-transform: uppercase;
}

.footnote p {
	font-size: 12px;
}

.footnote .dishLabelIcon {
	font-family: 'icon-dishlabels';
	font-size: 15px;
}




/*-------------------------------------------------------------------
  VOTING 
-------------------------------------------------------------------*/
.mt-voting-result-list {
	padding-left: 0;
}

.mt-voting-result-list li {
	list-style: none;
	margin: 0 0 3px -1 * $mobile-weekly-menu-padding;
	padding: 15px 0;
	background-color: $white;
	color: $dark-grey;
	position: relative;
}

.mt-voting-result-list .mt-voting-percent,
.mt-voting-result-list .mt-voting-dish-description {
	display: block;
	padding-left: 15px;
}

.mt-voting-result-list .mt-voting-percent {
	display: block;
	font-size: 42px;
	line-height: 1;
}

.mt-voting-result-list .mt-voting-dish-description {
	padding-right: 20px;
	line-height: 1.2;
}

.mt-voting-result-list .mt-class-voting-meter {
	display: block;
	margin-top: 5px;
	height: 10px;
	background-color: $red;
}

/*-------------------------------------------------------------------
  DISH RATING
-------------------------------------------------------------------*/
.mt-dish-rating-container h4 {
	font-family: $text-font;
	font-size: $text-font-size;
	line-height: $text-line-height;
}

.mt-dish-rating-container textarea {
	color: $black !important;
}

.mt-dish-rating-comment textarea {
	height: 90px;
}

.mt-dish-rating-list {
	padding-left: 0;
}

.mt-dish-rating-list  li {
	list-style: none;
	margin: 0;
}

.mt-dish-rating-list h4 {
	margin-top: 10px;
	font-family: $text-font;
	text-transform: none;
	font-size: 15px;
	line-height: 1.4;
}

.mt-dish-rating-list .ui-rating {
}

.mt-dish-rating-comment p {
	margin-top: 5px;
	color: #999;
}




/* jQuery rateYo plugin */
.jq-ry-container {
	position: relative;
	line-height: 0;
	display: block;
	cursor: pointer;
}
.jq-ry-container[readonly="readonly"] {
	cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
	position: relative;
	width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
	position: relative;
	line-height: 0;
	z-index: 10;
	white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
	display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
	width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
	width: 0;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
/* star colors */
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
	&.jq-ry-normal-group > svg {
		fill: #fff;
	}
	&.jq-ry-rated-group > svg {
		fill: $link-color;
	}
}





/* jQuery rateit plugin */
.ui-rating {
	margin: 0;
}

.ui-rating .ui-rating-star, .ui-rating .ui-rating-cancel {
    display: block;
	width:35px;
    height:35px;
    float:left;
    text-decoration:none;
    vertical-align:bottom;
	position: relative;
	border-bottom: none !important;
}

.ui-rating .ui-rating-star:after {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width:35px;
    height:35px;
	line-height: 1;
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	color: #fff;
	font-size:35px;
	position: relative;
	border-bottom: none;
	content: "\e80c"; /* icon-star */
}


.ui-rating a {
	cursor: pointer;
}
.ui-rating-full  {
    background-position:left top;
}

.ui-rating-half  {
    width: 20px;
	margin-right: 20px;
	overflow: hidden;
}

.ui-rating-empty:after {
}

.ui-rating-cancel {
    display: none !important;
}

.ui-rating-full:after,
a.ui-rating-hover:after,
.rating-1 .mt-dish-rating-star-1:after,
.rating-2 .mt-dish-rating-star-1:after, .rating-2 .mt-dish-rating-star-2:after,
.rating-3 .mt-dish-rating-star-1:after, .rating-3 .mt-dish-rating-star-2:after, .rating-3 .mt-dish-rating-star-3:after,
.rating-4 .mt-dish-rating-star-1:after, .rating-4 .mt-dish-rating-star-2:after, .rating-4 .mt-dish-rating-star-3:after, .rating-4 .mt-dish-rating-star-4:after,
.rating-5 .mt-dish-rating-star-1:after, .rating-5 .mt-dish-rating-star-2:after, .rating-5 .mt-dish-rating-star-3:after, .rating-5 .mt-dish-rating-star-4:after, .rating-5 .mt-dish-rating-star-5:after {
	color: $link-color !important;
}

/*
.rating-1 .mt-dish-rating-star-1:after,
.rating-2 .mt-dish-rating-star-1:after, .rating-2 .mt-dish-rating-star-2:after,
.rating-3 .mt-dish-rating-star-1:after, .rating-3 .mt-dish-rating-star-2:after, .rating-3 .mt-dish-rating-star-3:after,
.rating-4 .mt-dish-rating-star-1:after, .rating-4 .mt-dish-rating-star-2:after, .rating-4 .mt-dish-rating-star-3:after, .rating-4 .mt-dish-rating-star-4:after,
.rating-5 .mt-dish-rating-star-1:after, .rating-5 .mt-dish-rating-star-2:after, .rating-5 .mt-dish-rating-star-3:after, .rating-5 .mt-dish-rating-star-4:after, .rating-5 .mt-dish-rating-star-5:after {
	color: #fff !important;
}*/

.ui-selected-value {
	display: none;
}



/*-------------------------------------------------------------------
  INFO MESSAGES 
-------------------------------------------------------------------*/
.info-message-image {
	margin: 0 0 $mobile-weekly-menu-padding -1 * $mobile-weekly-menu-padding;
}

.info-message-image img {
	max-width: 99999px;
	width: 100%;
}


/*-------------------------------------------------------------------
  LOADING INDICATOR
-------------------------------------------------------------------*/

/* LOADING INDICATOR */
#mt-loading-indicator {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99; /* place it below header */
	background-color: rgba(0,0,0,.8);
}

#mt-loading-indicator .spinner {
	display: block;
	width: 1px !important;
	top: 50%;
	left: 50%;
}

#mt-loading-text {
	position: absolute;
	display: block;
	width: 100%;
	top: 50%;
	margin-top: 30px;
	text-align: center;
	color: rgba(255, 255, 255, .9);
}

/*-------------------------------------------------------------------
  IMAGES
-------------------------------------------------------------------*/
#mt-startup-image {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000; /* place it above everything */
	background: #000 url('../images/startup-images/apple-touch-startup-image.jpg') center top no-repeat;	
}

#mt-background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*-------------------------------------------------------------------
  RETINA DISPLAYS
-------------------------------------------------------------------*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image@2x.jpg');
		background-size: 320px 460px;
	}
	
	#mt-header:after {
		background-image: url('../images/startup-images/mobile-header-bg@2x.jpg');
		background-size: 640px 20px;
	}
	
	#logo img {
		display: none;
	}
	
	#logo {
		background-image: url('../images/startup-images/mobile-weeklymenu-logo-casino@2x.gif');
		background-repeat: no-repeat;
		background-size: 60px 68px;
	}
}

/*-------------------------------------------------------------------
  IPHONE 5
-------------------------------------------------------------------*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-568h@2x.jpg');
		background-size: 320px 548px;
	}
}

/*-------------------------------------------------------------------
  SMALL HEIGHT LANDSCAPE
-------------------------------------------------------------------*/
@media (max-device-width: 568px) and (orientation: landscape) {
	/* NAVIGATION */
	.mt-nav {
		height: 40px;
		line-height: 40px;
	}
	
	.mt-view-link {
		padding-top: 3px;
	}

	.mt-view-link:before {
		height: 19px;
		font-size: 18px;
		margin-bottom: -3px;
	}

	.mt-view-link.icon-food:before {
		font-size: 15px;
	}
}

/*-------------------------------------------------------------------
  DESKTOP STYLES
-------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-568h@2x.jpg');
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
	
	#mt-header:after {
		background-image: url('../images/mobile-header-bg-Landscape~ipad@2x.jpg');
	}
}

/*-------------------------------------------------------------------
  IPAD PORTRAIT
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: portrait) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-Portrait~ipad.jpg');
		-webkit-background-size: 768px 1004px;
		background-size: 768px 1004px;
	}
	
	#mt-header:after {
		background-image: url('../images/mobile-header-bg-Landscape~ipad.jpg');
		background-size: 1024px 48px;
	}
}

/*-------------------------------------------------------------------
  IPAD LANDSCAPE
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: landscape) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-Landscape~ipad.jpg');
		-webkit-background-size: 1024px 748px;
		background-size: 1024px 748px;
	}
	
	#mt-header:after {
		background-image: url('../images/mobile-header-bg-Landscape~ipad.jpg');
		background-size: 1024px 48px;
	}
}

/*-------------------------------------------------------------------
  IPAD RETINA PORTRAIT
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-Portrait@2x~ipad.jpg');
		-webkit-background-size: 1536px 2008px;
		background-size: 1536px 2008px;
	}
	
	#mt-header:after {
		background-image: url('../images/mobile-header-bg-Landscape~ipad@2x.jpg');
		background-size: 2048px 56px;
	}
}

/*-------------------------------------------------------------------
  IPAD LANDSCAPE
-------------------------------------------------------------------*/
@media (device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	#mt-startup-image {
		background-image: url('../images/startup-images/apple-touch-startup-image-Landscape@2x~ipad.jpg');
		-webkit-background-size: 2048px 1496px;
		background-size: 2048px 1496px;
	}
	
	#mt-header:after {
		background-image: url('../images/mobile-header-bg-Landscape~ipad@2x.jpg');
		background-size: 2048px 56px;
	}
}

/*-------------------------------------------------------------------
  HELPER CLASSES
-------------------------------------------------------------------*/

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before, .clearfix:after,
.dishes li:before, .dishes li:after, 
.ui-rating:before, .ui-rating:after {
	content: " ";
	display: table;
}

.clearfix:after,
.dishes li:after, 
.ui-rating:after {
	clear: both;
}

.clearfix,
.dishes li, 
.ui-rating {
	*zoom: 1;
}

/*-------------------------------------------------------------------
  PRINT
-------------------------------------------------------------------*/

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
