@import "partials/print";

/*-------------------------------------------------------------------
  PRINT TEMPLATE CLASSES
-------------------------------------------------------------------*/
.Print_Category_DinA5 {
	
	#container {
		
		margin: 0;
		padding: 0;
		
		.foodcategory-wrap {
			
			width:296mm;
			height:204mm;
			page-break-before: avoid;
			page-break-inside: avoid;
			page-break-after: avoid;
			
			//height: 791px; // value is less then actual height - but if 100% height (791px) is used, dompdf renders an additional page at end of file
			//width: 1122px;
			margin: 0;
			
			/* 50% of DIN A4 landscape page */
			article {

				#content {
					margin: 0;
					padding: 0;
				}
			
				width:50%;
				height:200mm;
				padding: 0;
				display: inline-block;
				position: relative;
				page-break-inside: avoid;
								
				li {
					list-style-type:none;	
				}

				.foodcategory-title {
					
					height: 225px;
					width: 209mm;
					margin: 0;
					padding: 0;
					position: relative;					
					
					&.foodcategory-title-blank {
						.foodcategory-title-inner {
							color: #000;
						}
					}
				
					.foodcategory-title-inner {
						width:100%;
						height:225px;
						margin-left:25px;
						padding-top:65px;
						background-position: 454px 10px;
						font-family: $title-font;
						font-size: 105px;
						color: #fff;
					}
					
					.foodcategory-image {
						width: 108px;
						height: 200px;
						background-position: right center;
						background-repeat: no-repeat;
					}
					
				}
				
				.dishes {
					
					margin: 0 0 0 -20px;
					
					.dishContainer {
						
						margin: 30px 10px 15px 0;

						.dishDescription {
							font-size: 38px;
							width: 380px;
							display: inline-block;
							line-height: 0.8;
							margin-top:15px;
							
							.dishDescriptionEnUS {
								display: block;
								font-size: 34px;
								color: #666;
							}
							
							.additives {
								font-size: 13px;
								display: block;
							}
							
						}
					
						.dishInfoRight {
							display: inline-block;
							text-align: right;
							width: 140px;
							height: 80px;
							position: relative;
							padding-top:20px;
							
							.dishPrice {
								text-align: right;
								font-size: 32px !important;
								line-height: 0.8;
							}
							
							.dishLabels {
								
								position: absolute;
								top: 38px;
								right: 20px; 
								.dishLabel {
									display: inline-block;
									width:14px;
									height:14px;
								}
								.dishLabelTitle { display: none; }
								.dishLabelIcon { 
									font-size: 18px;
									display: inline-block;
								}
							}
							
							
						}
						
					}
					
				}
				
				.footnote { 
					
					position: absolute;
					bottom: 30px;
					left: 20px;
					width: 520px;
					
					.footnote-inner {
						padding: 0px;
						box-sizing: border-box;
						font-size: 9px;
						line-height: 0.9;
						
						p {
							margin: 0;
						}
						
						.additives {
							display: block;
						}
						
						.dishLabels {
							margin: 0;
							padding: 0; 
							width:520px;
							display: inline;
							text-align: left;
							position: relative;
							left:0;
							bottom:0;
							
							li.dishLabel {
								list-style-type: none;
								display: inline-block;
								padding: 0;
								margin: 0;
								height:12px;
								width: 50px; 
								background: #ccc;
								
								
								span {
									display: inline-block;
								}
							}
						}
						
					}
					
				
				}

				.nutrition-container,
				.dish-nutrition-container {
					display: none;
				}
				
			}
			
		}
		
	}	
		
}