// @import "partials/print";

@import "partials/base";
@page { 
	margin: 0;
	page-break-inside: avoid;
	page-break-after: avoid;
	page-break-before: avoid;
}

.PrintHtmlTemplatePage {
	background: #fff;
	margin: 0;
}

.container {
	margin: 0;
	font-family: $text-font;
}




$border: 0.06em solid #000; // produces a thin line - 1px solid will be rendered as thick line

@mixin border-top {
	content: url('/themes/roche-mannheim/images/print-1px.gif');
	position: absolute;
	z-index: 1;
	width: 1100px; // actually more than width. cut off by overflow:hidden of .weeklymenu
	height: 0.06em;
	top: 0;
	left: 0;
}

@mixin border-right {
	content: url('/themes/roche-mannheim/images/print-1px.gif');
	position: absolute;
	z-index: 1;
	height: 1000px; // actually more than height. cut off by overflow:hidden of .weeklymenu
	width: 0.06em;
	top: 0;
	right: -0.05em;
}





/*-------------------------------------------------------------------
  PRINT TEMPLATE CLASSES
-------------------------------------------------------------------*/
.Print_WeeklyMenu_DinA4_Landscape,
.Print_WeeklyMenu_DinA4_Landscape_en_US {
	
	
	/**************************************************************************************
		 global border classes.
		 vertical &  horizontal divider lines: pseudo elements (:after) with 1px gif bg do the trick
	***************************************************************************************/
	
	.container-week,
	.container-infos {
		
		//page-break-after: always;
		
		position: relative;
		
				
		.border-top {
			position: relative;
		}
		
		.border-right {
			position: relative;
		}
		

		.border-right:after {
			@include border-right;
		}
		
		.border-top:after {
			@include border-top;
		}
		
		
	}
		
	
	
	
	/*********************************
		main container (A4 sheet)	
	**********************************/
	.container {

		width: 286mm;
		height: 196mm;
		margin: 0 5mm 5mm 5mm;
		
		page-break-before: avoid;
		page-break-inside: avoid;
		page-break-after: avoid;
		
			
		.weeklymenu-table-top {
			
			font-size: 20px;
			height: 60px;
			margin-top: 15px;		
			
			div {
				display:inline-block;
			}
			
			.date-week {
				width: 460px;
				line-height:1.85;
			}
			
			.header-text {
				width: 559px;
				td {
					span {
						font-size: 11px;
						display: block;
					}
					font-size: 8px;
				}
			}
			
			.logo {
				width: 50px;
				text-align: right;
				position: relative;
				img {
					width: 100%;
					height: auto;	
					position: absolute;
					top: -15px;
					left: 0px;
				}
			}
			
		}
		
		/**************************
			main data table 
		***************************/
		.weeklymenu {
			
			overflow:hidden;
			
			width: 100%;
			margin:0;
			padding:0;
			font-size: 9px;
			border: $border;
			
			/* column widths */
			.col-1st {
				width: 9.5em;
			}
			
			/* header */
			.col-header-date {
				width: 13.6em;
			}
			
			.col-header-price {
				width: 3em;
			}
			
			.col-header-fp {
				width: 2em;
			}
						
			/* content table */
			.col-description {
				width: 15.7em;
			}
			
			.col-price {
				width: 3.6em;
			}
			
			.col-fp {
				width: 1em;
			}
			
	
			/* column widths for info */
			&.weeklymenu-dishinfo {
				
				.col-header-date {
					width: 9.9em;
				}
				
				.col-header-kcal {
					width: 2em;
				}
				
				.col-header-fp {
					width: 2em;
				}
				
				.col-header-kh {
					width: 2em;
				}
				
				.col-header-ew {
					width: 2em;
				}
			
				.col-kcal {
					width: 2.3em;
				}
				
				.col-kh {
					width: 2.3em;
				}
				
				.col-fp {
					width: 2.3em;
				}
				
				.col-ew {
					width: 2.3em;
				}
				
				.col-description {
					width: 11.9em;
				}

			}
			
			
					
			/* header */
			.weeklymenu-header {
				
				height:20px;
				
				div {
					display: inline-block;
					padding: 3px 0 3px 1px;
					font-size: 10px;
				}
								
				div:first-child {
					border-left: none;
				}
				div:last-child {
					border-right: none;
				}
				
				ul {
					li {
						display: inline-block;
						padding: 3px 0 3px 1px;
						font-size: 10px;
					}		
				}		
			}
			
			
			.weeklymenu-wrap {
			

				.row {
					display: block;
				}
					
				.foodcategory {
					
					width: 96px;
					position: absolute;
					top:0;
					bottom: 0;
					
					span {
						font-family: $title-font;
						font-size: 20px;
						color: #fff;
						vertical-align: top;
						box-sizing: border-box;
						padding-left: 3px;
						padding-bottom: 25px;
					}
										
					&.foodcategory-blank {
						background:  #fff; 
						span {
							color: #000;
						}
					}
				}
				
				.dish {
					
					display: inline-block;
					width: 21.6em;
					height: auto;
					
					&.first-dish {
						margin-left: 95px;
						
						.dishContainer {
							.dishDescriptionInner {
								padding-top: 0;
							}
						}
					}
										
					div {
						display:inline-block;
						padding: 0;
					}
	
					.dishContainer {

						box-sizing: border-box;
						display: block;
						line-height: 1;
						position: relative;
						
						.dishDescriptionInner {
							padding-left: 4px;
						}
	
						.dishDescription,
						.dishPrice,
						.dishFP {
							padding: 0px;
						}
											
						.dishDescription {
							height: 35px;
							padding-bottom:2px;
							span {
								display: block;
							}
						}
						
						.dishPrice {
							position: relative;
							.dishPriceSmallInner {
								font-size: 8px;
							}
						}

					}
										
				}
					
				.dish:last-child {
					border-right: none;
				}
				
				// fixed height for empty cells
				.empty-cell {
					height: 35px;
				}
					

				/*
					content elements
				*/
				.additives {
					display:block;
					font-size:8px;
					margin-bottom: -2px;
				}
				
				.dishLabels {		
											
					margin: 0;			
					padding: 0;	
				
					.dishLabel {
						list-style-type: none;
						display: inline-block;
						width: 9px;
						height: 9px;
						line-height: 0;
					}
				
					.dishLabelIcon { 
						font-size: 10px;
						line-height: 0;
						padding-bottom: 2px;
					}
					
				}
				
			}
			
		}	
		
		.footnote { 
					
			position: absolute;
			bottom: 10px;
			left: 0px;
			width: 286mm;
			
			.footnote-inner {
				padding: 0px;
				box-sizing: border-box;
				font-size: 9px;
				line-height: 0.9;
				
				p {
					margin: 0;
				}
			}
		}
	}

}