@import "partials/print";

/*-------------------------------------------------------------------
  PRINT TEMPLATE CLASSES
-------------------------------------------------------------------*/
.Print_DailyMenu_DinA7 {
	
	background: url('/themes/roche-mannheim/images/print-category-dina7-bg-793x1122.jpg') center center no-repeat;
	
	#container {
		
		width: 210mm;
		margin: 0;
		padding: 0;

		.foodcategory-wrap {

			height: 74.25mm;
			margin: 0;
			padding: 0;

			/* 50% of DIN A4 landscape page */
			article {
				
				//width: 396px;
				//height: 280px;
				width: 105mm;
				height: 74.25mm;
				display: inline-block;
				position: relative;
				margin: 0;
				
				li {
					list-style-type: none;	
				}
			
				.dishes {
					
					margin:0;
					height:auto;
					
					.dish:first-child {
						margin-top:20px;
					}
					
					/* decrease font size by amount of dishes */
					/* 2 dishes */
					.dishcount-2 {
						.dishContainer {
						  	margin-bottom: 10px;
						  	.dishDescription {
								font-size: 27px;
							}
					  	}
					}

					/* 3 dishes */
					.dishcount-3 {
						.dishContainer {
							margin-bottom: 2px;
							.dishDescription {
								font-size: 22px;
							}
						}
					}
	
					.dishContainer {
						
						margin-bottom: 15px;
						margin-left: 20px;
						
						.dishDescription {
							font-size: 29px;
							width: 270px;
							display: inline-block;
							line-height: 0.85;
							margin-top:10px;
							
							.additives {
								font-size: 13px;
								display: block;
							}
						}
					
						.dishInfoRight {
							display: inline-block;
							text-align: right;
							width: 100px;
							position: relative;
							
							.dishPrice {
								
								position: absolute;
								top: 8px;
								right: 20px;
								font-size: 22px !important;
							}
							
							.dishLabels {
								
								position: absolute;
								top: 28px;
								right: 20px; 
								.dishLabel {
									display: inline-block;
									width:14px;
									height:14px;
								}
								.dishLabelTitle { display: none; }
								.dishLabelIcon { 
									font-size: 14px;
									display: inline-block;
									width:14px;
									height:14px;
								}
							}
							
							
						}
						
					}

				}
				
				.footer { 
					
					position: absolute;
					top: 220px;
					left: 20px;
					width: 340px;
					margin:0;
					padding:0;
						
					td {
						height:50px;
						padding: 0;
						font-size: 8px;
						line-height: 0.9;	
						
						p {
							margin: 0;
						}
					}
						
					/*
					.footnote-inner {
						
						height:50px;
						padding: 0px;
						font-size: 8px;
						line-height: 0.9;
						
						p {
							margin: 0;
						}
					}*/
				}

				.nutrition-container,
				.dish-nutrition-container {
					display: none;
				}
				
			}

			
		}
		
		.foodcategory-wrap:nth-child(4n) {
			page-break-after: always;
		}
		
	}	
		
}