@charset "UTF-8";

/* color coding for Dishes Grid Field */
.dish-type-block {
	width: 0;
	height: 20px;
	border-left: 5px solid transparent;
}

/* color of Silverstripe .message.good */
.dish-type-block.dish-type-restaurant {
	border-left-color: #72c34b;
}

/* color of Silverstripe .message.error */
.dish-type-block.dish-type-subsite {
	border-left-color: #e68288;
}

.message.dish-type-restaurant {
	background-color: #eaf6e4;
	border-color: #72c34b;
}

.message.dish-type-subsite {
	background-color: #fae8e9;
	border-color: #e68288;
}