@import "compass";

/*------------------------------------------------------------------------------
  FONTS
------------------------------------------------------------------------------*/
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?53450176");
  src: url("fonts/icons.eot?53450176#iefix") format('embedded-opentype'), url("fonts/icons.woff?53450176") format('woff'), url("fonts/icons.ttf?53450176") format('truetype'), url("fonts/icons.svg?53450176#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icon-dishlabels';
	src:url('fonts/icon-dishlabels.eot?v=3');
	src:url('fonts/icon-dishlabels.eot?v=3#iefix') format('embedded-opentype'),
		url('fonts/icon-dishlabels.ttf?v=3') format('truetype'),
		url('fonts/icon-dishlabels.woff?v=3') format('woff'),
		url('fonts/icon-dishlabels.svg?v=3#icon-dishlabels') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* fontshop.de Webfont licence for up to 500.000 page views / month */
@font-face {
  font-family: 'din-medium';
  src: url("fonts/DINWeb-Medium.eot?53450175");
  src: url("fonts/DINWeb-Medium.eot?53450175#iefix") format('embedded-opentype'), url("fonts/DINWeb-Medium.woff?53450175") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-light';
  src: url("fonts/DINWeb-Light.eot?53450175");
  src: url("fonts/DINWeb-Light.eot?53450175#iefix") format('embedded-opentype'), url("fonts/DINWeb-Light.woff?53450175") format('woff');
  font-weight: normal;
  font-style: normal;
}

/*-------------------------------------------------------------------
  MIXINS
-------------------------------------------------------------------*/
@mixin pseudo-block($width: auto, $height: auto, $content: " ") {
	display: block;
	position: absolute;
	content: $content;
	width: $width;
	height: $height;
}

/* font smoothing */
@mixin font-smoothing($value: on) {
    @if $value == 'on' {
        -webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
	}
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-ms-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
	}
}

/* rem fontsize with pixel fallback */
@mixin font-size($val) {
    font-size: ($val * 20) + px;
    font-size: $val + rem;
}


/*------------------------------------------------------------------------------
  ICONS
------------------------------------------------------------------------------*/
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?53450175#icons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-food:before { content: '\21'; } /* '!' */
.icon-box:before { content: '\e800'; } /* 'Ó†Ä' */
.icon-search:before { content: '\e801'; } /* 'Ó†Å' */
.icon-left-open-mini:before { content: '\e802'; } /* 'Ó†Ç' */
.icon-right-open-mini:before { content: '\e803'; } /* 'Ó†É' */
.icon-up-open-mini:before { content: '\e804'; } /* 'Ó†Ñ' */
.icon-down-open-big:before { content: '\e805'; } /* 'Ó†Ö' */
.icon-left-open-big:before { content: '\e806'; } /* 'Ó†Ü' */
.icon-right-open-big:before { content: '\e807'; } /* 'Ó†á' */
.icon-up-open-big:before { content: '\e808'; } /* 'Ó†à' */
.icon-pencil:before { content: '\e809'; } /* 'Ó†â' */
.icon-home:before { content: '\e80a'; } /* 'Ó†ä' */
.icon-info-circled:before { content: '\e80b'; } /* 'Ó†ã' */
.icon-star:before { content: '\e80c'; } /* 'Ó†å' */
.icon-star-empty:before { content: '\e80d'; } /* 'Ó†ç' */
.icon-book-open:before { content: '\e80e'; } /* 'Ó†é' */
.icon-camera:before { content: '\e80f'; } /* 'Ó†è' */
.icon-picture:before { content: '\e810'; } /* 'Ó†ê' */
.icon-layout:before { content: '\e811'; } /* 'Ó†ë' */
.icon-menu:before { content: '\e812'; } /* 'Ó†í' */
.icon-check:before { content: '\e813'; } /* 'Ó†ì' */
.icon-cancel:before { content: '\e814'; } /* 'Ó†î' */
.icon-plus:before { content: '\e815'; } /* 'Ó†ï' */
.icon-minus:before { content: '\e816'; } /* 'Ó†ñ' */
.icon-help:before { content: '\e817'; } /* 'Ó†ó' */
.icon-link:before { content: '\e818'; } /* 'Ó†ò' */
.icon-export:before { content: '\e819'; } /* 'Ó†ô' */
.icon-print:before { content: '\e81a'; } /* 'Ó†ö' */
.icon-comment:before { content: '\e81b'; } /* 'Ó†õ' */
.icon-chat:before { content: '\e81c'; } /* 'Ó†ú' */
.icon-bell:before { content: '\e81d'; } /* 'Ó†ù' */
.icon-location:before { content: '\e81e'; } /* 'Ó†û' */
.icon-direction:before { content: '\e81f'; } /* 'Ó†ü' */
.icon-compass:before { content: '\e820'; } /* 'Ó††' */
.icon-doc:before { content: '\e821'; } /* 'Ó†°' */
.icon-phone:before { content: '\e822'; } /* 'Ó†¢' */
.icon-cog:before { content: '\e823'; } /* 'Ó†£' */
.icon-tools:before { content: '\e824'; } /* 'Ó†§' */
.icon-share:before { content: '\e825'; } /* 'Ó†•' */
.icon-calendar:before { content: '\e826'; } /* 'Ó†¶' */
.icon-mic:before { content: '\e827'; } /* 'Ó†ß' */
.icon-clock:before { content: '\e828'; } /* 'Ó†®' */
.icon-doc-landscape:before { content: '\e829'; } /* 'Ó†©' */
.icon-ccw:before { content: '\e82a'; } /* 'Ó†™' */
.icon-arrows-ccw:before { content: '\e82b'; } /* 'Ó†´' */
.icon-target:before { content: '\e82c'; } /* 'Ó†¨' */
.icon-bulletlist:before { content: '\e82d'; } /* 'Ó†≠' */
.icon-monitor:before { content: '\e82e'; } /* 'Ó†Æ' */
.icon-mobile:before { content: '\e82f'; } /* 'Ó†Ø' */
.icon-chart-line:before { content: '\e830'; } /* 'Ó†∞' */
.icon-chart-pie:before { content: '\e831'; } /* 'Ó†±' */
.icon-chart-bar:before { content: '\e832'; } /* 'Ó†≤' */
.icon-megaphone:before { content: '\e833'; } /* 'Ó†≥' */
.icon-database:before { content: '\e834'; } /* 'Ó†¥' */
.icon-flow-tree:before { content: '\e835'; } /* 'Ó†µ' */
.icon-basket:before { content: '\e836'; } /* 'Ó†∂' */
.icon-attach:before { content: '\e837'; } /* 'Ó†∑' */
.icon-eye:before { content: '\e838'; } /* 'Ó†∏' */
.icon-lock-open:before { content: '\e839'; } /* 'Ó†π' */
.icon-lock:before { content: '\e83a'; } /* 'Ó†∫' */
.icon-dot-3:before { content: '\e83b'; } /* 'Ó†ª' */
.icon-globe:before { content: '\e83c'; } /* 'Ó†º' */
.icon-user:before { content: '\e83d'; } /* 'Ó†Ω' */
.icon-users:before { content: '\e83e'; } /* 'Ó†æ' */
.icon-back:before { content: '\e83f'; } /* 'Ó†ø' */
.icon-bookmark:before { content: '\e840'; } /* 'Ó°Ä' */
.icon-block:before { content: '\e841'; } /* 'Ó°Å' */
.icon-info:before { content: '\e842'; } /* 'Ó°Ç' */
.icon-flag:before { content: '\e843'; } /* 'Ó°É' */
.icon-attention:before { content: '\e844'; } /* 'Ó°Ñ' */
.icon-help-circled:before { content: '\e845'; } /* 'Ó°Ö' */
.icon-kochtopf:before { content: '\e846'; } /* 'Ó°Ü' */

/*------------------------------------------------------------------------------
  ICONS DISHLABELS
------------------------------------------------------------------------------*/
[class*="dishlabel-icon"] {
	font-family: 'icon-dishlabels';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	@include font-smoothing(on);
}

[class*="dishlabel-icon"]:before {
	display: block;
	width: 1em;
	height: 1em;
}

/* laktosefrei */
.dishlabel-icon-6c:before {
	content: "\6c";
}

/* vegetarisch */
.dishlabel-icon-76:before {
	content: "\76";
}
/* vegan */
.dishlabel-icon-56:before {
	content: "\56";
}
/* tagesmenue */
.dishlabel-icon-74:before {
	content: "\74";
	position: relative;
	z-index: 2;
}
.dishlabel-icon-74 {
	position: relative;
}
.dishlabel-icon-74:after {
	content: " ";
	display: block;
	width: 0.7em;
	height: 0.7em;
	position: absolute;
	top: 0.15em;
	left: 0.15em;
	background-color: #fff;
	z-index: 1;
}
/* schwein */
.dishlabel-icon-73:before {
	content: "\73";
}
/* rind */
.dishlabel-icon-72:before {
	content: "\72";
}
/* fisch */
.dishlabel-icon-66:before {
	content: "\66";
}
/* huhn */
.dishlabel-icon-68:before {
	content: "\68";
}
/* chili */
.dishlabel-icon-63:before {
	content: "\63";
}
/* zwiebel */
.dishlabel-icon-7a:before {
	content: "\7a";
}
/* knoblauch */
.dishlabel-icon-6b:before {
	content: "\6b";
}

/*-------------------------------------------------------------------
  COLORS
-------------------------------------------------------------------*/
$black:					#000;
$white:					#fff;

/* MARKET COLORS */
$light-grey:			#d9dada;
$mid-grey:				#868686;
$mid-grey-2:			#555;
$dark-grey:				#404040;
$light-green:			#9cc42b;
$dark-green:			#009f4c;
$blue:					#00a2e2;
$orange:				#ee7311;
$red:					#c00303;
$pink:					#e72e4b;
$rose:					#eb8ab8;


$body-background-color: $dark-grey;
$text-color: #ccc;
$heading-color: $white;

$link-color: #00a2e2;

$message-background-color: #FFFFE0;
$message-border-color: #E6DB55;
$message-color: #CC9F3B;

$error-background-color: #FFE6E6;
$error-border-color: #F27070;
$error-color: #DD6666;

$success-background-color: #EFF8E6;
$success-border-color: #D6EEBD;
$success-color: #89A270;


/*-------------------------------------------------------------------
  COLORS WEB APP
-------------------------------------------------------------------*/
/* HEADER */
$header-background-color: $black;
$header-text-color: $white;

/* VIEW */
$view-background-color: #404040;

/* PAGE */
$page-inner-background-color: $white;
$page-inner-text-color: #565656;

/* FOOTER */
$footer-background-color: $black;
$footer-text-color: $white;

/*-------------------------------------------------------------------
  TYPOGRAPHY
-------------------------------------------------------------------*/
$text-font: 'din-medium', Helvetica, Arial, sans-serif;
$text-font-size: 15px;
$text-line-height: 1.4;
$text-margin-top: 20px;

$text-light-font: 'din-light', Helvetica, Arial, sans-serif;
$text-light-font-size: 15px;
$text-light-line-height: 1.4;
$text-light-margin-top: 20px;

$heading-font: 'din-medium', Helvetica, Arial, sans-serif;
$heading-line-height: 1;


/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU
-------------------------------------------------------------------*/
$screen-daily-menu-width: 1080px;
$screen-daily-menu-height: 1919px;

$screen-daily-menu-margin-left: 100px;

$screen-daily-menu-title-font-size: 60px;
$screen-daily-menu-title-line-height: 1;

$screen-daily-menu-dish-font-size: 35px;
$screen-daily-menu-dish-line-height: 1.125;
$screen-daily-menu-dish-margin-top: 30px;
$screen-daily-menu-dish-en-us-font-size: 30px;
$screen-daily-menu-dish-en-us-margin-top: .2em;

$screen-daily-menu-price-font-size: 40px;

$screen-daily-menu-dish-label-font-size: 30px;

$screen-daily-menu-categories-margin-top: 10px;

$screen-daily-menu-category-container-padding-top: 30px;
$screen-daily-menu-category-container-padding-right: 50px;

$screen-daily-menu-footnote-font-size: 11px;


/*-------------------------------------------------------------------
  VARS SCREEN DAILY MENU PHOTO LANDSCAPE
-------------------------------------------------------------------*/
$screen-daily-menu-photo-landscape-width: 1920px;
$screen-daily-menu-photo-landscape-height: 1079px;

$screen-daily-menu-photo-landscape-margin-left: 70px;
$screen-daily-menu-photo-landscape-margin-bottom: 50px;

$screen-daily-menu-photo-landscape-side-content-width: 500px;

$screen-daily-menu-photo-landscape-title-font-size: 54px;

$screen-daily-menu-photo-landscape-dish-font-size: 31px;

$screen-daily-menu-photo-landscape-category-container-padding-top: 20px;

$screen-daily-menu-photo-landscape-footnote-font-size: 12px;


/*-------------------------------------------------------------------
  VARS SCREEN WEEKLY MENU TABLE LANDSCAPE
-------------------------------------------------------------------*/
$screen-weekly-menu-table-landscape-margin-left: 140px;
$screen-weekly-menu-table-landscape-margin-right: 85px;
$screen-weekly-menu-table-landscape-margin-bottom: 125px;

$screen-weekly-menu-table-landscape-table-padding: 8px;
$screen-weekly-menu-table-landscape-table-font-size: 15px;
$screen-weekly-menu-table-landscape-table-header-font-size: 17px;
$screen-weekly-menu-table-landscape-table-footer-font-size: 10px;

$screen-weekly-menu-table-landscape-footer-slide-duration: 10s; /* duration per slide incl. transition between slides */


/*-------------------------------------------------------------------
  VARS MOBILE WEEKLY MENU
-------------------------------------------------------------------*/
$startup-image-path: '../images/startup-images/';

$mobile-weekly-menu-foodcategory-font-size: 20px;

$mobile-weekly-menu-dish-font-size: 14px;
$mobile-weekly-menu-dish-line-height: 1.2;

$mobile-weekly-menu-price-font-size: 15px;
$mobile-weekly-menu-price-small-font-size: 12px;

$mobile-weekly-menu-dish-label-font-size: 17px;



/*-------------------------------------------------------------------
  MEDIA QUERIES
-------------------------------------------------------------------*/
$break-large: 960px; /* min-width for large display styles */

/*-------------------------------------------------------------------
  TRANSITIONS
-------------------------------------------------------------------*/
$default-transition-duration: 0.3s;

