
// BOX MODEL MARGINS
.bx-mart-0 {
	margin-top: 0 !important;
}
.bx-marr-0 {
	margin-right: 0 !important;
}
.bx-marb-0 {
	margin-bottom: 0 !important;
}
.bx-marl-0 {
	margin-left: 0 !important;
}

.bx-mart-xs {
	margin-top: $box-margin-xs !important;
}
.bx-marr-xs {
	margin-right: $box-margin-xs !important;
}
.bx-marb-xs {
	margin-bottom: $box-margin-xs !important;
}
.bx-marl-xs {
	margin-left: $box-margin-xs !important;
}

.bx-mart-s {
	margin-top: $box-margin-s !important;
}
.bx-marr-s {
	margin-right: $box-margin-s !important;
}
.bx-marb-s {
	margin-bottom: $box-margin-s !important;
}
.bx-marl-s {
	margin-left: $box-margin-s !important;
}

.bx-mart-m {
	margin-top: $box-margin-m !important;
}
.bx-marr-m {
	margin-right: $box-margin-m !important;
}
.bx-marb-m {
	margin-bottom: $box-margin-m !important;
}
.bx-marl-m {
	margin-left: $box-margin-m !important;
}

.bx-mart-l {
	margin-top: $box-margin-l !important;
}
.bx-marr-l {
	margin-right: $box-margin-l !important;
}
.bx-marb-l {
	margin-bottom: $box-margin-l !important;
}
.bx-marl-l {
	margin-left: $box-margin-l !important;
}


// BOX MODEL PADDINGS
.bx-padt-0 {
	padding-top: 0 !important;
}
.bx-padr-0 {
	padding-right: 0 !important;
}
.bx-padb-0 {
	padding-bottom: 0 !important;
}
.bx-padl-0 {
	padding-left: 0 !important;
}

.bx-padt-xs {
	padding-top: $box-padding-xs !important;
}
.bx-padr-xs {
	padding-right: $box-padding-xs !important;
}
.bx-padb-xs {
	padding-bottom: $box-padding-xs !important;
}
.bx-padl-xs {
	padding-left: $box-padding-xs !important;
}

.bx-padt-s {
	padding-top: $box-padding-s !important;
}
.bx-padr-s {
	padding-right: $box-padding-s !important;
}
.bx-padb-s {
	padding-bottom: $box-padding-s !important;
}
.bx-padl-s {
	padding-left: $box-padding-s !important;
}

.bx-padt-m {
	padding-top: $box-padding-m !important;
}
.bx-padr-m {
	padding-right: $box-padding-m !important;
}
.bx-padb-m {
	padding-bottom: $box-padding-m !important;
}
.bx-padl-m {
	padding-left: $box-padding-m !important;
}

.bx-padt-l {
	padding-top: $box-padding-l !important;
}
.bx-padr-l {
	padding-right: $box-padding-l !important;
}
.bx-padb-l {
	padding-bottom: $box-padding-l !important;
}
.bx-padl-l {
	padding-left: $box-padding-l !important;
}


