/*****************************************
* variables 
*****************************************/
$white: #ffffff;
$black: #000000;
				
$grey-light-1:#f6f6f6;
$grey-light-2:#cdcdcd;
$grey-mid: #4b4b4b;
$grey-dark: #303030;


$green: #7aad01;
$green-hover: #527400;
$green-apple: #9cc42b;

$infocolor: #0050b9;
$errorcolor: #e01916;
$successcolor: #4cae00;

$border-color: #a0a0a0;

$default-padding: 15px;

$content-max-width: 1140px;
$breakpoint: $content-max-width+30; // content width+padding = width before break

$box-margin-l: 50px;
$box-margin-m: 30px;
$box-margin-s: 20px;
$box-margin-xs: 10px;

$box-padding-l: 50px;
$box-padding-m: 30px;
$box-padding-s: 20px;
$box-padding-xs: 10px;

$text-font: 'din-light', Helvetica, Arial, sans-serif;
$headline-font: 'din-medium', Helvetica, Arial, sans-serif;