h1 {
	font-size: 36px; 
	//margin-top: 50px;
    margin-bottom: 45px;
}

h2 {
	font-size: 32px; 
	//margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
	font-size: 28px; 
	//margin-top: 30px;
    margin-bottom: 30px;
}

h4 {
	font-size: 24px;
	//margin-top: 20px;
    margin-bottom: 20px;
}

h5 {
	font-size:18px; 
	//margin-top: 15px;
    margin-bottom: 15px;
}

h6 {
	font-size: 14px;
	//margin-top: 10px;
    margin-bottom: 10px;
}


h1,h2,h3,h4,h5,h6,
.strong,
.bold,
.sup,
strong,
b {	
	font-weight: normal;
	font-family: $headline-font;
}

h1,h2,h3,h4,h5,h6 {
	.light {
		font-weight: normal;
		font-family: $text-font;
	}
}

p {
	margin: 0 0 25px 0;
	font-family: $text-font;
	font-weight: 300;
	line-height: 1.5;
}

ul,
ol {
	line-height: 1.5;
	padding-left: 1.5em;
	margin-top: 15px;
	list-style-position: outside;
	li {
		margin-top: 15px;
	}
}


ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

i, em {
	font-style: italic;
}