/**
 * @license
 * MyFonts Webfont Build ID 3064900, 2015-07-27T06:32:20-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FuturaBT-Medium by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/futura/medium/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3064900
 * 
 * © 2015 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2ec444");

  
@font-face {font-family: 'FuturaBT-Medium';src: url('webfonts/2EC444_0_0.eot');src: url('webfonts/2EC444_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2EC444_0_0.woff2') format('woff2'),url('webfonts/2EC444_0_0.woff') format('woff'),url('webfonts/2EC444_0_0.ttf') format('truetype'),url('webfonts/2EC444_0_0.svg#wf') format('svg');}
 