.FoodCategoryIconWrap {
	left:10px !important;
	top:50% !important;
	margin-top: -20px !important;
}


@media print {
	.ui-accordion-content .FoodCategoryContainer {
		page-break-inside: auto !important;
		display: block !important;
	}
}
