@import url("//hello.myfonts.net/count/2ec444");
/*------------------------------------------------------------------------------
  FONTS
------------------------------------------------------------------------------*/

/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'FuturaBT-Medium';
  src: url("fonts/2EC444_0_0.eot");
  src: url("fonts/2EC444_0_0.eot?#iefix") format("embedded-opentype"), 
  		url("fonts/2EC444_0_0.woff2") format("woff2"), 
  		url("fonts/2EC444_0_0.woff") format("woff"), url("fonts/2EC444_0_0.ttf") format("truetype"), url("fonts/2EC444_0_0.svg#wf") format("svg");
}

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?53450176");
  src: url("fonts/icons.eot?53450176#iefix") format("embedded-opentype"), url("fonts/icons.woff?53450176") format("woff"), url("fonts/icons.ttf?53450176") format("truetype"), url("fonts/icons.svg?53450176#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-dishlabels-outlines';
  src: url("fonts/icon-dishlabels-outlines.eot?-50pnm7");
  src: url("fonts/icon-dishlabels-outlines.eot?#iefix-50pnm7") format("embedded-opentype"), url("fonts/icon-dishlabels-outlines.ttf?-50pnm7") format("truetype"), url("fonts/icon-dishlabels-outlines.woff?-50pnm7") format("woff"), url("fonts/icon-dishlabels-outlines.svg?-50pnm7#icon-dishlabels-outlines") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icon-foodcategory-outlines';
  src: url("fonts/icon-foodcategory-outlines.eot?-ck7ge5");
  src: url("fonts/icon-foodcategory-outlines.eot?#iefix-ck7ge5") format("embedded-opentype"), url("fonts/icon-foodcategory-outlines.ttf?-ck7ge5") format("truetype"), url("fonts/icon-foodcategory-outlines.woff?-ck7ge5") format("woff"), url("fonts/icon-foodcategory-outlines.svg?-ck7ge5#icon-foodcategory-outlines") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesans';
  src: url("fonts/sourcesanspro-regular-webfont.eot");
  src: url("fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-regular-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-regular-webfont.woff") format("woff"), url("fonts/sourcesanspro-regular-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourcesans-light';
  src: url("fonts/sourcesanspro-light-webfont.eot");
  src: url("fonts/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/sourcesanspro-light-webfont.woff2") format("woff2"), url("fonts/sourcesanspro-light-webfont.woff") format("woff"), url("fonts/sourcesanspro-light-webfont.ttf") format("truetype"), url("fonts/sourcesanspro-light-webfont.svg#source_sans_prolight") format("svg");
  font-weight: normal;
  font-style: normal;
}





/*------------------------------------------------------------------------------
  ICONS DISHLABELS
------------------------------------------------------------------------------*/
[class*="dishlabel-icon"] {
  font-family: 'icon-dishlabels-outlines';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="dishlabel-icon"]:before {
  display: block;
  width: 1em;
  height: 1em;
}

/* schwein */
.dishlabel-icon-21:before {
	content: "\21";
}

/* rind */
.dishlabel-icon-22:before {
	content: "\22";
}

/* geflügel */
.dishlabel-icon-23:before {
	content: "\23";
}

/* fisch */
.dishlabel-icon-24:before {
	content: "\24";
}

/* lamm */
.dishlabel-icon-25:before {
	content: "\25";
}

/* wild */
.dishlabel-icon-26:before {
	content: "\26";
}

/* vegetarisch */
.dishlabel-icon-27:before {
	content: "\27";
}

/* vegan */
.dishlabel-icon-28:before {
	content: "\28";
}

/* knoblauch */
.dishlabel-icon-29:before {
	content: "\29";
}
	
/* msc */
.dishlabel-icon-30:before {
	content: "\30";
}

/* cholesterinarm */
.dishlabel-icon-31:before {
	content: "\31";
}

/* fettarm */
.dishlabel-icon-32:before {
	content: "\32";
}

/* salzarm */
.dishlabel-icon-33:before {
	content: "\33";
}

/* food-balance */
.dishlabel-icon-34:before {
	content: "\34";
}

/* co2 */
.dishlabel-icon-35:before {
	content: "\35";
}

/* laktosefrei */
.dishlabel-icon-2a:before {
	content: "\2a";
}

/* regionales produkt */
.dishlabel-icon-2b:before {
	content: "\2b";
}

/* glutenfrei */
.dishlabel-icon-2c:before {
	content: "\2c";
}

/* fit */
.dishlabel-icon-2d:before {
	content: "\2d";
}

/* bio */
.dishlabel-icon-2e:before {
	content: "\2e";
}

/* asc */
.dishlabel-icon-2f:before {
	content: "\2f";
}

/* tagesgericht */
.dishlabel-icon-e600:before {
	content: "\e600";
}



/*------------------------------------------------------------------------------
  ICONS FOOD CATEGORY
------------------------------------------------------------------------------*/
[class*="foodcategory-icon"] {
	font-family: 'icon-foodcategory-outlines';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="foodcategory-icon"]:before {
	display: block;
	width: 1em;
	height: 1em;
}



/* backwaren */
.foodcategory-icon-e600:before {
	content: "\e600";
}

/* beilagen */
.foodcategory-icon-e601:before {
	content: "\e601";
}

/* fruehstueck */
.foodcategory-icon-e602:before {
	content: "\e602";
}

/* getraenke */
.foodcategory-icon-e603:before {
	content: "\e603";
}

/* grill */
.foodcategory-icon-e604:before {
	content: "\e604";
}

/* heimat */
.foodcategory-icon-e605:before {
	content: "\e605";
}

/* kuechenkino */
.foodcategory-icon-e606:before {
	content: "\e606";
}

/* leckerbissen */
.foodcategory-icon-e607:before {
	content: "\e607";
}

/* loeffelbar */
.foodcategory-icon-e608:before {
	content: "\e608";
}

/* molkereirodukte */
.foodcategory-icon-e609:before {
	content: "\e609";
}

/* weltweit */
.foodcategory-icon-e610:before {
	content: "\e610";
}

/*  ofenfrisch */
.foodcategory-icon-e611:before {
	content: "\e611";
}

/*  regional */
.foodcategory-icon-e612:before {
	content: "\e612";
}

/* obst */
.foodcategory-icon-e60a:before {
	content: "\e60a";
}

/* salat */
.foodcategory-icon-e60b:before {
	content: "\e60b";
}

/* snacks */
.foodcategory-icon-e60c:before {
	content: "\e60c";
}

/* suesses */
.foodcategory-icon-e60d:before {
	content: "\e60d";
}

/* vital */
.foodcategory-icon-e60e:before {
	content: "\e60e";
}

/* vorspeise */
.foodcategory-icon-e60f:before {
	content: "\e60f";
}


/* tagesangebot */
.foodcategory-icon-61:before {
    content: "\61";
}


/*------------------------------------------------------------------------------
	DEFAULTS
------------------------------------------------------------------------------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

h1, h2, h3, h4, h5, h6, p, ol,  ul, dl, th, td, label, textarea {
  font-family: "sourcesans", sans-serif;	
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "sourcesans", sans-serif;
  margin: 0;
  line-height: 1;
}

li {
	list-style-type: none;
}

p, ol, ul, dl, form {
  margin:0;
  line-height: 1.125;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

a,a:visited, a:active, a:focus {
	text-decoration: none;
	outline: none;
	color:#000;
}


/*------------------------------------------------------------------------------
	MAIN LAYOUT
------------------------------------------------------------------------------*/

/* typo */
.dishDescriptionInner,
.dishDescriptionEnUS, 
.dishInfoRight,
.dishPrice,
.dishPriceInner, 
.dishLabelTitle, 
.footnote, 
.footnote p, 
.footnote-inner, 
.footnote-inner p {
    font-family: "sourcesans", sans-serif;
}

body {
	margin:20px;
	padding: 0;
	background: #fff;
	color: #000;
}

body.hide-nutritives .nutritives {
	display:none;
}

body.hide-nutritives .dishDescription {
	max-width: 100%;
}

body.hide-nutritives .sideDishDescriptionHeader {
	display: block;
}


.container {
	min-width: 746px;
	width: 100%;
	min-height: 910px;
	height:100%;
	margin: 0px auto;
	background: #fff;
	padding: 0px;
}

.container {
    color: #000;
    position: relative;
}


/* header */
.title-container {
	position: relative;
}

.title-container h1,
.title-container h2,
.title-container a {
	font-family: "sourcesans-light",sans-serif;
	padding:10px 0 10px 20px;
}

.title-container h1 {
	font-size: 18px;
	padding:10px 0 0 0;
	margin-bottom: 5px;
}

.title-container span {
	font-family: "sourcesans",sans-serif;
}

.title-container h2 {
	font-size: 14px;
	padding:0px 0 0 0;
	color:#464646;
	margin-bottom: 30px;
}

.title-container h3 {
	font-family: "FuturaBT-Medium",sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	padding:10px 0 10px 20px;
	border-top: 1px solid #000;
}

.title-container a {
	padding:10px 15px;
	background:#eceded;
	font-family: "sourcesans",sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color:#4b4b4d;
	position: absolute;
	top:10px;	
}

.title-container a:hover {
	background:#d7d7d7;
	transition: background 0.3s linear;
}

.title-container .toggle-nutritives {
	position: absolute;
	right: 90px;
	top:15px;
	font-size: 12px;
}

.title-container .toggle-nutritives input,
.title-container .toggle-nutritives span:hover {
	cursor: pointer;
}

.title-container .toggle-nutritives span:hover {
	color: #666;
}

.title-container a.btn-print {
	/* right:150px;*/
	right:0;
}

.title-container a.btn-hide-nutritives {
	right:0px;
	width: 112px;
	text-align: left;
}



/* inner content, dishes etc */
.inner-article {
    width: 100%;
    height: 100%;
}

.content {
    overflow: hidden;
}

.content .accordion-header {
	background:#4b4b4d;
	padding:15px 25px 10px 25px !important;
	margin:0 !important;
	font-family: "FuturaBT-Medium",sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-align: left;	
	cursor: pointer;
	border-top: 1px solid #fff;
}

.content .accordion-header span {
	float:right;
	color:#fff;
	font-size: 16px;
	line-height: 0.9;
}

.content .accordion-header.ui-state-active span {
	display: none;
}

.content .accordion-header:hover {
	background:#666;
}

.content .accordion-header.ui-accordion-header-active {
	background:#fff;
	color:#000;
	border-top:1px solid #c2c2c2;
}

.categories {
    height: 100%;
    margin: 0px auto !important;
    padding: 0 !important;
}

.FoodCategoryContainer {
    padding: 0px !important;
    margin: 0px;
    float: left;
    width: 100%;
	min-height: 60px;
    box-shadow: 0px 1px 0px #c2c2c2 inset;
    position: relative;
    background-color: #FFF;
    overflow: hidden;
}

.FoodCategoryContainer:before {
  display: none;
}

.FoodCategoryLabel {
    float: left;
    height: 100%;
    width: 180px;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.FoodCategoryIconWrap {
	position: absolute;
	left: 55%;
	top: 50%;
	transform: translate(-50%, -40%);
	width: 100%;
}

.FoodCategoryIcon {
   font-size: 65px;
	color: #FFF;
	float: left;
	width: 60px;
	height: 50px;
	line-height: 40px;
}

.FoodCategoryIconWrap h3 {
    margin: 0;
	font-size: 12px;
	font-family: "FuturaBT-Medium",sans-serif;
	text-transform: uppercase;
	color: #FFF;
	float: left;
	padding: 15px 0 0 0;
}

.dishes > li {
	padding:0px;
}

.dishes > li .dishDescriptionContainer::before {
	display: block;
	content: " ";
	border-top: 1px solid #c2c2c2;
	margin-left: 180px;
}

.dishes > li:first-child .dishDescriptionContainer::before {
	display: none;
}

.dishDescriptionContainer,
.sideDishDescriptionContainer {
    padding: 0;
    float: left;
    margin: 0;
	width:100%;
    position: relative;
}

.dishDescription {
	margin-left:200px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	max-width: 40%;
}

.dishDescriptionInner {
    font-size: 18px;
    display: block;
	clear: both;
}

.dishDescriptionAdditionalText {
	display: block;
	font-family: sourcesans-light;
	font-size: 15px;
}

.nutritives {
	font-size: 10px;
	margin: 10px 10px 10px 0;
	float:right;
	opacity:1;
	transition:all 0.3s linear;
}

body.nutritives-hidden .nutritives {
	opacity: 0;
	width:0;
}

body.nutritives-hidden .dishDescription {
	max-width:100%;
	width: 70%;
	transition:width 0.3s linear;
}

.nutritives ul {
	width: 135px;
}

.nutritives ul li {
	line-height:1.25;
	margin: 2px 0 0 0;
}

.nutritives ul li label {
	float:left;
	width: 80px;
	height: 14px;
}

.dishInfoRight {
    float: right;
    width: 80px;
    text-align: right;
    padding:0;
    margin: 10px 35px 0 0;
}



.dishPriceInner {
    font-size:18px;
}

dishPrice span {
    display: block;
}

.additives {
    font-size: 11px;
    display:block;
    clear:both;
    text-align: left;
    margin: 3px 0 0 0;
    font-family: "sourcesans",sans-serif;
}

.specialLabel {
	display: inline-block;
    margin: 0px 0px 5px;
    padding: 4px;
    font-size: 11px;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    -moz-osx-font-smoothing: auto !important;
}


/* sideDishes */
.dishContainer .sideDishDescriptionContainer:last-child {
    margin-bottom: 8px;
}

.sideDishDescriptionHeader {
	float: left;
	margin-left: 200px;
	margin-bottom: -5px;
}

.sideDishDescriptionContainer {
    margin-bottom: -5px;	
}

.sideDishDescriptionContainer .dishInfoRight {
	margin: 10px 35px 0px 0px !important;
}

.sideDishDescription,
.sideDishDescriptionContainer .dishPriceInner {
	font-size: 15px;
}

.sideDishDescriptionContainer .dishPriceSmallInner {
	font-size: 13px;
	display: block;
}

.sideDishDescriptionContainer .dishLabelIcon {
	font-size: 20px !important;
	margin-top: -2px;
}


.sideDishContainer span {
    float: left;
    width: 100%;
    line-height: 1.1;
}

/* dish info right column, dish labels */
.dishLabels {
    width: 100%;
    margin-top: 0px;
}

.dishLabels li {
	float:right;
	display:inline-block;
}

.dishLabels li .dishLabelIcon {
    font-size: 24px;
    color: #000;
    display:block;
}

.dishInfoRight {
    text-align: right;
}

.dishInfoRight .dishLabelTitle {
    display: none;
}

.dishInfoRight .dishLabel .dishlabel-icon-e600,
.dishLabelIconDailyMenu {
	font-size: 30px;
	position: absolute;
	right: 3px;
	top: -1px;
}


/* repeating footer legend is only for print view */
.page-legend {
    display:none;
}
    


/* footer */
.footnote {
    height: 140px;
    margin: 20px 0 0 0;
}

.footnote-inner {
    margin-top: 0px;
}

.footnote .ui-tabs .ui-tabs-nav {
	padding:0;
}

.footnote p {
    padding-bottom: 2px;
    font-size: 11px;
    font-family: "sourcesans",sans-serif;
    letter-spacing: 0.05em;
}

.footnote p.note {
    padding: 15px 0 0 15px;
}

.footnote-bottom p.note {
    padding: 0 0 15px 0 !important;
}

.footnote .dishLabels {
    margin: 5px 0px -3px;
    width: 100%;
}

.footnote .dishLabels li.dishLabel {
    font-size: 11px;
    float:none;
	width: 16%;
	height: 20px;
	margin: 0px;
	padding: 0px;
	vertical-align: text-top;
}

.footnote .dishLabels li.dishLabel .dishLabelIcon {
    font-size: 20px;
    margin-right: 2px;
    color: #000;
}

 .footnote .dishLabels li.dishLabel .dishLabelTitle {
    font-family: "sourcesans",sans-serif;
    display: block;
	margin: -16px 15px 0 22px;
    font-size: 11px;
    letter-spacing: 0.04em;
}

/* tabs in footer */
.footnote-tabs {
	padding: 0 !important;
}

.tab-nav li {
	margin:0 !important;
}

.tab-nav a {
	font-family: "FuturaBT-Medium",sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	border-top: 1px solid #d1d2d3;
	border-right: none;
	border-bottom: 1px solid #d1d2d3;
	border-left: 1px solid #d1d2d3;
	background: #eceded;
	color:#4b4b4d;
	cursor: pointer;
}

.tab-nav li:last-child > a {
	border-right:1px solid #d1d2d3 !important;
}

.ui-tabs-panel {
	padding: 15px 0 0 15px !important;
}

.ui-tabs-active a {
	background: #fff !important;
	border-right:none;
	transition: background 0.3s linear 0s;
	border-bottom:1px solid #fff;
}

/*
* semi-responsive layout. 
* body initial width is 800px	
*/
@media(max-width:800px){
	.dishDescription {	
		min-width:230px;
		max-width: 270px;	
	}
}

@media(max-width:960px){
	.dishDescription {	
		min-width:230px;
		max-width: 270px;
	}
}

@media(min-width:1100px){
	.dishDescription {	
		max-width:55%;
	}
}


/*
*	print styles 
*/
@page {
	  size: A4;
	  margin: 50px;
	  padding: 0;
	  border: none !important;
}


@media print {
	
	.btn-print,
	.toggle-nutritives,
	.ui-tabs-nav,
	.footnote-bottom {
		display:none !important;
	}
	
	.container {
		width:800px !important;
		position: inherit !important;
		min-width: inherit !important;
		min-height: inherit !important;	
	}
	
	.title-container h1 {
		font-size: 20px;
	}
	
	.title-container h2 {
		font-size: 16px;
	}
	
	.FoodCategoryContainer {
    	box-shadow:none !important;
    	border-top: 1px solid #000;
    	overflow: visible !important;
    }
    
	.accordion-header {
		border-top: 2px solid #000 !important;
		background-color: #fff !important;
		color: #000 !important;
	}
	
	.accordion-header span {
		display:none;
	}
	
	.ui-accordion h3,
	.ui-accordion-content .FoodCategoryIconWrap h3,
	.ui-accordion-content .FoodCategoryIcon,
	.ui-accordion-content .FoodCategoryIcon:before {
		color:#000 !important;
	}
	
	.ui-accordion-content .dishDescription {
		max-width: 40%;
	}
	
	.ui-accordion-content .FoodCategoryContainer {
		page-break-inside:avoid;
		break-inside:auto;
	}
		
	.ui-accordion-content,
    .page-legend {
	    display: inline !important;
	    float:none;
		clear:both !important;
	} 

    .nutritives {
 	   font-size: 11px;
 	}
	
	.footnote .dishLabels {
 	   margin: 5px 0px 5px;
	}
	
	.page-legend {
		height: 160px;
		page-break-after: always;
		color:#000;
		margin-bottom: 25px;
		
		/* 
			the page break trick: use float:none !important;
			http://stackoverflow.com/questions/4884380/css-page-break-not-working-in-all-browsers	
		*/
		float: none !important;  
		display: block !important; 
        box-sizing: content-box !important;
		
	}
    
    .page-legend .tab-content div {
	   padding: 15px 0 0 15px !important;
	} 	
	
	.page-legend .tab-content p.note {
		margin-bottom: -15px;
	}
	
	/* IE 10 styles */
	html[data-useragent*='MSIE 10.0'] .title-container h2 {
		break-inside: auto; 
	}

	html[data-useragent*='MSIE 10.0'] .ui-accordion-content .FoodCategoryContainer {
		break-inside:auto;
	}

	html[data-useragent*='MSIE 10.0'] .page-legend {
		break-after: always;
	}
}
