@charset "UTF-8";
/*
Author:    Sebastian Dubbel
Website:   www.beckerspaeth.de
E-Mail:    dubbel@beckerspaeth.de
Encoding:  UTF-8
*/


/*-------------------------------------------------------------------
TYPOGRAPHY
-------------------------------------------------------------------*/

.typography * {
	/* set font family here */
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
}

/* font-family and font-size */
.typography p,
.typography ol,
.typography ul,
.typography dl,
.typography th,
.typography td,
.typography textarea {
	font-size: 13px;
}

/* margins and line-height */
.typography p,
.typography ol,
.typography ul,
.typography dl,
.typography form {
	margin-top: 18px;
	line-height: 18px;
}

.typography strong {
	font-weight: bold;
}

.typography em {
	font-style: italic;
}

/* margins */
.typography ul,
.typography ol {
	padding-left: 18px;
}

.typography ul ul, .typography ul ol, .typography ul dl,
.typography ol ol, .typography ol ul, .typography ol dl,
.typography dl ul, .typography dl ol {
	font-size: 100%;
}

.typography ul li,
.typography ol li {
	margin-top: 5px;
}

.typography ul li {
	list-style-type: disc;
}

.typography ol li {
	list-style-type: decimal;
}


/*-------------------------------------------------------------------
TYPOGRAPHIC CLASSES
-------------------------------------------------------------------*/
.typography .kein-abstand {
	margin-top: 0 !important;
}


/*-------------------------------------------------------------------
IMAGES
-------------------------------------------------------------------*/
.typography img {
	line-height: 0;
	color: #000;	/* set color so that it has enaough contrast to background-color */
}


/*-------------------------------------------------------------------
LINKS
-------------------------------------------------------------------*/

.typography a,
.typography a:link,
.typography a:visited {

}

.typography a:hover,
.typography a:active,
.typography a:focus {
}

.typography a img {
	border: none;
}


/*-------------------------------------------------------------------
IMAGES
-------------------------------------------------------------------*/
.typography img {
	border: none;
}
